<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#/service/addService">主页</a></li>
            <li><a>超级推管理</a></li>
            <li class="active"><strong>商户查询</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="superPushMerchantQueryCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>超级推商户查询</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商户编号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.merchantNo">
                            </div>
                            <label class="col-sm-2 control-label">商户手机号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.mobilephone">
                            </div>
                            <label class="col-sm-2 control-label">商户状态：</label>
                            <div class="col-sm-2">
                                <select class="form-control"  ng-model="baseInfo.status" ng-options="x.value as x.text for x in merchantStates">
                                    <option value="" selected>全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">直属代理商：</label>
                            <div class="col-sm-2">
                                <select chosen="{width:'100%'}"  class="chosen-select" tabindex="4" ng-model="baseInfo.agentNo" ng-options="x.value as x.text for x in agentList">
                                    <option value="">全部</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">注册时间：</label>
                            <div class="col-sm-6">
                                <!--<input id="d5221" class="form-control" type="datetime" ng-model="baseInfo.startCreateTime" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>

                                ~
                                <input id="d5222" class="form-control" type="datetime"  ng-model="baseInfo.endCreateTime" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5221\')}'})"/>-->
                                <input id="d5221" class="form-control" type="datetime" ng-model="baseInfo.startCreateTime" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTime(1,'#d5221','#d5222',31,isVerifyTime),onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')||\'%y-%M-%d\'}'})"/>
                                ~
                                <input id="d5222" class="form-control" type="datetime"  ng-model="baseInfo.endCreateTime" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTime(2,'#d5221','#d5222',31,isVerifyTime),minDate:'#F{$dp.$D(\'d5221\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
                                <br/><span><font color="#999">备注：查询范围不能超过31天</font></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上一级商户编号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.oneMerchantNo">
                            </div>
                            <label class="col-sm-2 control-label">上二级商户编号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.twoMerchantNo">
                            </div>
                            <label class="col-sm-2 control-label">上三级商户编号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.threeMerchantNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button class="btn btn-primary6  btn-mr20"  ng-click="querySuperPushMerchant()">查询</button>
                                <button class="btn btn-primary3" type="button" ng-click="resetForm()">清空</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>超级推商户列表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="gridStyle" ui-grid="merchantGrid" ui-grid-selection ui-grid-pagination
                             ui-grid-resize-columns ui-grid-pinning></div>
                    </div>
                </div>
                <div style="height:30px;"></div>
            </div>
        </div>
    </form>
</div>
