<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>后台管理系统</title>
<div th:replace="common/headerPage::header_page"></div>

<script type="text/javascript" th:inline="javascript">
	$(function() {
		var token = [[${_csrf.token}]];
		$('#menu_tree').tree({
			url:'/menu/tree?_csrf='+token,
			lines:true,
			loadFilter: function(data){
				if (data.success){
					return data.data;
				}else {
					$.messager.alert('提示',data.msg,'warning');
				}
		    },
			onClick: function(node){
				var exists = $('#center_tabs').tabs('exists',node.text);
				if(exists){
					$('#center_tabs').tabs('select',node.text);
				}else {
					if(node.attributes.load){
						$('#center_tabs').tabs('add',{
						    title:node.text,
						    closable:true,
						    content:'<iframe name="indextab" scrolling="auto" src="'+node.attributes.url+'" frameborder="0" style="width:100%;height:100%;"></iframe>'
						});
					}
				}
			}
		});
	});
	
</script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north',title:'后台管理系统'"
		style="height: 10%;">	
		<div>
		欢迎 :<span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.name}"></span>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="btn btn-default">登出</button>
			</form>
		</div>
	</div>
	<div data-options="region:'west',title:'菜单导航'" style="width: 20%;">
		<!-- 创建菜单树 -->
		<ul id="menu_tree"></ul>
	</div>
	<div data-options="region:'center'"
		style="padding: 5px; background: #eee;">
		<div id="center_tabs" class="easyui-tabs" data-options="fit:true">
		
		</div>
	</div>
	<div data-options="region:'south'"
		style="height: 10%;"></div>
</body>
</html>