<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>后台管理系统</title>
<div th:replace="common/headerPage::header_page"></div>

<script type="text/javascript" th:inline="javascript">
	$(function() {
		var token = [[${_csrf.token}]];
		$('#menu_tree').tree({
			url:'/menu/tree?_csrf='+token,
			loadFilter: function(data){
				if (data.success){
					return data.data;
				}else {
					$.messager.alert('提示',data.msg,'warning');
				}
		    },
			onClick: function(node){
				var exists = $('#center_tabs').tabs('exists',node.text);
				if(node.attributes.url != '#'){
					if(!exists){
						$('#center_tabs').tabs('add',{
						    title:node.text,
						    closable:true,
						    href:node.attributes.url,
						    tools:[{
								iconCls:'icon-mini-refresh',
								handler:function(){
									var tab = $('#center_tabs').tabs('getSelected');
									tab.panel('refresh');
								}
						    }]
						});
					}else {
						// 先关闭原来的 再添加一个
						$('#center_tabs').tabs('close',node.text);
						$('#center_tabs').tabs('add',{
						    title:node.text,
						    closable:true,
						    href:node.attributes.url,
						    tools:[{
								iconCls:'icon-mini-refresh',
								handler:function(){
									var tab = $('#center_tabs').tabs('getSelected');
									tab.panel('refresh');
								}
						    }]
						});
						
						
					}
				}
			}
		});
	});
	function p(data){
		console.debug(data);
	}
	
	function strToJsonObject(str){
		return eval('(' + str + ')');
	}
</script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north',title:'North Title'"
		style="height: 10%;"></div>
	<div data-options="region:'south',title:'South Title'"
		style="height: 20%;"></div>
	<div data-options="region:'west',title:'菜单'" style="width: 20%;">
		<!-- 创建菜单树 -->
		<ul id="menu_tree"></ul>
	</div>
	<div data-options="region:'center'"
		style="padding: 5px; background: #eee;">
		<div id="center_tabs" class="easyui-tabs" data-options="fit:true">
		
		</div>
	</div>
</body>
</html>