<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<div th:replace="common/header :: header-css"></div>
<div th:replace="common/header :: header-js"></div>
</head>
<body>
	<form class="form-horizontal" th:action="@{/login}" th:method="post">
		<div th:if="${param.logout}" class="form-group has-error">
			<label class="col-sm-2 control-label" for="inputError1">您已登出</label>
		</div>
		<div th:if="${param.error}" class="form-group has-error">
			<label class="col-sm-2 control-label" for="inputError1"><p
					th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p></label>
		</div>
		<div class="form-group">
			<label for="username" class="col-sm-2 control-label">用户名</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="username"
					name="username" placeholder="登录名" />
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">登录密码</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="password"
					name="password" placeholder="密码" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<label> <input type="checkbox" name="remember-me" /> 记住我
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">登录</button>
			</div>
		</div>
	</form>
</body>
</html>