<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<div th:replace="common/header::header_page"></div>
<script type="text/javascript">
	$(function() {
		$('#username').textbox({
			buttonText : '用户名',
			iconCls : 'icon-man',
			iconAlign : 'left'
		});
		$('#password').passwordbox({
			prompt : '密码',
			showEye : true
		});

	});
</script>

</head>
<body>
	<p>后台系统登录</p>
	<form th:action="@{/login}" th:method="post">
		<div th:if="${param.logout}">
			<label>您已登出</label>
		</div>
		<div th:if="${param.error}">
			<label><p
					th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p></label>
		</div>
		<input id="username" name="username"/>
		<input id="password" name="password" /> <label>
			<input id="remember-me" type="checkbox" name="remember-me"  /> 记住我
		</label>
		<button type="submit">登录</button>
	</form>
</body>
</html>