<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">主页</a></li>
            <li>银行家</li>
            <li>排行榜管理</li>
            <li class="active"><strong>详情</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="rankingRecordDetailCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>基本信息</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">编号：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.rankingNo">
                            </div>
                            <label class="col-sm-2 control-label">榜单状态：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.status | formatDropping: statusType">
                            </div>
                            <label class="col-sm-2 control-label">规则编号：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.ruleNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排行榜名称：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.rankingName">
                            </div>
                            <label class="col-sm-2 control-label">统计周期：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.rankingType  | formatDropping: rankingTypes">
                            </div>
                            <label class="col-sm-2 control-label">期号：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.batchNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">本期获奖人数：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.pushNum">
                            </div>
                            <label class="col-sm-2 control-label">本期奖金：</label>
                            <div class="col-sm-2 checkbox" >
                                <span ng-bind="baseInfo.pushTotalAmount | currency:''"></span>元
                            </div>
                            <label class="col-sm-2 control-label">所属组织：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.orgName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">实发获奖人数：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.pushRealNum">
                            </div>
                            <label class="col-sm-2 control-label">实发奖金：</label>
                            <div class="col-sm-2 checkbox" >
                                <span ng-bind="baseInfo.pushRealAmount | currency:''"></span>元
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">统计时间段：</label>
                            <div class="col-sm-4 checkbox" >
                                <span ng-bind="baseInfo.startDate | date:'yyyy-MM-dd HH:mm:ss'"></span>
                                ~~
                                <span ng-bind="baseInfo.endDate | date:'yyyy-MM-dd HH:mm:ss'"></span>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>榜单明细</h5>
                    </div>

                    <div class="ibox-content">
                        <div class="form-group">
                            <div class="col-sm-3 checkbox">人数：<span ng-bind="peopleCount"></span>人</div>
                            <div class="col-sm-3 checkbox">统计总额：<span ng-bind="userTotalAmountCount | currency:''"></span>元</div>
                        </div>
                        <div class="tposition">
                            <div class="gridStyle" ui-grid="myGrid" ui-grid-selection ui-grid-pagination
                                 ui-gstatusrid-resize-columns ui-grid-pinning></div>
                            <div ng-show="loadImg" class="timg"></div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 30px">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <button class="btn btn-primary4 btn-mr20" type="button" ui-sref="superBank.rankingRecord">返回</button>
                        </div>
                    </div>
                </div>
                <div style="height:30px;"></div>
            </div>
        </div>
    </form>
</div>
