<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.eeepay.framework.dao.bill.AcqOutBillMapper" >
  <resultMap id="BaseResultMap" type="cn.eeepay.framework.model.bill.AcqOutBill" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="out_bill_id" property="outBillId" jdbcType="INTEGER" />
    <result column="acq_org_no" property="acqOrgNo" jdbcType="VARCHAR" />
    <result column="today_amount" property="todayAmount" jdbcType="DECIMAL" />
    <result column="today_history_balance" property="todayHistoryBalance" jdbcType="DECIMAL" />
    <result column="today_balance" property="todayBalance" jdbcType="DECIMAL" />
    <result column="today_balance" property="todayBalance" jdbcType="DECIMAL" />
    <result column="out_account_task_amount" property="outAccountTaskAmount" jdbcType="DECIMAL" />
    <result column="out_amount" property="outAmount" jdbcType="DECIMAL" />
    <result column="out_bill_result" property="outBillResult" jdbcType="VARCHAR" />
    <result column="acq_reference" property="acqReference" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>