<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.eeepay.framework.dao.bill.SettleTransferFileMapper" >
  <resultMap id="BaseResultMap" type="cn.eeepay.framework.model.bill.SettleTransferFile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_md5" property="fileMd5" jdbcType="VARCHAR" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="transfer_operator_id" property="transferOperatorId" jdbcType="INTEGER" />
    <result column="transfer_operator_name" property="transferOperatorName" jdbcType="VARCHAR" />
    <result column="total_num" property="totalNum" jdbcType="INTEGER" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="transfer_time" property="transferTime" jdbcType="TIMESTAMP" />
    <result column="settle_bank" property="settleBank" jdbcType="VARCHAR" />
    <result column="out_acc_no" property="outAccNo" jdbcType="VARCHAR" />
    <result column="out_acc_name" property="outAccName" jdbcType="VARCHAR" />
    <result column="out_bank_no" property="outBankNo" jdbcType="VARCHAR" />
    <result column="out_bank_name" property="outBankName" jdbcType="VARCHAR" />
    <result column="out_settle_bank_no" property="outSettleBankNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="err_code" property="errCode" jdbcType="VARCHAR" />
    <result column="err_msg" property="errMsg" jdbcType="VARCHAR" />
    <result column="bak1" property="bak1" jdbcType="VARCHAR" />
    <result column="bak2" property="bak2" jdbcType="VARCHAR" />
    
    <result column="total" property="total" jdbcType="VARCHAR" />
  </resultMap>
 
</mapper>