<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.eeepay.framework.dao.bill.SubOutBillDetailMapper" >
  <resultMap id="BaseResultMap" type="cn.eeepay.framework.model.bill.SubOutBillDetail" >
    
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="out_bill_detail_id" property="outBillDetailId" jdbcType="VARCHAR" />
    <result column="out_bill_id" property="outBillId" jdbcType="INTEGER" />
    <result column="settle_time" property="settleTime" jdbcType="TIMESTAMP" />
    <result column="trans_time" property="transTime" jdbcType="TIMESTAMP" />
    <result column="trans_amount" property="transAmount" jdbcType="DECIMAL" />
    <result column="order_reference_no" property="orderReferenceNo" jdbcType="VARCHAR" />
    <result column="out_account_note" property="outAccountNote" jdbcType="VARCHAR" />
    <result column="record_status" property="recordStatus" jdbcType="VARCHAR" />
    <result column="out_bill_status" property="outBillStatus" jdbcType="INTEGER" />
    <result column="verify_flag" property="verifyFlag" jdbcType="VARCHAR" />
    <result column="verify_msg" property="verifyMsg" jdbcType="VARCHAR" />
    <result column="acq_enname" property="acqEnname" jdbcType="VARCHAR" />
    <result column="acq_org_no" property="acqOrgNo" jdbcType="VARCHAR" />
    <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR" />
    <result column="merchant_balance" property="merchantBalance" jdbcType="DECIMAL" />
    <result column="out_account_task_amount" property="outAccountTaskAmount" jdbcType="DECIMAL" />
    <result column="is_add_bill" property="isAddBill" jdbcType="VARCHAR" />
    <result column="change_remark" property="changeRemark" jdbcType="VARCHAR" />
    <result column="change_operator_id" property="changeOperatorId" jdbcType="INTEGER" />
    <result column="change_operator_name" property="changeOperatorName" jdbcType="VARCHAR" />
    <result column="plate_merchant_entry_no" property="plateMerchantEntryNo" jdbcType="VARCHAR" />
    <result column="acq_merchant_no" property="acqMerchantNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
</mapper>