<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eeepay.framework.dao.bill.SuperPushShareDaySettleMapper">
  <resultMap id="BaseResultMap" type="cn.eeepay.framework.model.bill.SuperPushShareDaySettle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="collection_batch_no" jdbcType="VARCHAR" property="collectionBatchNo" />
    <result column="group_time" jdbcType="TIMESTAMP" property="groupTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="share_type" jdbcType="VARCHAR" property="shareType" />
    <result column="share_no" jdbcType="VARCHAR" property="shareNo" />
    <result column="share_name" jdbcType="VARCHAR" property="shareName" />
    <result column="share_total_amount" jdbcType="DECIMAL" property="shareTotalAmount" />
    <result column="share_total_num" jdbcType="INTEGER" property="shareTotalNum" />
    <result column="enter_account_status" jdbcType="VARCHAR" property="enterAccountStatus" />
    <result column="enter_account_time" jdbcType="TIMESTAMP" property="enterAccountTime" />
    <result column="enter_account_message" jdbcType="VARCHAR" property="enterAccountMessage" />
  </resultMap>
</mapper>