<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>聚合平台</a></li>
            <li class="active"><strong>Mpos激活查询详情</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="mposActiveOrderDetailCtrl">
    <form class="form-horizontal" name="horizontal" >
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>商户激活信息</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">订单编号：</label>
                            <div class="col-sm-2 checkbox wbba" ng-bind="baseInfo.orderNo">
                            </div>
                            <label class="col-sm-1 control-label">V2商户编号：</label>
                            <div class="col-sm-2 checkbox wbba" ng-bind="baseInfo.v2MerchantCode">
                            </div>
                            <label class="col-sm-1 control-label">V2商户名称：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.v2MerchantName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">商户手机号：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.v2MerchantPhone">
                            </div>
                            <label class="col-sm-1 control-label">进件机具SN：</label>
                            <div class="col-sm-2 checkbox wbba" ng-bind="baseInfo.snNo">
                            </div>
                            <label class="col-sm-1 control-label">设备类型：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.typeName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">创建时间：</label>
                            <div class="col-sm-2 checkbox wbba" ng-bind="baseInfo.createDate | date:'yyyy-MM-dd HH:mm:ss'">
                            </div>
                            <label class="col-sm-1 control-label">进件时间：</label>
                            <div class="col-sm-2 checkbox wbba" ng-bind="baseInfo.registerDate | date:'yyyy-MM-dd HH:mm:ss'">
                            </div>
                            <label class="col-sm-1 control-label">活动状态：</label>
                            <div class="col-sm-2 checkbox" ng-bind='(statusList | filter : {"value" : baseInfo.status})[0].text'>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">激活时间：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.activeDate | date:'yyyy-MM-dd HH:mm:ss'">
                            </div>
                            <label class="col-sm-1 control-label">所属组织id：</label>
                            <div class="col-sm-2 checkbox wbba" ng-bind="baseInfo.orgId">
                            </div>
                            <label class="col-sm-1 control-label">所属组织名称：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.orgName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">所属采购者ID：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.userCode">
                            </div>
                            <label class="col-sm-1 control-label">所属采购者姓名：</label>
                            <div class="col-sm-2 checkbox wbba" ng-bind="baseInfo.userName">
                            </div>
                            <label class="col-sm-1 control-label">采购者手机号：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">采购者备注：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.remark">
                            </div>
                            <label class="col-sm-1 control-label">所属采购者省市区：</label>
                            <div class="col-sm-1 checkbox wbba" ng-bind="baseInfo.provinceName">
                            </div>
                            <div class="col-sm-1 checkbox" ng-bind="baseInfo.cityName">
                            </div>
                            <div class="col-sm-1 checkbox" ng-bind="baseInfo.districtName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">激活返现金额：</label>
                            <div class="col-sm-2 checkbox wbba" ng-bind="baseInfo.activeReturnBonus | currency:'￥ '">
                            </div>
                            <label class="col-sm-1 control-label">补贴入账状态：</label>
                            <div class="col-sm-2 checkbox" ng-bind='(accountStatusList | filter : {"value" : baseInfo.accountStatus})[0].text'>
                            </div>
                            <label class="col-sm-1 control-label">补贴发放时间：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.completeDate | date:'yyyy-MM-dd HH:mm:ss'">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>激活奖励分润</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">激活奖金包：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.totalBonus | currency:'￥ ' " >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">一级编号：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.oneUserCode">
                            </div>
                            <label class="col-sm-1 control-label">一级名称：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.oneUserName">
                            </div>
                            <label class="col-sm-1 control-label">一级身份：</label>
                            <div class="col-sm-2 checkbox" ng-bind='(userTypeList | filter : {"value" : baseInfo.oneUserType})[0].text'>
                            </div>
                            <label class="col-sm-1 control-label">一级分润：</label>
                            <div class="col-sm-2 checkbox" ng-show="baseInfo.oneUserCode!=null&&baseInfo.oneUserCode!=''"
                                 ng-bind="baseInfo.oneUserProfit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">二级编号：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.twoUserCode">
                            </div>
                            <label class="col-sm-1 control-label">二级名称：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.twoUserName">
                            </div>
                            <label class="col-sm-1 control-label">二级身份：</label>
                            <div class="col-sm-2 checkbox" ng-bind='(userTypeList | filter : {"value" : baseInfo.twoUserType})[0].text'>
                            </div>
                            <label class="col-sm-1 control-label">二级分润：</label>
                            <div class="col-sm-2 checkbox" ng-show="baseInfo.twoUserCode!=null&&baseInfo.twoUserCode!=''"
                                 ng-bind="baseInfo.twoUserProfit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">三级编号：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.thrUserCode">
                            </div>
                            <label class="col-sm-1 control-label">三级名称：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.thrUserName">
                            </div>
                            <label class="col-sm-1 control-label">三级身份：</label>
                            <div class="col-sm-2 checkbox" ng-bind='(userTypeList | filter : {"value" : baseInfo.thrUserType})[0].text'>
                            </div>
                            <label class="col-sm-1 control-label">三级分润：</label>
                            <div class="col-sm-2 checkbox" ng-show="baseInfo.thrUserCode!=null&&baseInfo.thrUserCode!=''"
                                 ng-bind="baseInfo.thrUserProfit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">四级编号：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.fouUserCode">
                            </div>
                            <label class="col-sm-1 control-label">四级名称：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.fouUserName">
                            </div>
                            <label class="col-sm-1 control-label">四级身份：</label>
                            <div class="col-sm-2 checkbox" ng-bind='(userTypeList | filter : {"value" : baseInfo.fouUserType})[0].text'>
                            </div>
                            <label class="col-sm-1 control-label">四级分润：</label>
                            <div class="col-sm-2 checkbox" ng-show="baseInfo.fouUserCode!=null&&baseInfo.fouUserCode!=''"
                                 ng-bind="baseInfo.fouUserProfit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">组织分润：</label>
                            <div class="col-sm-2 checkbox" ng-bind="baseInfo.orgProfit | currency:'￥ ' ">
                            </div>

                        </div>
                        <div class="form-group" style="margin-top:30px">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-8">
                                <input type="button" class="btn btn-primary4 btn-mr20" ui-sref="superBank.mposActiveOrder" value='返回'>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </form>
</div>

