<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="index.html">主页</a></li>
			<li>业务活动</li>
			<li class="active"><strong>欢乐返商户查询</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn"
	ng-controller="happyBackCtrl">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>欢乐返商户查询</h5>
				</div>
				<div class="ibox-content">
					<form class="form-horizontal" id="form1">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel-body ibox float-e-margins">
									<div class="ibox-content">
										<div class="form-group">
											<label class="col-sm-2 control-label">激活流水号：</label>
											<div class="col-sm-2">
												<input type="text" class="form-control" ng-model='baseInfo.activeOrder'>
											</div>
											<label class="col-sm-2 control-label">活动类型：</label>
											<div class="col-sm-2">
												<select class="form-control" ng-model='baseInfo.activityCode' ng-change="checkActivityCode(baseInfo.activityCode)" ng-options="x.value as x.text for x in subjectTypes"/>
											</div>
											<label class="col-sm-2 control-label">活动状态：</label>
											<div class="col-sm-2">
												<select class="form-control" ng-model='baseInfo.status' ng-change="hideActivityTime()" ng-options="x.value as x.text for x in activityStatus">
												</select>
											</div>
										</div>
										<div class="form-group">

											<label class="col-sm-2 control-label">商户编号/名称：</label>
											<div class="col-sm-2">
												<input type="text" class="form-control" ng-model='baseInfo.merchantN'>
											</div>
											<label class="col-sm-2 control-label">代理商编号/名称：</label>
											<div class="col-sm-2">
												<select chosen="{width:'100%'}"  class="chosen-select" tabindex="4" ng-model='baseInfo.agentNode' ng-change="changeAgentNode()" ng-options="x.value as x.text for x in agent"/>
											</div>
											<label class="col-sm-2 control-label">商户类型：</label>
											<div class="col-sm-2">
												<select ng-disabled="disabledMerchantType"  class="form-control" tabindex="4" ng-model='baseInfo.merchantType'>
													<option value="1" selected>直营商户</option>
													<option value="2">所有下级代理商商户</option>
													<option value="3">所有商户</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">交易金额：</label>
											<div class="col-sm-2">
												<input type="number" class="form-control"
													   ng-model='baseInfo.transTotal'>
											</div>
											<label class="col-sm-2 control-label">账务部核算状态：</label>
											<div class="col-sm-2">
												<select class="form-control" ng-model='baseInfo.accountCheckStatus' ng-options="x.value as x.text for x in settleStatus"></select>
											</div>
											<label class="col-sm-2 control-label">清算部核算状态：</label>
											<div class="col-sm-2">
												<select class="form-control" ng-model='baseInfo.liquidationStatus' ng-change='liquidation()' ng-options="x.value as x.text for x in settleStatus"></select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">激活日期：</label>
											<div class="col-sm-5">
												<!--<input id="d5221" class="form-control" type="datetime" ng-model="baseInfo.activeTimeStart" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd',changed:verifyTime(1,'#d5221','#d5222',31,isVerifyTime),onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
												<input id="d5222" class="form-control" type="datetime"  ng-model="baseInfo.activeTimeEnd" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd',changed:verifyTime(1,'#d5221','#d5222',31,isVerifyTime),minDate:'#F{$dp.$D(\'d5221\')}'})"/>
												<br/><span><font color="#999">备注：查询范围不能超过31天</font></span>-->
												<input id="d5221" class="form-control" type="datetime" ng-model="baseInfo.activeTimeStart" onchange=""  style="width:auto;display:inline-block;"
													   ng-focus="startActiveTimeFocus($event)"/>
													   <!--onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(1,'#d5221','#d5222',365,isVerifyTime,setActiveTimeStart,setActiveTimeEnd),onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>-->
												~
												<input id="d5222" class="form-control" type="datetime"  ng-model="baseInfo.activeTimeEnd" onchange=""  style="width:auto;display:inline-block;"
													   ng-focus="endActiveTimeFocus($event)"/>
													   <!--onFocus=""/>-->
												<br/><span><font color="#999">备注：查询范围不能超过365天</font></span>
											</div>
											<label class="col-sm-2 control-label" ng-show="currentLoginAgentIsFirstLevel">返现金额：</label>
											<div class="col-sm-2" ng-show="currentLoginAgentIsFirstLevel">
												<input type="number" class="form-control"
													   ng-model='baseInfo.cashBackAmount'>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" >清算部核算日期：</label>
											<div class="col-sm-5">
											<!--	<input id="d5223" class="form-control" type="datetime" ng-model="baseInfo.liquidationTimeStart" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d5224=$dp.$('d5224');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd',onpicked:function(){d5224.focus();},maxDate:'#F{$dp.$D(\'d5224\')}'})"/>
												<input id="d5224" class="form-control" type="datetime"  ng-model="baseInfo.liquidationTimeEnd" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd',minDate:'#F{$dp.$D(\'d5223\')}'})"/>-->
												<input id="d5223" class="form-control" type="datetime" ng-model="baseInfo.liquidationTimeStart" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d5224=$dp.$('d5224');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(1,'#d5223','#d5224',31,isVerifyTime,setLiquidationTimeStart,setLiquidationTimeEnd),onpicked:function(){d5224.focus();},maxDate:'#F{$dp.$D(\'d5224\')}'})"/>
												~
												<input id="d5224" class="form-control" type="datetime"  ng-model="baseInfo.liquidationTimeEnd" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(2,'#d5223','#d5224',31,isVerifyTime,setLiquidationTimeStart,setLiquidationTimeEnd),minDate:'#F{$dp.$D(\'d5223\')}'})"/>
												<br/>
												<span><font color="#999">备注：查询范围不能超过31天</font></span>
											</div>
											<label class="col-sm-2 control-label">商户手机号：</label>
											<div class="col-sm-2">
												<input type="text" class="form-control"
													   ng-model='baseInfo.mobilephone'>
											</div>
<!-- 											<label class="col-sm-2 control-label" ng-show="currentLoginAgentIsFirstLevel">直属下级代理商编号：</label> -->
<!-- 											<div class="col-sm-2" > -->
<!-- 												<input type="text" class="form-control" ng-model='baseInfo.directAgentNo'> -->
<!-- 											</div> -->
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" >累计交易金额：</label>
											<div class="col-sm-5">
												<input style="width:auto;display:inline-block;" type="number" class="form-control" ng-model='baseInfo.minCumulateTransAmount'/>
												<input style="width:auto;display:inline-block;" type="number" class="form-control" ng-model='baseInfo.maxCumulateTransAmount'/>
											</div>
											<label class="col-sm-2 control-label">是否重复注册:</label>
											<div class="col-sm-2">
												<select class="form-control" ng-model='baseInfo.repeatRegister' ng-options="x.value as x.text for x in repeatRegisters"></select>
											</div>
<!-- 											<label class="col-sm-2 control-label" ng-show="currentLoginAgentIsFirstLevel">直属下级入账状态：</label> -->
<!-- 											<div class="col-sm-2"> -->
<!-- 												<select class="form-control" ng-model='baseInfo.directEntryStatus' ng-options="x.value as x.text for x in accountTypeList"></select> -->
<!-- 											</div> -->
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" >奖励达标时间：</label>
											<div class="col-sm-5">
												<!--<input id="d5227" class="form-control" type="datetime" ng-model="baseInfo.minStandardTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d5226=$dp.$('d5226');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5226.focus();},maxDate:'#F{$dp.$D(\'d5226\')}'})"/>
												<input id="d5226" class="form-control" type="datetime"  ng-model="baseInfo.maxStandardTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5225\')}'})"/>-->
												<input id="d5225" class="form-control" type="datetime" ng-model="baseInfo.minStandardTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d5226=$dp.$('d5226');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(1,'#d5225','#d5226',31,isVerifyTime,setMinStandardTime,setMaxStandardTime),onpicked:function(){d5226.focus();},maxDate:'#F{$dp.$D(\'d5226\')||\'%y-%M-%d\'}'})"/>
												~
												<input id="d5226" class="form-control" type="datetime"  ng-model="baseInfo.maxStandardTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(2,'#d5225','#d5226',31,isVerifyTime,setMinStandardTime,setMaxStandardTime),minDate:'#F{$dp.$D(\'d5225\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
												<br/><span><font color="#999">备注：查询范围不能超过31天</font></span>
											</div>
											<label class="col-sm-2 control-label" >奖励是否达标：</label>
											<div class="col-sm-2" >
												<select class="form-control" ng-model='baseInfo.isStandard' ng-options="x.value as x.text for x in isStandards"></select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" >扣款时间：</label>
											<div class="col-sm-5">
												<!--<input id="d5227" class="form-control" type="datetime" ng-model="baseInfo.minMinusAmountTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d5228=$dp.$('d5228');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5228.focus();},maxDate:'#F{$dp.$D(\'d5228\')}'})"/>
												<input id="d5228" class="form-control" type="datetime"  ng-model="baseInfo.maxMinusAmountTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5227\')}'})"/>-->
												<input id="d5227" class="form-control" type="datetime" ng-model="baseInfo.minMinusAmountTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d5228=$dp.$('d5228');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(1,'#d5227','#d5228',31,isVerifyTime,setMinMinusAmountTime,setMaxMinusAmountTime),onpicked:function(){d5228.focus();},maxDate:'#F{$dp.$D(\'d5228\')||\'%y-%M-%d\'}'})"/>
												~
												<input id="d5228" class="form-control" type="datetime"  ng-model="baseInfo.maxMinusAmountTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(2,'#d5227','#d5228',31,isVerifyTime,setMinMinusAmountTime,setMaxMinusAmountTime),minDate:'#F{$dp.$D(\'d5227\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
												<br/><span><font color="#999">备注：查询范围不能超过31天</font></span>
											</div>
											<label class="col-sm-2 control-label">活动子类型：</label>
											<div class="col-sm-2">
												<select class="form-control" ng-model="baseInfo.activityTypeNo"
														ng-options="x.value as x.text for x in typeNos">
													<option value="" selected>全部</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" >奖励时间：</label>
											<div class="col-sm-5">
												<!--<input id="d5229" class="form-control" type="datetime" ng-model="baseInfo.minAddAmountTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d5230=$dp.$('d5230');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5230.focus();},maxDate:'#F{$dp.$D(\'d5230\')}'})"/>
												<input id="d5230" class="form-control" type="datetime"  ng-model="baseInfo.maxAddAmountTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5229\')}'})"/>-->
												<input id="d5229" class="form-control" type="datetime" ng-model="baseInfo.minAddAmountTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d5228=$dp.$('d5230');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(1,'#d5229','#d5230',31,isVerifyTime,setMinAddAmountTime,setMaxAddAmountTime),onpicked:function(){d5230.focus();},maxDate:'#F{$dp.$D(\'d5230\')||\'%y-%M-%d\'}'})"/>
												~
												<input id="d5230" class="form-control" type="datetime"  ng-model="baseInfo.maxAddAmountTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(2,'#d5229','#d5230',31,isVerifyTime,setMinAddAmountTime,setMaxAddAmountTime),minDate:'#F{$dp.$D(\'d5229\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
												<br/><span><font color="#999">备注：查询范围不能超过31天</font></span>
											</div>
											<label class="col-sm-2 control-label">商户组织：</label>
											<div class="col-sm-2"  ng-show="!showSelect">
												<select chosen="{width:'100%'}" class="chosen-select form-control"  ng-model="baseInfo.merTeamId"
														ng-options="x.value as x.text for x in merTeams">
													<option value=""></option>
												</select>
											</div>
											<div class="col-sm-2 checkbox" ng-show="showSelect"><p ng-bind="baseInfo.merTeamId | formatDropping:merTeams"></p></div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" >入账日期：</label>
											<div class="col-sm-5">
												<!--<input id="d6229" class="form-control" type="datetime" ng-model="baseInfo.minBillingTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d6230=$dp.$('d6230');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d6230.focus();},maxDate:'#F{$dp.$D(\'d6230\')}'})"/>
												<input id="d6230" class="form-control" type="datetime"  ng-model="baseInfo.maxBillingTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d6229\')}'})"/>-->
												<input id="d5231" class="form-control" type="datetime" ng-model="baseInfo.minBillingTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="var d5228=$dp.$('d5232');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(1,'#d5231','#d5232',31,isVerifyTime,setMinBillingTime,setMaxBillingTime),onpicked:function(){d5232.focus();},maxDate:'#F{$dp.$D(\'d5232\')||\'%y-%M-%d\'}'})"/>
												~
												<input id="d5232" class="form-control" type="datetime"  ng-model="baseInfo.maxBillingTime" onchange=""  style="width:auto;display:inline-block;"
													   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(2,'#d5231','#d5232',31,isVerifyTime,setMinBillingTime,setMaxBillingTime),minDate:'#F{$dp.$D(\'d5231\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
												<br/><span><font color="#999">备注：查询范围不能超过31天</font></span>
											</div>
											<label class="col-sm-2 control-label">入账状态：</label>
											<div class="col-sm-2">
												<select class="form-control" ng-model='baseInfo.billingStatus' ng-options="x.value as x.text for x in billingStatus"></select>
											</div>

										</div>
										<div class="form-group">
											<label class="col-sm-2"></label>
											<div class="col-sm-10">
												<button class="btn btn-primary6 btn-mr20" type="button"
													ng-click='query()' id="btnSubmit">查询</button>
													<button class="btn btn-primary3 btn-mr20" type="button"
													ng-click="resetForm()">清空</button>
												<button class="btn btn-new btn-mr20" type="button"
													ng-click="exportExcel()">导出</button>
											</div>
										</div>
									</div>
								</div>

								<div class="panel-body ibox float-e-margins">
									<div class="ibox-title">
										<h5>列表</h5>
										<!--<div ibox-tools="" class="ng-scope"></div>-->
									</div>
									<div class="form-group">
										<label class="col-sm-1 control-label">统计</label>
										<div class="col-sm-2 checkbox">总条数：<span ng-bind="totalCount"></span>条</div>
										<div class="col-sm-2 checkbox" >累计金额：{{totalData.totalTransTotal | currency:'' }} 元</div>
										<div class="col-sm-2 checkbox" ng-show="currentLoginAgentIsFirstLevel">已扣回代理商金额：{{totalData.totalEmptyAmount  | currency:''}} 元</div>
										<div class="col-sm-2 checkbox" ng-show="currentLoginAgentIsFirstLevel">发起预调账金额：{{totalData.totalAdjustmentAmount  | currency:''}}元</div>
										<div class="col-sm-2 checkbox" ng-show="currentLoginAgentIsFirstLevel">已奖励金额：{{totalData.totalFullAmount  | currency:''}} 元</div>
									</div>
									<div class="ibox-content">
										<div class="gridStyle" ui-grid="activityGrid"
											ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-pinning></div>
									</div>
								</div>
								<div style="height: 50px"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div style="height: 30px;"></div>
</div>