<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">主页</a></li>
            <li>业务活动</li>
            <li class="active"><strong>商户收益查询</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn"
     ng-controller="merchantIncomeCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>商户收益查询</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="form1">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel-body ibox float-e-margins">
                                    <div class="ibox-content">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">商户编号：</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control"
                                                       ng-model='info.merchantNo'>
                                            </div>
                                            <label class="col-sm-2 control-label">商户名称：</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control"
                                                       ng-model='info.merchantName'>
                                            </div>
                                            <label class="col-sm-2 control-label">商户手机号：</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control"
                                                       ng-model='info.mobilephone'>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">创建时间：</label>
                                            <div class="col-sm-6">
                                                <!--<input id="d5223" class="form-control" type="datetime" ng-model="info.startCreateTime" onchange=""  style="width:auto;display:inline-block;"
                                                       onFocus="var d5224=$dp.$('d5224');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5224.focus();},maxDate:'#F{$dp.$D(\'d5224\')}'})"/>
                                                ~
                                                <input id="d5224" class="form-control" type="datetime"  ng-model="info.endCreateTime" onchange=""  style="width:auto;display:inline-block;"
                                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5223\')}'})"/>-->
                                                <input id="d5223" class="form-control" type="datetime" ng-model="info.startCreateTime" onchange=""  style="width:auto;display:inline-block;"
                                                       onFocus="var d5224=$dp.$('d5224');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTime(1,'#d5223','#d5224',31,isVerifyTime),onpicked:function(){d5224.focus();},maxDate:'#F{$dp.$D(\'d5224\')||\'%y-%M-%d\'}'})"/>
                                                ~
                                                <input id="d5224" class="form-control" type="datetime"  ng-model="info.endCreateTime" onchange=""  style="width:auto;display:inline-block;"
                                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTime(2,'#d5223','#d5224',31,isVerifyTime),minDate:'#F{$dp.$D(\'d5223\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
                                                <br/><span><font color="#999">备注：查询范围不能超过31天</font></span>
                                            </div>
                                            <label class="col-sm-2 control-label">活动类型：</label>
                                            <div class="col-sm-2">
                                                <select class="form-control" ng-model="info.activityCode" ng-options="x.value as x.text for x in activityCodes">
                                                    <option value="" selected>全部</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">交易金额：</label>
                                            <div class="col-sm-6">
                                                <input type="number" class="form-control" style="width:auto;display:inline-block;" ng-model="info.minTransAmount">-
                                                <input type="number" class="form-control" style="width:auto;display:inline-block;" ng-model="info.maxTransAmount">
                                            </div>
                                            <label class="col-sm-2 control-label">关联交易订单：</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" ng-model='info.orderNo'>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">收益金额：</label>
                                            <div class="col-sm-6">
                                                <input type="number" class="form-control" style="width:auto;display:inline-block;" ng-model="info.minMerchantProfit">-
                                                <input type="number" class="form-control" style="width:auto;display:inline-block;" ng-model="info.maxMerchantProfit">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2"></label>
                                            <div class="col-sm-10">
                                                <button class="btn btn-primary6 btn-mr20" type="button"
                                                        ng-click='listMerchantIncome()' id="btnSubmit">查询
                                                </button>
                                                <button class="btn btn-primary3 btn-mr20" type="button"
                                                        ng-click="resetForm()">清空
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-body ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>列表</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="form-group">
                                            <div class="gridStyle" ui-grid="activityGrid" ui-grid-pagination
                                                 ui-grid-resize-columns ui-grid-pinning></div>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 50px"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 30px;"></div>
</div>