<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>三方数据查询</a></li>
			<li class="active"><strong>机具查询</strong></li>
		</ol>
	</div>
</div>


<script type="text/ng-template" id="adminModalContent.html">
     <div class="modal-header">
									        <h4 class="modal-title" id="myModalLabel">机具下发</h4>
									      </div>
									      <div class="modal-body" style="height: 300px;">
									       
									        <form>
									          <div class="form-group">
									            <label class="col-sm-2 control-label">终端总数量：</label>
												<div class="col-sm-2">
													<p ng-bind="info.number"></p>
												</div>
									          </div>
									          <div class="form-group">
									            <label class="col-sm-3 control-label">代理商名称：</label>
												<div class="col-sm-4">
													<select chosen="{width:'100%'}" class="chosen-select" tabindex="4" ng-model="info.agentNo" ng-options="x.value as x.text for x in agent">
							            	         	<option value=""></option>
							                        </select>
												</div>
									          </div>
									        </form>
									       
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" ng-click="solutionModalClose()">关闭</button>
									        <button type="button" class="btn btn-primary" ng-click="solutionModalOk()">确定</button>
									      </div>
</script>
<script type="text/ng-template" id="adminModalContentBatch.html">
     <div class="modal-header">
									        <h4 class="modal-title" id="myModalLabel">机具下发</h4>
									      </div>
									      <div class="modal-body" style="height: 300px;">
									       
									        <form>
									          <div class="form-group">
									            <label class="col-sm-2 control-label">机具SN号：</label>
												<div class="col-sm-6">
													<input type="text" ng-change="snChange()" class="form-control" style="width:auto;display:inline-block;" ng-model="info.snStart1">-
													<input type="text" ng-change="snChange()" class="form-control" style="width:auto;display:inline-block;" ng-model="info.snEnd1">
												</div>
									          </div>
									          <div class="form-group">
									            <label class="col-sm-3 control-label">代理商名称：</label>
												<div class="col-sm-4">
													<select chosen="{width:'100%'}" class="chosen-select" tabindex="4" ng-model="info.agentNo" ng-options="x.value as x.text for x in agent">
							            	         	<option value=""></option>
							                        </select>
												</div>
									          </div>
									          <div class="form-group">
									            <label class="col-sm-3 control-label">下发机具数量：</label>
												<div class="col-sm-4">
													<span ng-bind="totalNum"></span> 台机具
													<span ng-show="errorMsg" style="color:red;">{{errorMsg}}</span>
												</div>
									          </div>
									        </form>
									       
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-default" ng-click="solutionModalClose()">关闭</button>
									        <button type="button" class="btn btn-primary" ng-click="solutionModalOk()">确定</button>
									      </div>
</script>

<script type="text/ng-template" id="adminPerAgentModalContentBatch.html">
	<div class="modal-header">
		<h4 class="modal-title" id="myPerAgentModalLabel">机具下发</h4>
	</div>
	<div class="modal-body" style="height: 300px;">

		<form class="form-horizontal">
		<div class="ibox-content">
			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color:red">*</span>机具SN号：</label>
				<div class="col-sm-10">
					<input type="text" ng-change="snChange()" class="form-control" style="width:auto;display:inline-block;" ng-model="info.snStart1">-
					<input type="text" ng-change="snChange()" class="form-control" style="width:auto;display:inline-block;" ng-model="info.snEnd1">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">下发机具数量：</label>
				<div class="col-sm-10">
					<span ng-bind="totalNum"></span> 台机具
					<span ng-show="errorMsg" style="color:red;">{{errorMsg}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color:red">*</span>选择盟主：</label>
				<div class="col-sm-6">
					<select chosen="{width:'100%'}" class="chosen-select" data-placeholder="请选择需要下发的盟主或者大盟主" tabindex="3" ng-model="info.userCode" ng-options="x.value as x.text for x in pauser">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
		</form>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="solutionModalClose()">关闭</button>
		<button type="button" class="btn btn-primary" ng-click="solutionModalOk()">确定</button>
	</div>
</script>

<script type="text/ng-template" id="adminPerAgentModalContentBatchOne.html">
	<div class="modal-header">
		<h4 class="modal-title" id="myPerAgentModalLabel">机具下发</h4>
	</div>
	<div class="modal-body" style="height: 300px;">

		<form>

			<div class="form-group">
				<label class="col-sm-2 control-label">终端总数量：</label>
				<div class="col-sm-2">
					<p ng-bind="info.number"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><span style="color:red">*</span>选择盟主：</label>
				<div class="col-sm-4">
					<select chosen="{width:'100%'}" class="chosen-select" data-placeholder="请选择需要下发的盟主或者大盟主" tabindex="4" ng-model="info.userCode" ng-options="x.value as x.text for x in pauser">
						<option value=""></option>
					</select>
				</div>
			</div>

		</form>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="solutionModalClose()">关闭</button>
		<button type="button" class="btn btn-primary" ng-click="solutionModalOk()">确定</button>
	</div>
</script>



<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="threeTerminalQueryCtrl">
	<form class="form-horizontal" id="form1">
			<div class="row">
				<div class="col-lg-12">
					<div class="">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-title">
								<h5>机具信息多条列表查询</h5>
							</div>
							<div class="ibox-content">
								<div class="form-group">
										<!-- 228tgh -->
<!-- 									<label class="col-sm-2 control-label">机具SN号：</label> -->
<!-- 									<div class="col-sm-2"> -->
<!-- 										<input type="text" class="form-control" name="accountNo" ng-model="info.sn"> -->
<!-- 									</div> -->
									<label class="col-sm-2 control-label">机具SN号：</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="info.snStart">-
										<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="info.snEnd">
									</div>
									<!-- <label class="col-sm-2 control-label">硬件产品种类：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.type" ng-options="x.hpId as x.typeName for x in termianlTypes"/>
									</div> -->
								<div class="form-group">
								</div>
									<label class="col-sm-2 control-label">机具状态：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.openStatus" ng-options="x.value as x.text for x in terminalStates"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">商户名称/编号：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" name="accountNo" ng-model="info.merchantName">
									</div>
									<label class="col-sm-2 control-label">所分配代理商名称：</label>
									<div class="col-sm-2">
										<!-- tgh227 -->
										<!-- <input type="text" class="form-control" name="accountNo" ng-model="info.agentName"> -->
										<select chosen="{width:'100%'}" class="chosen-select" style=" width: 200px;tabindex="4" ng-model="info.agentName" ng-options="x.value as x.text for x in agent"  ng-change="agt_ch()">
						            	         	<option value=""></option>
						                        </select>
									</div>
									<label class="col-sm-2 control-label">包含下级：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-disabled="dtr" ng-model="info.bool" ng-options="x.value as x.text for x in bools"/>
									</div>
								</div>
								<div class="form-group">
									<!--<label class="col-sm-2 control-label">PSAM编号：</label>-->
									<!--<div class="col-sm-6">-->
										<!--<input type="text" class="form-control" style="width:auto;display:inline-block;" name="accountNo" ng-model="info.psamNo">- -->
										<!--<input type="text" class="form-control" style="width:auto;display:inline-block;" name="accountNo" ng-model="info.psamNo1">-->
									<!--</div>-->
									<label class="col-sm-2 control-label">机具活动类型：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.activityType" ng-options="x.value as x.text for x in activityTypes"/>
									</div>
									<label class="col-sm-2 control-label">商户组织：</label>
									<div class="col-sm-2" ng-show="!showSelect">
										<select chosen="{width:'100%'}"  class="chosen-select form-control"  ng-model="info.merTeamId" ng-change="getTeamEntryIdList()"
												ng-options="x.value as x.text for x in merTeams" >
											<option value=""></option>
										</select>
									</div>
									<div class="col-sm-2 checkbox" ng-show="showSelect"><p ng-bind="info.merTeamId | formatDropping:merTeams"></p></div>
									<!-- <label class="col-sm-2 control-label" ng-show="agentType==11">所属盟主编号：</label>
									<div class="col-sm-2" ng-show="agentType==11">
										<select chosen="{width:'100%'}" class="chosen-select" style=" width: 200px;tabindex="4" ng-model="info.userCode" ng-options="x.value as x.text for x in userCodes"  ng-change="agt_ch()">
										<option value=""></option>
										</select>
									</div> -->
										<!-- tgh227 -->
										<!-- <input type="text" class="form-control" name="accountNo" ng-model="info.agentName"> -->
									<!--<label class="col-sm-2 control-label">所属盟主姓名：</label>
									<div class="col-sm-2">
										&lt;!&ndash; tgh227 &ndash;&gt;
										&lt;!&ndash; <input type="text" class="form-control" name="accountNo" ng-model="info.agentName"> &ndash;&gt;
										<select chosen="{width:'100%'}" class="chosen-select" style=" width: 200px;tabindex="4" ng-model="info.realName" ng-options="x.value as x.text for x in userNames"  ng-change="agt_ch()">
										<option value=""></option>
										</select>
									</div>-->
									<label class="col-sm-2 control-label">商户子组织：</label>
										<div class="col-sm-2" ng-show="!showSelect">
											<select chosen="{width:'100%'}" class="chosen-select form-control"  ng-model="info.teamEntryId"
													ng-options="x.value as x.text for x in teamEntryIdList">
												<option value=""></option>
											</select>
										</div>
								</div>
								
								<div class="form-group">
									<div class="col-lg-12">
										<label class="col-sm-2 control-label"></label>
										<button class="btn btn-primary6 btn-mr20" type="button" ng-click="selectInfo()"
											id="btnSubmit">查询</button>
										
										<button class="btn btn-primary3" type="button" ng-click="clear()"
											id="btnSubmit2">清空</button>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="panel-body ibox float-e-margins">
								<div class="ibox-title">
									<h5>机具信息列表</h5>
                                    </div>
                                   <!--  <div style="text-align:right; padding:0 20px; background:#fff">
										<button class="btn btn-new" type="button" ng-show="(hasPermit('recoveryTerminal') && (agentType != 11 || loginUserType==1))"
												ng-click="recoveryTerminal()">机具回收</button>
                                    <button class="btn btn-new " type="button" ng-show="hasPermit('sendTerminal')  && levelStatus != 1"
											ng-click="sendTerminalBatch()">批量下发</button>
                                    <button class="btn btn-new " type="button" ng-show="hasPermit('sendTerminal') && levelStatus != 1"
											ng-click="sendTerminal()">机具下发</button>
 -->
                                            </div>

							</div>
								<div class="ibox-content">
<!-- 									<table id="tables" width="100%" datatable="" dt-instance="datatablesObject" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"></table> -->
									 <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection class="grid" ui-grid-resize-columns></div>
								</div>
								<div style="height: 50px"></div>
							</div>
					</div>
				</div>
			</div>
	</form>
</div>