<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>调单管理</a></li>
            <li class="active"><strong>调单查询</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="surveyOrderQueryCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>调单查询</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单编号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="info.transOrderNo">
                            </div>
                            <label class="col-sm-2 control-label">系统参考号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="info.acqReferenceNo">
                            </div>
                            <label class="col-sm-2 control-label">交易卡号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="info.transAccountNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">调单类型：</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="info.orderTypeCode"
                                        ng-options="x.value as x.text for x in orderTypes">
                                    <option value="" selected>全部</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">回复状态：</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="info.replyStatus"
                                        ng-options="x.value as x.text for x in replyStatuses">
                                    <option value="" selected>全部</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">处理状态：</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="info.dealStatus"
                                        ng-options="x.value as x.text for x in queryDealStatuses">
                                    <option value="" selected>全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">代理商名称：</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="info.agentNode"
                                        ng-options="x.value as x.text for x in agent">
                                    <option value="" selected>全部</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">包含下级：</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="info.containSubordinate"
                                        ng-options="x.value as x.text for x in statusSelect">
                                    <option value="" selected>全部</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">商户编号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="info.merchantNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">交易方式：</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="info.payMethod"
                                        ng-options="x.value as x.text for x in payMethods">
                                    <option value="" selected>全部</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">交易状态：</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="info.transStatus"
                                        ng-options="x.value as x.text for x in transStatuses">
                                    <option value="" selected>全部</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">业务类型：</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="info.orderServiceCode"
                                        ng-options="x.value as x.text for x in orderServices">
                                    <option value="" selected>全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">发起日期：</label>
                            <div class="col-sm-5">
                                <!--<input id="d5225" class="form-control" type="datetime" ng-model="info.createTimeStart"
                                       onchange="" style="width:auto;display:inline-block;"
                                       onFocus="var d5226=$dp.$('d5226');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5226.focus();},maxDate:'#F{$dp.$D(\'d5226\')}'})"/>
                                至
                                <input id="d5226" class="form-control" type="datetime" ng-model="info.createTimeEnd"
                                       onchange="" style="width:auto;display:inline-block;"
                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5225\')}'})"/>-->
                                <input id="d5225" class="form-control" type="datetime" ng-model="info.createTimeStart" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="var d5226=$dp.$('d5226');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(1,'#d5225','#d5226',31,isVerifyTime,setCreateTimeStart,setCreateTimeEnd),onpicked:function(){d5226.focus();},maxDate:'#F{$dp.$D(\'d5226\')||\'%y-%M-%d\'}'})"/>
                                ~
                                <input id="d5226" class="form-control" type="datetime"  ng-model="info.createTimeEnd" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(2,'#d5225','#d5226',31,isVerifyTime,setCreateTimeStart,setCreateTimeEnd),minDate:'#F{$dp.$D(\'d5225\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
                                <br/><span><font color="#999">备注：查询范围不能超过31天</font></span>
                            </div>
                            <label class="col-sm-2 control-label">商户组织：</label>
                            <div class="col-sm-2">
                                <select chosen="{width:'100%'}" class="chosen-select form-control"  ng-model="info.merTeamId"
                                        ng-options="x.merTeamId as x.appName for x in merTeams">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">截止回复时间：</label>
                            <div class="col-sm-5">
                                <!--<input id="d5223" class="form-control" type="datetime" ng-model="info.replyEndTimeStart"
                                       onchange="" style="width:auto;display:inline-block;"
                                       onFocus="var d5224=$dp.$('d5224');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5224.focus();},maxDate:'#F{$dp.$D(\'d5224\')}'})"/>
                                至
                                <input id="d5224" class="form-control" type="datetime" ng-model="info.replyEndTimeEnd"
                                       onchange="" style="width:auto;display:inline-block;"
                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5223\')}'})"/>-->
                                <input id="d5223" class="form-control" type="datetime" ng-model="info.replyEndTimeStart" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="var d5224=$dp.$('d5224');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(1,'#d5223','#d5224',31,isVerifyTime,setReplyEndTimeStart,setReplyEndTimeEnd),onpicked:function(){d5224.focus();},maxDate:'#F{$dp.$D(\'d5224\')||\'%y-%M-%d\'}'})"/>
                                ~
                                <input id="d5224" class="form-control" type="datetime"  ng-model="info.replyEndTimeEnd" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(2,'#d5223','#d5224',31,isVerifyTime,setReplyEndTimeStart,setReplyEndTimeEnd),minDate:'#F{$dp.$D(\'d5223\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
                                <br/><span><font color="#999">备注：查询范围不能超过31天</font></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button class="btn btn-primary6 btn-mr20" ng-click="query()">查询</button>
                                <button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空
                                </button>
                                <button class="btn btn-primary7 btn-mr20" type="button" ng-click="import()">导出</button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>查询列表</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="gridStyle" ui-grid="myGrid" ui-grid-selection ui-grid-pagination
                                 ui-grid-resize-columns ui-grid-pinning></div>
                        </div>
                    </div>
                    <div style="height:30px;"></div>
                </div>
            </div>
        </div>
    </form>

    <!-- 催单模态框 -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 400px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h3 class="modal-title">催单记录</h3>
                </div>
                <div class="modal-body">
                    <!--数据列表-->
                    <table id="dataList" class="table table-bordered table-striped table-hover dataTable"
                           style="width: 350px;">
                        <thead>
                        <tr>
                            <th style="text-align: center">序号</th>
                            <th style="text-align: center">催单时间</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="entity in urgeRecordList">
                        <tr>
                            <td style="text-align: center">{{$index+1}}</td>
                            <td style="text-align: center">{{entity.createTime}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div class="modal-footer">-->
            </div>
        </div>
    </div>
</div>


</div>