<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eeepay.framework.dao.ShiroRoleMapper">
  <resultMap id="BaseResultMap" type="cn.eeepay.framework.model.ShiroRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_remake" jdbcType="VARCHAR" property="roleRemake" />
    <result column="role_state" jdbcType="INTEGER" property="roleState" />
    <result column="create_operator" jdbcType="VARCHAR" property="createOperator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="scope" jdbcType="VARCHAR" property="scope" />
  </resultMap>
  
  <resultMap id="OneToManyResultMap" type="cn.eeepay.framework.model.ShiroRole">
     <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_remake" jdbcType="VARCHAR" property="roleRemake" />
    <result column="role_state" jdbcType="INTEGER" property="roleState" />
    <result column="create_operator" jdbcType="VARCHAR" property="createOperator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="scope" jdbcType="VARCHAR" property="scope" />
    <collection property="roleRigths" javaType="list" select="select_role_rigths" column="id"
    	ofType="cn.eeepay.framework.model.RoleRigth" />    	
  </resultMap>
  
  <select id="select_role_rigths" parameterType="int" resultMap="cn.eeepay.framework.dao.RoleRigthMapper.OneToOneResultMap">  
  		select rr.id,rr.role_id,rr.rigth_id,sr.rigth_code,sr.rigth_name,sr.rigth_comment,sr.rigth_type from agent_role_rigth rr,agent_shiro_rigth sr where rr.rigth_id=sr.id and role_id=#{id}
  </select>
</mapper>