<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eeepay.framework.dao.SysDeptMapper">
  <resultMap id="BaseResultMap" type="cn.eeepay.framework.model.SysDept">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
  </resultMap>
  
  <resultMap id="OneToManyResultMap" type="cn.eeepay.framework.model.SysDept">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <collection property="users" javaType="list" select="select_users" column="id"
    	ofType="cn.eeepay.framework.model.ShiroUser" />    	
  </resultMap>
  
  <select id="select_users"  parameterType="int" resultMap="cn.eeepay.framework.dao.UserInfoMapper.OneToManyResultMap">  
  		select id,user_name,`password`,real_name,tel_no,email,state,theme,create_operator,create_time,update_pwd_time,dept_id from agent_shiro_user where dept_id=#{id}
  </select>
</mapper>