<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.eeepay.framework.dao.TerminalInfoDao" >
  <resultMap id="BaseResultMap" type="cn.eeepay.framework.model.TerminalInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="SN" property="sn" jdbcType="VARCHAR" />
    <result column="terminal_id" property="terminalId" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="PSAM_NO" property="psamNo" jdbcType="VARCHAR" />
    <result column="agent_no" property="agentNo" jdbcType="VARCHAR" />
    <result column="agent_node" property="agentNode" jdbcType="VARCHAR" />
    <result column="open_status" property="openStatus" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="allot_batch" property="allotBatch" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="tmk" property="tmk" jdbcType="VARCHAR" />
    <result column="tmk_tpk" property="tmkTpk" jdbcType="VARCHAR" />
    <result column="tmk_tak" property="tmkTak" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pos_type" property="posType" jdbcType="INTEGER" />
    <result column="need_check" property="needCheck" jdbcType="TINYINT" />
    <result column="last_check_in_time" property="lastCheckInTime" jdbcType="TIMESTAMP" />
    <result column="cashier_no" property="cashierNo" jdbcType="VARCHAR" />
    <result column="serial_no" property="serialNo" jdbcType="VARCHAR" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="agent_name" property="agentName" jdbcType="VARCHAR" />
    <result column="agent_level" property="agentLevel" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="version_nu" property="versionNu" jdbcType="VARCHAR" />
  </resultMap>
</mapper>