<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.eeepay.framework.dao.TradeSumInfoMapper">
  <resultMap id="BaseResultMap" type="cn.eeepay.framework.model.TradeSumInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="agent_no" jdbcType="VARCHAR" property="agentNo" />
    <result column="branch" jdbcType="VARCHAR" property="branch" />
    <result column="one_level" jdbcType="VARCHAR" property="oneLevel" />
    <result column="two_level" jdbcType="VARCHAR" property="twoLevel" />
    <result column="three_level" jdbcType="VARCHAR" property="threeLevel" />
    <result column="four_level" jdbcType="VARCHAR" property="fourLevel" />
    <result column="five_level" jdbcType="VARCHAR" property="fiveLevel" />
    <result column="trade_sum" jdbcType="DECIMAL" property="tradeSum" />
    <result column="mer_sum" jdbcType="INTEGER" property="merSum" />
    <result column="activate_sum" jdbcType="INTEGER" property="activateSum" />
    <result column="machines_stock" jdbcType="INTEGER" property="machinesStock" />
    <result column="unused_machines" jdbcType="INTEGER" property="unusedMachines" />
    <result column="expired_not_activated" jdbcType="INTEGER" property="expiredNotActivated" />
    <result column="three_income" jdbcType="DECIMAL" property="threeIncome" />
    <result column="recorded_date" jdbcType="TIMESTAMP" property="recordedDate" />
    <result column="recorded_status" jdbcType="INTEGER" property="recordedStatus" />
    <result column="teamId" jdbcType="VARCHAR" property="teamId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, agent_no, branch, one_level, two_level, three_level, 
    four_level, five_level, trade_sum, mer_sum, activate_sum, machines_stock, unused_machines, 
    expired_not_activated, three_income, recorded_date, recorded_status,team_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_sum_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from trade_sum_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.eeepay.framework.model.TradeSumInfo">
    insert into trade_sum_info (id, create_time, update_time, 
      agent_no, branch, one_level, 
      two_level, three_level, four_level, 
      five_level, trade_sum, mer_sum, 
      activate_sum, machines_stock, unused_machines, 
      expired_not_activated, three_income, recorded_date, 
      recorded_status,team_id)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{agentNo,jdbcType=VARCHAR}, #{branch,jdbcType=VARCHAR}, #{oneLevel,jdbcType=VARCHAR}, 
      #{twoLevel,jdbcType=VARCHAR}, #{threeLevel,jdbcType=VARCHAR}, #{fourLevel,jdbcType=VARCHAR}, 
      #{fiveLevel,jdbcType=VARCHAR}, #{tradeSum,jdbcType=DECIMAL}, #{merSum,jdbcType=INTEGER}, 
      #{activateSum,jdbcType=INTEGER}, #{machinesStock,jdbcType=INTEGER}, #{unusedMachines,jdbcType=INTEGER}, 
      #{expiredNotActivated,jdbcType=INTEGER}, #{threeIncome,jdbcType=DECIMAL}, #{recordedDate,jdbcType=TIMESTAMP}, 
      #{recordedStatus,jdbcType=INTEGER},#{teamId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.eeepay.framework.model.TradeSumInfo">
    insert into trade_sum_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="agentNo != null">
        agent_no,
      </if>
      <if test="branch != null">
        branch,
      </if>
      <if test="oneLevel != null">
        one_level,
      </if>
      <if test="twoLevel != null">
        two_level,
      </if>
      <if test="threeLevel != null">
        three_level,
      </if>
      <if test="fourLevel != null">
        four_level,
      </if>
      <if test="fiveLevel != null">
        five_level,
      </if>
      <if test="tradeSum != null">
        trade_sum,
      </if>
      <if test="merSum != null">
        mer_sum,
      </if>
      <if test="activateSum != null">
        activate_sum,
      </if>
      <if test="machinesStock != null">
        machines_stock,
      </if>
      <if test="unusedMachines != null">
        unused_machines,
      </if>
      <if test="expiredNotActivated != null">
        expired_not_activated,
      </if>
      <if test="threeIncome != null">
        three_income,
      </if>
      <if test="recordedDate != null">
        recorded_date,
      </if>
      <if test="recordedStatus != null">
        recorded_status,
      </if>
      <if test="teamId != null">
        team_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentNo != null">
        #{agentNo,jdbcType=VARCHAR},
      </if>
      <if test="branch != null">
        #{branch,jdbcType=VARCHAR},
      </if>
      <if test="oneLevel != null">
        #{oneLevel,jdbcType=VARCHAR},
      </if>
      <if test="twoLevel != null">
        #{twoLevel,jdbcType=VARCHAR},
      </if>
      <if test="threeLevel != null">
        #{threeLevel,jdbcType=VARCHAR},
      </if>
      <if test="fourLevel != null">
        #{fourLevel,jdbcType=VARCHAR},
      </if>
      <if test="fiveLevel != null">
        #{fiveLevel,jdbcType=VARCHAR},
      </if>
      <if test="tradeSum != null">
        #{tradeSum,jdbcType=DECIMAL},
      </if>
      <if test="merSum != null">
        #{merSum,jdbcType=INTEGER},
      </if>
      <if test="activateSum != null">
        #{activateSum,jdbcType=INTEGER},
      </if>
      <if test="machinesStock != null">
        #{machinesStock,jdbcType=INTEGER},
      </if>
      <if test="unusedMachines != null">
        #{unusedMachines,jdbcType=INTEGER},
      </if>
      <if test="expiredNotActivated != null">
        #{expiredNotActivated,jdbcType=INTEGER},
      </if>
      <if test="threeIncome != null">
        #{threeIncome,jdbcType=DECIMAL},
      </if>
      <if test="recordedDate != null">
        #{recordedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="recordedStatus != null">
        #{recordedStatus,jdbcType=INTEGER},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.eeepay.framework.model.TradeSumInfo">
    update trade_sum_info
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentNo != null">
        agent_no = #{agentNo,jdbcType=VARCHAR},
      </if>
      <if test="branch != null">
        branch = #{branch,jdbcType=VARCHAR},
      </if>
      <if test="oneLevel != null">
        one_level = #{oneLevel,jdbcType=VARCHAR},
      </if>
      <if test="twoLevel != null">
        two_level = #{twoLevel,jdbcType=VARCHAR},
      </if>
      <if test="threeLevel != null">
        three_level = #{threeLevel,jdbcType=VARCHAR},
      </if>
      <if test="fourLevel != null">
        four_level = #{fourLevel,jdbcType=VARCHAR},
      </if>
      <if test="fiveLevel != null">
        five_level = #{fiveLevel,jdbcType=VARCHAR},
      </if>
      <if test="tradeSum != null">
        trade_sum = #{tradeSum,jdbcType=DECIMAL},
      </if>
      <if test="merSum != null">
        mer_sum = #{merSum,jdbcType=INTEGER},
      </if>
      <if test="activateSum != null">
        activate_sum = #{activateSum,jdbcType=INTEGER},
      </if>
      <if test="machinesStock != null">
        machines_stock = #{machinesStock,jdbcType=INTEGER},
      </if>
      <if test="unusedMachines != null">
        unused_machines = #{unusedMachines,jdbcType=INTEGER},
      </if>
      <if test="expiredNotActivated != null">
        expired_not_activated = #{expiredNotActivated,jdbcType=INTEGER},
      </if>
      <if test="threeIncome != null">
        three_income = #{threeIncome,jdbcType=DECIMAL},
      </if>
      <if test="recordedDate != null">
        recorded_date = #{recordedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="recordedStatus != null">
        recorded_status = #{recordedStatus,jdbcType=INTEGER},
      </if>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.eeepay.framework.model.TradeSumInfo">
    update trade_sum_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      agent_no = #{agentNo,jdbcType=VARCHAR},
      branch = #{branch,jdbcType=VARCHAR},
      one_level = #{oneLevel,jdbcType=VARCHAR},
      two_level = #{twoLevel,jdbcType=VARCHAR},
      three_level = #{threeLevel,jdbcType=VARCHAR},
      four_level = #{fourLevel,jdbcType=VARCHAR},
      five_level = #{fiveLevel,jdbcType=VARCHAR},
      trade_sum = #{tradeSum,jdbcType=DECIMAL},
      mer_sum = #{merSum,jdbcType=INTEGER},
      activate_sum = #{activateSum,jdbcType=INTEGER},
      machines_stock = #{machinesStock,jdbcType=INTEGER},
      unused_machines = #{unusedMachines,jdbcType=INTEGER},
      expired_not_activated = #{expiredNotActivated,jdbcType=INTEGER},
      three_income = #{threeIncome,jdbcType=DECIMAL},
      recorded_date = #{recordedDate,jdbcType=TIMESTAMP},
      recorded_status = #{recordedStatus,jdbcType=INTEGER},
      team_id = #{teamId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>