<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>我的信息</a></li>
			<li class="active"><strong>我的账户</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<script src="js/jsencrypt/jsencrypt.min.js"></script>
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="myInfoAccountCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-content" style="overflow:hidden">

						<!-- 收款分润账户余额 -->
						<!-- <div class="col-sm-6" ng-hide="$root.oemType === 'REDEM'|| $root.oemType === 'REDEMACTIVE' || isOpen || $root.oemType === 'PERAGENT'"> -->
						<div class="col-sm-6" ng-show="hasPermit('receiptShareAccount')">
							<div style="border:1px solid #ccc; overflow:hidden;min-height:200px;">
								<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
									<label class="col-sm-6 control-label" style="text-align:left">收款分润账户余额</label>
									<label class="col-sm-4 control-label">分润日结功能：</label>
									<div class="col-sm-2 radio">{{profitSwitch == 1 ? "打开" : "关闭"}}</div>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6" style="padding-bottom:10px; font-size:24px;font-weight:bold">
										<div class="radio" ng-bind="account.balance|currency:'&yen;'"></div>
									</div>
									<div class="col-sm-6" style="padding-top:10px;">
										<label style="float:left; padding:7px 15px 10px;">今日分润：</label>
										<div style="float:left; padding:7px 10px 10px;" ng-bind="myAccount.balanceToday|currency:'&yen;'"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">可用余额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="account.avaliBalance|currency:'&yen;'"></div>
									<button class="btn btn-new " type="button" ng-click="takeBalanceMode()">提现</button>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">已冻结金额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="account.controlAmount|currency:'&yen;'"></div>
								</div>
							</div>
						</div>

						<!-- 人人代理 收款分润账户余额 -->
						<!-- <div class="col-sm-6" ng-show="$root.oemType === 'PERAGENT'"> -->
						<div class="col-sm-6" ng-show="hasPermit('peragentReceiptShareAccount')">
							<div style="border:1px solid #ccc; overflow:hidden;min-height:200px;">
								<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
									<label class="col-sm-6 control-label" style="text-align:left">分润账户余额</label>
									<label class="col-sm-4 control-label">分润日结功能：</label>
									<div class="col-sm-2 radio">{{profitSwitch == 1 ? "打开" : "关闭"}}</div>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6" style="padding-bottom:10px; font-size:24px;font-weight:bold">
										<div class="radio" ng-bind="account.balance|currency:'&yen;'"></div>
									</div>
									<div class="col-sm-6" style="padding-top:10px;">
										<label style="float:left; padding:7px 15px 10px;">今日分润：</label>
										<div style="float:left; padding:7px 10px 10px;" ng-bind="myAccount.balanceToday|currency:'&yen;'"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">可用余额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="account.avaliBalance|currency:'&yen;'"></div>
									<button class="btn btn-new " type="button" ng-click="takePerAgentBalanceMode()">提现</button>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">已冻结金额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="account.controlAmount|currency:'&yen;'"></div>
								</div>
								<div class="col-sm-12" ng-show="defaultStatus != '0'">
									<label style="float:left; padding:7px 15px 10px;">留存金额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="retainAmount|currency:'&yen;'"></div>
								</div>
							</div>
						</div>

						<!-- 活动补贴账户余额 -->
						<!-- <div class="col-sm-6" ng-hide="$root.oemType === 'REDEM'|| $root.oemType === 'REDEMACTIVE' || isOpen || $root.oemType === 'PERAGENT'"> -->
						<div class="col-sm-6" ng-show="hasPermit('activityAccount')">
							<div style="border:1px solid #ccc; overflow:hidden;min-height:200px;">
								<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
									<label class="col-sm-6 control-label" style="text-align:left">活动补贴账户余额</label>
									<div>
										<label class="col-sm-4 control-label">欢乐返返现开关:</label>
										<div class="col-sm-2 radio">{{cashBackSwitch}}</div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-4">
										<div class="col-sm-4" style="padding-bottom:10px; font-size:24px;font-weight:bold">
											<div class="radio" ng-bind="happyAccount.balance|currency:'&yen;'"></div>
										</div>
									</div>
									<div class="col-sm-8" style="padding-top:10px;" ng-hide="$root.oemType === 'YPOSPAY' || $root.oemType === 'YLSTCZB' || $root.oemType === 'ZHFPLUSPAY' || $root.oemType === 'YABPAY' || $root.oemType === 'ZYFPAY' || $root.oemType === 'ZHZFPAY'">
										<label style="float:left; padding:7px 15px 10px;">今日微创业收益：</label>
										<div style="float:left; padding:7px 10px 10px;" ng-bind="myAccount.todaySuperPushAmount|currency:'&yen;'"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6">
										<label style="float:left; padding:7px 15px 10px;">可用余额：</label>
										<div style="float:left; padding:7px 10px 10px;" ng-bind="happyAccount.avaliBalance|currency:'&yen;'"></div>
									</div>
									<button class="btn btn-new " type="button" ng-click="takeCashModel()">提现</button>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6" ng-show="defaultStatus != '0'">
										<label style="float:left; padding:7px 15px 10px;">留存金额：</label>
										<div style="float:left; padding:7px 10px 10px;" ng-bind="retainAmount|currency:'&yen;'"></div>
									</div>
									<div class="col-sm-6">
										<label style="float:left; padding:7px 15px 10px;">已冻结金额：</label>
										<div style="float:left; padding:7px 10px 10px;" ng-bind="happyAccount.controlAmount|currency:'&yen;'"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- 信用卡分润账户余额 -->
						<!-- <div class="col-sm-6" style="margin-top: 5px;"  ng-show="hasReplayAccount && ($root.oemType == 'REPAY' || $root.oemType == 'SQIANBAO') && !isOpen"> -->
						<div class="col-sm-6" ng-show="hasPermit('creditCardShareAccount')">
							<div style="border:1px solid #ccc; overflow:hidden;min-height:200px;">
								<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
									<label class="col-sm-6 control-label" style="text-align:left">信用卡分润账户余额</label>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6" style="padding-bottom:10px; font-size:24px;font-weight:bold">
										<div class="radio" ng-bind="replayAccount.balance|currency:'&yen;'"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">可用余额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="replayAccount.avaliBalance|currency:'&yen;'"></div>
									<button class="btn btn-new "  type="button" ng-click="replayWithdrawCash.showModal()">提现</button>
									<button class="btn btn-new " ng-show="agentInfo.accountType==2&&agentInfo.idCardNo==null" type="button" ng-click="idCardModel()">身份认证</button>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">已冻结金额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="replayAccount.controlAmount|currency:'&yen;'"></div>
								</div>
							</div>
						</div>
						<!--开户了且不是超级还的才显示 -->
						<!-- <div class="col-sm-6" style="margin-top: 5px;" ng-show="replayAccountSuperBank.status && ($root.oemType == 'SUPERBANK' || $root.oemType == 'SQIANBAO')"> -->
						<div class="col-sm-6" ng-show="hasPermit('platformShareAccount')">
							<div style="border:1px solid #ccc; overflow:hidden;min-height:200px;">
								<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
									<label class="col-sm-6 control-label" style="text-align:left">聚合平台分润账户余额</label>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6" style="padding-bottom:10px; font-size:24px;font-weight:bold">
										<div class="radio" ng-bind="replayAccountSuperBank.balance|currency:'&yen;'"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">可用余额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="replayAccountSuperBank.avaliBalance|currency:'&yen;'"></div>
									<button class="btn btn-new "  type="button" ng-click="superBankWithdrawCash.showModal()">提现</button>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">已冻结金额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="replayAccountSuperBank.controlAmount|currency:'&yen;'"></div>
								</div>
							</div>
						</div>
						<!-- 红包账户 -->
						<!-- <div class="col-sm-6" style="margin-top: 5px;" ng-show="replayAccountSuperBank.status && ($root.oemType == 'SUPERBANK' || $root.oemType == 'SQIANBAO') && !isOpen"> -->
						<div class="col-sm-6" ng-show="hasPermit('platformRedPackageAccount')">
							<div style="border:1px solid #ccc; overflow:hidden;min-height:200px;">
								<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
									<label class="col-sm-6 control-label" style="text-align:left">聚合平台红包账户余额</label>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6" style="padding-bottom:10px; font-size:24px;font-weight:bold">
										<div class="radio" ng-bind="redBalance|currency:'&yen;'"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">可用余额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="redBalance|currency:'&yen;'"></div>
									<button class="btn btn-new "  type="button" ng-click="withdrawRedBalance()"  ng-disabled="submitting">提现</button>
									<a ui-sref="myInfo.redEnvelopesDetail">收支明细</a>
									<!-- 										<a ui-sref="superBank.userInfoSuperBank({userId:row.entity.userId,userCode:row.entity.userCode})">收支明细</a> -->
								</div>
								<!-- 									<div class="col-sm-12"> -->
								<!-- 										<label style="float:left; padding:7px 15px 10px;">已冻结金额：</label> -->
								<!-- 										<div style="float:left; padding:7px 10px 10px;" ng-bind="replayAccountSuperBank.controlAmount|currency:'&yen;'"></div> -->
								<!-- 									</div> -->
							</div>
						</div>
						<!-- 积分兑换账户提现 -->
						<!-- <div class="col-sm-6" style="margin-top: 5px;" ng-show="$root.oemType === 'REDEM'"> -->
						<div class="col-sm-6" ng-show="hasPermit('creditsExchangeAccount')">
							<div style="border:1px solid #ccc; overflow:hidden;min-height:200px;">
								<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
									<label class="col-sm-6 control-label" style="text-align:left">积分兑换账户余额</label>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6" style="padding-bottom:10px; font-size:24px;font-weight:bold">
										<div class="radio" ng-bind="redemBalance.balance|currency:'&yen;'"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">可用余额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="redemBalance.avaliBalance|currency:'&yen;'"></div>
									<button class="btn btn-new " type="button" ng-click="redemWithdrawCash.showModal()">提现</button>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">已冻结金额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="redemBalance.controlAmount|currency:'&yen;'"></div>
								</div>
							</div>
						</div>
						<!-- 积分兑换激活版账户提现 -->
						<!-- <div class="col-sm-6" style="margin-top: 5px;" ng-show="$root.oemType === 'REDEMACTIVE'"> -->
						<div class="col-sm-6" ng-show="hasPermit('creditsExchangeActivateAccount')">
							<div style="border:1px solid #ccc; overflow:hidden;min-height:200px;">
								<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
									<label class="col-sm-6 control-label" style="text-align:left">积分兑换激活版账户余额</label>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6" style="padding-bottom:10px; font-size:24px;font-weight:bold">
										<div class="radio" ng-bind="redemActiveBalance.balance|currency:'&yen;'"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">可用余额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="redemActiveBalance.avaliBalance|currency:'&yen;'"></div>
									<button class="btn btn-new " type="button" ng-click="redemActiveWithdrawCash.showModal()">提现</button>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">已冻结金额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="redemActiveBalance.controlAmount|currency:'&yen;'"></div>
								</div>
							</div>
						</div>
						<!-- 信用卡管家账户余额 -->
						<!-- <div class="col-sm-6" style="margin-top: 5px;" ng-show="$root.oemType === 'SQIANBAO'"> -->
						<div class="col-sm-6" ng-show="hasPermit('creditCardStewardAccount')">
							<div style="border:1px solid #ccc; overflow:hidden;min-height:200px;">
								<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
									<label class="col-sm-6 control-label" style="text-align:left">信用卡管家账户余额</label>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6" style="padding-bottom:10px; font-size:24px;font-weight:bold">
										<div class="radio" ng-bind="creditAccount.balance|currency:'&yen;'"></div>
									</div>
									<div class="col-sm-6" style="padding-top:10px;">
										<label style="float:left; padding:7px 15px 10px;">今日分润：</label>
										<div style="float:left; padding:7px 10px 10px;" ng-bind="myAccount.todayCreditAmount|currency:'&yen;'"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">可用余额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="creditAccount.avaliBalance|currency:'&yen;'"></div>
									<button class="btn btn-new " type="button" ng-click="creditWithdrawCash.showModal()">提现</button>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">已冻结金额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="creditAccount.controlAmount|currency:'&yen;'"></div>
								</div>
							</div>
						</div>
						<!--机具款项账户余额-->
						<!-- <div class="col-sm-6" style="margin-top: 5px;" ng-show="$root.oemType === 'PERAGENT'"> -->
						<div class="col-sm-6" ng-show="hasPermit('machinePaymentAccount')">
							<div style="border:1px solid #ccc; overflow:hidden;min-height:200px;">
								<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
									<label class="col-sm-6 control-label" style="text-align:left">机具款项账户余额</label>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6" style="padding-bottom:10px; font-size:24px;font-weight:bold">
										<div class="radio" ng-bind="terminalAccount.balance|currency:'&yen;'"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">可用余额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="terminalAccount.avaliBalance|currency:'&yen;'"></div>
									<button class="btn btn-new " type="button" ng-click="takeTerminalBalanceMode()">提现</button>
								</div>
								<div class="col-sm-12">
									<label style="float:left; padding:7px 15px 10px;">已冻结金额：</label>
									<div style="float:left; padding:7px 10px 10px;" ng-bind="terminalAccount.controlAmount|currency:'&yen;'"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div style="color: red;line-height:40px;" > 为保障数据完整，当天的分润
							<span ng-hide="$root.oemType === 'YPOSPAY' || $root.oemType === 'YLSTCZB' || $root.oemType === 'ZHFPLUSPAY' || $root.oemType === 'YABPAY'|| $root.oemType === 'REDEM'|| $root.oemType === 'REDEMACTIVE' || $root.oemType === 'ZYFPAY' || $root.oemType === 'ZHZFPAY' || $root.oemType==='SQIANBAO'">与微创业收益，</span>
							在两个工作日核算后自动入账户余额。</div>
					</div>
				</div>
			</div>


			<div class="">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>账户明细</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">记账时间：</label>
							<div class="col-sm-6">
							<!--	<input id="d5221" class="form-control" type="datetime" ng-model="info.sTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
								~
								<input id="d5222" class="form-control" type="datetime"  ng-model="info.eTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5221\')}'})"/>-->
								<input id="d5221" class="form-control" type="datetime" ng-model="info.sTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(1,'#d5221','#d5222',31,isVerifyTime,setsTime,seteTime),onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
								~
								<input id="d5222" class="form-control" type="datetime"  ng-model="info.eTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTimeFun(2,'#d5221','#d5222',31,isVerifyTime,setsTime,seteTime),minDate:'#F{$dp.$D(\'d5221\')}'})"/>
								<br/><span><font color="#999">备注：查询范围不能超过31天</font></span>
							</div>
							<label class="col-sm-2 control-label">交易类型:</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="info.transType" ng-options="x.transTypeCode as x.transTypeName for x in transTypes">
									<option value="" selected>全部</option>
								</select>
							</div>
						</div>
						<div class="form-group" style="padding-top: 20px;">
							<label class="col-sm-2 control-label">账户类型:</label>
							<div class="col-sm-2"><select class="form-control" ng-model="info.subjectNo" ng-options="x.value as x.text for x in accountTypes"></select></div>
							<!-- 								<label class="col-sm-2 control-label">状态</label> -->
							<!-- 								<div class="col-sm-2"><select class="form-control" ng-model="info.settleStatus" ng-options="x.value as x.text for x in status"></select></div> -->
							<label class="col-sm-2 control-label">操作:</label>
							<div class="col-sm-2"><select class="form-control" ng-model="info.ioType" ng-options="x.value as x.text for x in operations"></select></div>
						</div>
						<div class="form-group" style="padding-top: 20px;">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20" type="button" ng-click="selectAccountInfo()">查询</button>
								<button class="btn btn-primary3" ng-click="reset()">清空</button>
								<button class="btn btn-primary7 btn-mr20" ng-click="exportInfo()">导出</button>
							</div>
						</div>
						<div class="form-group" >
							<div class="gridStyle" ui-grid="accountGrid" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- 活动补贴提现 -->
	<div id="activityModel" class="modal fade" tabindex="3" role="dialog">
		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
			<div class="modal-content" style="height:300px;width: 900px">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h3 class="modal-title" >活动补贴账户提现</h3>
				</div>
				<div class="modal-body">
					<div class="form-group" >
							<label class="col-sm-2 control-label">活动补贴账户可用余额：</label>
							<div class="col-sm-2 radio" ng-bind="happyAccount.avaliBalance|currency:'&yen;'"></div>
							<label class="col-sm-3 control-label">每日允许提现时间：</label>
							<div class="col-sm-4 radio" >{{myAccount.happlyService.tradStart}}~{{myAccount.happlyService.tradEnd}}</div>
					</div>	
					<div class="form-group">
							<label class="col-sm-2 control-label">提现金额：</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="money" ng-blur="take()">
								<button class="btn btn-new " type="button" ng-click="cashAll()">全部提现</button>
							</div>
							<p ng-hide="$root.oemType === 'PERAGENT'">提现手续费: <span ng-bind="singleNumAmount"></span> 元</p>
							<p ng-show="$root.oemType === 'PERAGENT'">提现手续费: <span ng-bind="perAgentActivitylTotalFee"></span> 元（含{{perAgentActivitySingleAmount}}元提现手续费+{{perAgentFee}}%服务费）</p>
					</div>
					<div class="form-group" ng-show="safePasswordFlag">
						<label class="col-sm-2 control-label">资金密码：</label>
						<input type="password" ng-model="safePassword" required="required" class="form-control" style="width:auto;display:inline-block;" >
					</div>
				</div>										
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
							<button class="btn btn-primary btn-mr20" type="button" ng-click='updateAllTerActivity()'>确定</button>
							<button class="btn btn-primary8 " type="button" ng-click='activityModelCancel()'>取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>
 	<!--分润账户提现 -->
	<div id="balanceModel" class="modal fade" tabindex="3" role="dialog">
		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
			<div class="modal-content" style="height:300px;width: 900px">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h3 class="modal-title" >分润账户提现</h3>
				</div>
				<div class="modal-body">
					<div class="form-group" >
							<label class="col-sm-2 control-label">账户可用余额：</label>
							<div class="col-sm-2 radio" ng-bind="account.avaliBalance|currency:'&yen;'"></div>
							<label class="col-sm-3 control-label">每日允许提现时间：</label>
							<div class="col-sm-4 radio" >{{myAccount.service.tradStart}}~{{myAccount.service.tradEnd}}</div>
					</div>	
					<div class="form-group">
							<label class="col-sm-2 control-label">提现金额：</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" style="width:auto;display:inline-block;"
									   ng-model="money" ng-blur="take()">
								<button class="btn btn-new " type="button" ng-click="cashAllBalance()">全部提现</button>
							</div>
							<p>提现手续费: <span ng-bind="singleNumAmount1"></span> 元</p>

					</div>
					<div class="form-group" ng-show="safePasswordFlag" >
						<label class="col-sm-2 control-label">资金密码：</label>
						<input type="password" ng-model="safePassword" required="required" class="form-control" style="width:auto;display:inline-block;" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
							<button class="btn btn-primary btn-mr20" type="button" ng-click='takeBalance()'>确定</button>
							<button class="btn btn-primary8 " type="button" ng-click='takeBalanceModelCancel()'>取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="safeModel" class="modal fade" tabindex="3" role="dialog">
		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
			<div class="modal-content" style="height:300px;width: 900px">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group" >
							<label class="col-sm-6 control-label">为了您的资金安全，请先完成安全设置后再进行提现。</label>
					</div>	
				</div>										
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
							<button class="btn btn-primary btn-mr20" type="button" ng-click='goSetSafePhone()'>立即设置</button>
							<button class="btn btn-primary8 " type="button" ng-click='goSetSafePhoneCance()'>取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>


 	<!--人人代理 分润账户提现 -->
	<div id="perAgentBalanceModel" class="modal fade" tabindex="3" role="dialog">
		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
			<div class="modal-content" style="height:300px;width: 900px">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h3 class="modal-title" >分润账户提现</h3>
				</div>
				<div class="modal-body">
					<div class="form-group" >
							<label class="col-sm-2 control-label">账户可用余额：</label>
							<div class="col-sm-2 radio" ng-bind="account.avaliBalance|currency:'&yen;'"></div>
							<label class="col-sm-3 control-label">每日允许提现时间：</label>
							<div class="col-sm-4 radio" >{{perAgentAccountService.service.tradStart}}~{{perAgentAccountService.service.tradEnd}}</div>
					</div>
					<div class="form-group">
							<label class="col-sm-2 control-label">提现金额：</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" style="width:auto;display:inline-block;"
									   ng-model="money" ng-blur="take()">
								<button class="btn btn-new " type="button" ng-click="cashAllBalance()">全部提现</button>
							</div>
							<p>提现手续费: <span ng-bind="perAgentProfitTotalFee"></span> 元（含{{perAgentProfitSingleAmount}}元提现手续费+{{perAgentFee}}%服务费）</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
							<button class="btn btn-primary btn-mr20" type="button" ng-click='takePerAgentBalance()'>确定</button>
							<button class="btn btn-primary8 " type="button" ng-click='takePerAgentBalanceModelCancel()'>取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--信用卡分润服务提现 提现服务跟分润提现服务一直 跟钟辉确认 -->
	<div id="replayAccountMode" class="modal fade" tabindex="3" role="dialog">
		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
			<div class="modal-content" style="height:300px;width: 900px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h3 class="modal-title" >信用卡分润提现</h3>
				</div>
				<div class="modal-body">
					<div class="form-group" >
						<label class="col-sm-2 control-label">账户可用余额：</label>
						<div class="col-sm-2 radio" ng-bind="replayAccount.avaliBalance|currency:'&yen;'"></div>
						<label class="col-sm-3 control-label">每日允许提现时间：</label>
						<div class="col-sm-4 radio" >{{myAccount.service.tradStart}}~{{myAccount.service.tradEnd}}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">提现金额：</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="money">
							<button class="btn btn-new " type="button" ng-click="replayWithdrawCash.takeAll(replayAccount)">全部提现</button>
						</div>
						提现手续费: <span ng-bind="singleNumAmount1"></span> 元
					</div>
					<div class="form-group" ng-show="safePasswordFlag">
						<label class="col-sm-2 control-label">资金密码：</label>
						<input type="password" ng-model="safePassword" required="required" class="form-control" style="width:auto;display:inline-block;" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
						<button class="btn btn-primary btn-mr20" type="button" ng-click='replayWithdrawCash.withdrawCash(replayAccount)'>确定</button>
						<button class="btn btn-primary8 " type="button" ng-click='replayWithdrawCash.hideModal()'>取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 银行家分润提现 -->
	<div id="replayAccountSuperBankMode" class="modal fade" tabindex="3" role="dialog">
		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
			<div class="modal-content" style="height:300px;width: 900px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h3 class="modal-title" >聚合平台分润提现</h3>
				</div>
				<div class="modal-body">
					<div class="form-group" >
						<label class="col-sm-2 control-label">账户可用余额：</label>
						<div class="col-sm-2 radio" ng-bind="replayAccountSuperBank.avaliBalance|currency:'&yen;'"></div>
						<label class="col-sm-3 control-label">每日允许提现时间：</label>
						<div class="col-sm-4 radio" >{{myAccount.service.tradStart}}~{{myAccount.service.tradEnd}}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">提现金额：</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="money">
							<button class="btn btn-new " type="button" ng-click="superBankWithdrawCash.takeAll(replayAccountSuperBank)">全部提现</button>
						</div>
<!-- 						提现手续费: <span ng-bind="singleNumAmountSuperBank"></span> 元 -->
					</div>
					<div class="form-group" ng-show="safePasswordFlag" >
						<label class="col-sm-2 control-label">资金密码：</label>
						<input type="password" ng-model="safePassword" required="required" class="form-control" style="width:auto;display:inline-block;" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
						<button class="btn btn-primary btn-mr20" type="button" ng-click='superBankWithdrawCash.withdrawCash(replayAccountSuperBank)'>确定</button>
						<button class="btn btn-primary8 " type="button" ng-click='superBankWithdrawCash.hideModal()'>取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- 积分兑换账户提现  -->
	<div id="redemBalanceModel" class="modal fade" tabindex="3" role="dialog">
		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
			<div class="modal-content" style="height:300px;width: 900px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h3 class="modal-title" >积分兑换账户提现</h3>
				</div>
				<div class="modal-body">
					<div class="form-group" >
						<label class="col-sm-2 control-label">账户可用余额：</label>
						<div class="col-sm-2 radio" ng-bind="redemBalance.avaliBalance|currency:'&yen;'"></div>
						<label class="col-sm-3 control-label">每日允许提现时间：</label>
						<div class="col-sm-4 radio" >{{myAccount.service.tradStart}}~{{myAccount.service.tradEnd}}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">提现金额：</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="money">
							<button class="btn btn-new " type="button" ng-click="redemWithdrawCash.takeAll(redemBalance)">全部提现</button>
						</div>
						提现手续费: <span ng-bind="singleNumAmount1"></span> 元
					</div>
					<div class="form-group" ng-show="safePasswordFlag" >
						<label class="col-sm-2 control-label">资金密码：</label>
						<input type="password" ng-model="safePassword" required="required" class="form-control" style="width:auto;display:inline-block;" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
						<button class="btn btn-primary btn-mr20" type="button" ng-click='redemWithdrawCash.withdrawCash(redemBalance)'>确定</button>
						<button class="btn btn-primary8 " type="button" ng-click='redemWithdrawCash.hideModal()'>取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- 积分兑换激活版账户提现  -->
	<div id="redemActiveBalanceModel" class="modal fade" tabindex="3" role="dialog">
		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
			<div class="modal-content" style="height:300px;width: 900px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h3 class="modal-title" >积分兑换激活版账户提现</h3>
				</div>
				<div class="modal-body">
					<div class="form-group" >
						<label class="col-sm-2 control-label">账户可用余额：</label>
						<div class="col-sm-2 radio" ng-bind="redemActiveBalance.avaliBalance|currency:'&yen;'"></div>
						<label class="col-sm-3 control-label">每日允许提现时间：</label>
						<div class="col-sm-4 radio" >{{myAccount.service.tradStart}}~{{myAccount.service.tradEnd}}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">提现金额：</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="money">
							<button class="btn btn-new " type="button" ng-click="redemActiveWithdrawCash.takeAll(redemActiveBalance)">全部提现</button>
						</div>
						提现手续费: <span ng-bind="singleNumAmount1"></span> 元
					</div>
					<div class="form-group" ng-show="safePasswordFlag" >
						<label class="col-sm-2 control-label">资金密码：</label>
						<input type="password" ng-model="safePassword" required="required" class="form-control" style="width:auto;display:inline-block;" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
						<button class="btn btn-primary btn-mr20" type="button" ng-click='redemActiveWithdrawCash.withdrawCash(redemActiveBalance)'>确定</button>
						<button class="btn btn-primary8 " type="button" ng-click='redemActiveWithdrawCash.hideModal()'>取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- 信用卡管家账户余额提现  -->
	<div id="creditAccountModel" class="modal fade" tabindex="3" role="dialog">
		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
			<div class="modal-content" style="height:300px;width: 900px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h3 class="modal-title" >信用卡管家账户余额提现</h3>
				</div>
				<div class="modal-body">
					<div class="form-group" >
						<label class="col-sm-2 control-label">账户可用余额：</label>
						<div class="col-sm-2 radio" ng-bind="creditAccount.avaliBalance|currency:'&yen;'"></div>
						<label class="col-sm-3 control-label">每日允许提现时间：</label>
						<div class="col-sm-4 radio" >{{myAccount.service.tradStart}}~{{myAccount.service.tradEnd}}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">提现金额：</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="money">
							<button class="btn btn-new " type="button" ng-click="termianlWithdrawCash.takeAll(creditAccount)">全部提现</button>
						</div>
						提现手续费: <span ng-bind="singleNumAmount1"></span> 元
					</div>
					<div class="form-group" ng-show="safePasswordFlag" >
						<label class="col-sm-2 control-label">资金密码：</label>
						<input type="password" ng-model="safePassword" required="required" class="form-control" style="width:auto;display:inline-block;" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
						<button class="btn btn-primary btn-mr20" type="button" ng-click='creditWithdrawCash.withdrawCash(creditAccount)'>确定</button>
						<button class="btn btn-primary8 " type="button" ng-click='creditWithdrawCash.hideModal()'>取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- 机具款项账户余额提现  -->
	<div id="terminalAccountModel" class="modal fade" tabindex="3" role="dialog">
		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
			<div class="modal-content" style="height:300px;width: 900px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;</button>
					<h3 class="modal-title" >机具款项账户余额提现</h3>
				</div>
				<div class="modal-body">
					<div class="form-group" >
						<label class="col-sm-2 control-label">账户可用余额：</label>
						<div class="col-sm-2 radio" ng-bind="terminalAccount.avaliBalance|currency:'&yen;'"></div>
						<label class="col-sm-3 control-label">每日允许提现时间：</label>
						<div class="col-sm-4 radio" >{{terminalAccountService.service.tradStart}}~{{terminalAccountService.service.tradEnd}}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">提现金额：</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" style="width:auto;display:inline-block;"
								   ng-model="money" ng-blur="take()">
<!-- 							<button class="btn btn-new " type="button" ng-click="terminalWithdrawCash.takeAll()">全部提现</button> -->
							<button class="btn btn-new " type="button" ng-click="terminalTakeAll()">全部提现</button>
						</div>
						<p>提现手续费: <span ng-bind="perAgentTerminalSingleAmount"></span>元</p>
					</div>
					<div class="form-group" ng-show="safePasswordFlag" >
						<label class="col-sm-2 control-label">资金密码：</label>
						<input type="password" ng-model="safePassword" required="required" class="form-control" style="width:auto;display:inline-block;" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
						<!--<button class="btn btn-primary btn-mr20" type="button" ng-click='terminalWithdrawCash.withdrawCash(terminalAccount)'>确定</button>-->
						<button class="btn btn-primary btn-mr20" type="button" ng-click='takeTerminalBalance()'>确定</button>
						<button class="btn btn-primary8 " type="button" ng-click='terminalBalanceModelCancel()'>取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>

<div id="idCardModel" class="modal fade" tabindex="3" role="dialog">
	<div class="modal-dialog form-horizontal" >
		<div class="modal-content" style="width: 900px">
			<div class="modal-header">
				<button type="button" ng-click='idCardModelCancel()' class="close" data-dismiss="modal">
					&times;</button>
				<h3 class="modal-title" ng-show="!isRepeatStatus&&!isRepeatStatus2">身份认证</h3>
				<h3 class="modal-title" ng-show="isRepeatStatus||isRepeatStatus2">温馨提示</h3>
			</div>
			<div class="modal-body">
				<div class="form-group" ng-show="isRepeatStatus||isRepeatStatus2">
					<h4 class="modal-title" >身份认证失败!</h4>
				</div>
				<div class="form-group" ng-show="!isRepeatStatus&&isRepeatStatus2">
					<h4 class="modal-title" >失败原因：不支持该银行，请重新提交。</h4>
				</div>
				<div class="form-group" ng-show="!isRepeatStatus&&isRepeatStatus2">
					<h4 class="modal-title" >支持的银行有以下类型：</h4>
				</div>
				<div class="form-group" ng-show="!isRepeatStatus&&isRepeatStatus2">
					<textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="height: 200px;" ng-model="bankNames"></textarea>
				</div>

				<div class="form-group" ng-show="isRepeatStatus&&!isRepeatStatus2">
					<h4 class="modal-title" >您可立即联系客服，客服会协助您解决此问题。</h4>
				</div>

				<div class="form-group" ng-show="!isRepeatStatus&&!isRepeatStatus2">
					<label class="col-sm-2 control-label">开户名：</label>
					<div class="col-sm-2 radio" ng-bind="agentInfo.accountName"></div>
				</div>
				<div class="form-group" ng-show="!isRepeatStatus&&!isRepeatStatus2">
					<label class="col-sm-2 control-label">银行卡号：</label>
					<div class="col-sm-2 radio" ng-bind="agentInfo.accountNo"></div>
				</div>
				<div class="form-group" ng-show="!isRepeatStatus&&!isRepeatStatus2">
					<label class="col-sm-2 control-label">银行名称：</label>
					<div class="col-sm-2 radio" ng-bind="agentInfo.bankName"></div>
				</div>
				<div class="form-group" ng-show="!isRepeatStatus&&!isRepeatStatus2">
					<label class="col-sm-2 control-label">身份证号：</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" ng-model="idCardNo" name="idCardNo">
						<div class="req_mesg" ng-show="horizontal.idCardNo.$dirty && horizontal.idCardNo.$invalid">
							<span ng-show="horizontal.idCardNo.$error.required">身份证号不能为空</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-6">
					<button class="btn btn-primary8 btn-mr20" type="button" ng-click='idCardModelCancel()'>取消</button>
					<button class="btn btn-primary " type="button" ng-show="!isRepeatStatus&&!isRepeatStatus2" ng-click='cardAuth3()'>提交</button>
					<button class="btn btn-primary " type="button" ng-show="isRepeatStatus||isRepeatStatus2" ng-click='repeatCardAuth3()'>重新提交</button>
				</div>
			</div>
		</div>
	</div>
</div>

	<!-- 银行家红包账户 -->
<!-- 	<div id="superBankRedEnvelopesMode" class="modal fade" tabindex="3" role="dialog"> -->
<!-- 		<div class="modal-dialog form-horizontal" style="height:300px;width: 900px"> -->
<!-- 			<div class="modal-content" style="height:300px;width: 900px"> -->
<!-- 				<div class="modal-header"> -->
<!-- 					<button type="button" class="close" data-dismiss="modal"> -->
<!-- 						&times;</button> -->
<!-- 					<h3 class="modal-title" >超级银行家红包账户余额</h3> -->
<!-- 				</div> -->
<!-- 				<div class="modal-body"> -->
<!-- 					<div class="form-group" > -->
<!-- 						<label class="col-sm-2 control-label">账户可用余额：</label> -->
<!-- 						<div class="col-sm-2 radio" ng-bind="replayAccountSuperBank.avaliBalance|currency:'&yen;'"></div> -->
<!-- <!-- 						<label class="col-sm-3 control-label">每日允许提现时间：</label> --> -->
<!-- <!-- 						<div class="col-sm-4 radio" >{{myAccount.service.tradStart}}~{{myAccount.service.tradEnd}}</div> --> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<label class="col-sm-2 control-label">提现金额：</label> -->
<!-- 						<div class="col-sm-6"> -->
<!-- 							<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="money"> -->
<!-- 							<button class="btn btn-new " type="button" ng-click="cashAllReplayBalanceSuperBank()">全部提现</button> -->
<!-- 						</div> -->
<!-- <!-- 						提现手续费: <span ng-bind="singleNumAmountSuperBank"></span> 元 --> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="form-group"> -->
<!-- 					<label class="col-sm-2 control-label"></label> -->
<!-- 					<div class="col-sm-6"> -->
<!-- 						<button class="btn btn-primary btn-mr20" type="button" ng-click='takeReplayBalanceSuperBank()'>确定</button> -->
<!-- 						<button class="btn btn-primary8 " type="button" ng-click='takeReplayBalanceSuperBankModelCancel()'>取消</button> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
</div>

