<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>账户中心</a></li>
			<li class="active"><strong>安全设置</strong></li>
		</ol>
	</div>
</div>
<script src="js/jsencrypt/jsencrypt.min.js"></script>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app ng-controller="safeSetCtrl">
	<div style="padding: 20px; text-align: center; background: #fff;">
		<a ng-click="showSafePhone()" style="margin-right: 20px;">①设置安全手机</a>
		<a ng-click="showSafePassword()">②设置安全密码</a>
	</div>
	<form class="form-horizontal" id="form1" name="horizontal" ng-show="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="">
					<div class="panel-body ibox float-e-margins">
						<div class="ibox-content">
						
							<div class="form-group col-sm-12">
								<label  class="col-lg-4 control-label">安全手机：</label>
								<div   class="col-lg-4">
									<input type="text" class="form-control" maxlength="11" minlength="11"
										placeholder="请输入安全手机号码" required="" ng-model="info.phone" required>
									<div class="req_mesg"
										ng-show="horizontal.phoneNum.$dirty && horizontal.phoneNum.$invalid">
										<span ng-show="horizontal.phoneNum.$error.required">手机号不能为空</span>
									</div>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<label class="col-lg-4 control-label">图形验证码：</label>
								<div class="col-lg-4">
									<input type="text" class="form-control"
										placeholder="请输入图形验证码" required="" ng-model="info.imgNum">
									<div class="req_mesg"
										ng-show="horizontal.title.$dirty && horizontal.title.$invalid">
										<span ng-show="horizontal.title.$error.required">图形验证码不能为空</span>
									</div>
								</div>
								<div class="col-lg-2">
									 <img id="imgObj" alt="验证码" src="mycode/getCode.do" ng-click="changeImg()"	>
								</div>
							</div>

							<div class="form-group col-sm-12">
								<label class="col-lg-4 control-label">短信验证码：</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" 
										placeholder="请输入短信验证码" required="" ng-model="info.phoneNum">
								</div>
								<div class="col-lg-2">
									<a href="javascript:" ng-click="sendphonecode()"
										ng-class="paraclass" ng-bind="paracont">获取验证码</a>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<label class="col-lg-8 control-label">用于修改资金密码等地方使用，保存后可在账户中心中进行修改</label>
							</div>
							
							<div class="col-sm-12">
								<div class="col-sm-4"></div>
								<div class="col-sm-3">
									<button class="btn btn-primary btn-rounded btn-block"
										type="button" id="btnSubmit" ng-click="submit()"
										ng-disabled="horizontal.$invalid || submitting">下一步</button>
										</div>
								<div class="col-sm-3">		
									<button class="btn btn-primary3" ng-click="cancle()">取消</button>
										
								</div>
							</div>
							<div class="ibox float-e-margins">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form class="form-horizontal" id="form2" name="horizontal" ng-show="form2">
		<div class="row">
			<div class="col-lg-12">
				<div class="">
					<div class="panel-body ibox float-e-margins">
						<div class="ibox-content" >
							<div class="form-group col-sm-12">
								<div class="col-sm-5"></div>
								<label class="col-lg-6">请输入6位纯数字资金密码</label>
							</div>
							<div class="form-group col-sm-12" >
								<div class="col-sm-5"></div>
								<div class="col-lg-6 ">
									<input name="name1" ng-model="name1" maxlength="1" minlength="1" type="password" size="2" />
									<input name="name2" ng-model="name2" maxlength="1" minlength="1" type="password" size="2" />
									<input name="name3" ng-model="name3" maxlength="1" minlength="1" type="password" size="2" />
									<input name="name4" ng-model="name4" maxlength="1" minlength="1" type="password" size="2" />
									<input name="name5" ng-model="name5" maxlength="1" minlength="1" type="password" size="2" />
									<input name="name6" ng-model="name6" maxlength="1" minlength="1" type="password" size="2" />
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="col-sm-5"></div>
								<label class="col-lg-6">提现时需输入资金密码进行验证</label>
							</div>
							<div class="col-sm-12" style="padding-top: 20px;">
								<div class="col-sm-5"></div>
									<div class="col-sm-2">
										<button class="btn btn-primary1 btn-rounded btn-block"
											type="button" id="safePassword" ng-click="updateSafePassword()"
										ng-disabled="horizontal.$invalid || submitting">完成设置</button>
									</div>
							</div>
							<div class="ibox float-e-margins">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form class="form-horizontal" id="form3" name="horizontal" ng-show="form3">
		<div class="row">
			<div class="col-lg-12">
				<div class="">
					<div class="panel-body ibox float-e-margins">
						<div class="ibox-content" style="overflow: hidden;padding-bottom: 80px;">
							<div class="form-group col-sm-12">

								<div class="col-lg-12" style="text-align: center">
									<label class="col-lg-12">安全手机号码已设置,<a ng-click="showSafePassword()">设置资金密码 ></a></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>