<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>我的信息</a></li>
			<li class="active"><strong>每日分润报表</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="myInfoShareByDayCtrl">
	<!-- 分润调账统计 和 分润冻结统计 -->
	<div class="panel-body ibox float-e-margins"  ng-show="collectionFreezeOrAdjust.fristAgent">
		<div class="ibox-content" style="overflow:hidden">
			<div class="col-sm-12">
				<div class="col-sm-5" ng-show="collectionFreezeOrAdjust.fristAgent">
					<div style="border:1px solid #ccc; overflow:hidden;height:200px;">
						<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
							<label class="col-sm-6 control-label" style="text-align:left">分润调账统计</label>
						</div>
						<div class="col-sm-12" style=" font-size:20px;font-weight:bold;padding-bottom: 20px;">
							<div class="col-sm-4">还需调账:&nbsp;&nbsp;</div>
							<div class="col-sm-8" >&nbsp;&nbsp;{{ collectionFreezeOrAdjust.adjust.needAdjustAmount | currency:'&yen;'}}</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-4">共需调账：</div>
							<div class="col-sm-4">{{collectionFreezeOrAdjust.adjust.sumAdjustAmount | currency :'&yen;'}} </div>
							<div class="col-sm-4"><a href="#/myInfo/myInfo/preliminaryAdjustQuery">查询明细</a></div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-4">已调账：</div>
							<div class="col-sm-4">{{collectionFreezeOrAdjust.adjust.adjustedAmount | currency :'&yen;'}}</div>
						</div>
					</div>
				</div>
				<div class="col-sm-5" >
					<div style="border:1px solid #ccc; overflow:hidden;height:200px;">
						<div style="line-height:40px; border-bottom:1px solid #ccc;overflow:hidden; margin-bottom:15px;">
							<label class="col-sm-6 control-label" style="text-align:left">分润冻结统计</label>
						</div>
						<div class="col-sm-12" style=" font-size:20px;font-weight:bold;padding-bottom: 20px;">
							<div class="col-sm-4">还需冻结:&nbsp;&nbsp;</div>
							<div class="col-sm-8" >&nbsp;&nbsp;{{collectionFreezeOrAdjust.freeze.needFreezeAmount | currency :'&yen;'}}</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-4">共需冻结：</div>
							<div class="col-sm-4">{{collectionFreezeOrAdjust.freeze.sumFreezeAmount | currency :'&yen;'}} </div>
							<div class="col-sm-4"><a href="#/myInfo/myInfo/preliminaryFreezeQuery">查询明细</a></div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-4">已冻结：</div>
							<div class="col-sm-4">{{collectionFreezeOrAdjust.freeze.freezedAmount | currency :'&yen;'}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- 查询条件 -->
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>查询条件</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">代理商</label>
							<div class="col-sm-2"><select chosen="{width:'100%'}" class="form-control" class="chosen-select" ng-model="info.selectAgentNo" ng-options="x.value as x.text for x in agent"></select></div>
							<label class="col-sm-2 control-label">入账状态</label>
							<div class="col-sm-2"><select class="form-control" ng-model="info.statu" ng-options="x.value as x.text for x in status"></select></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">交易日期：</label>
							<div class="col-sm-6">
								<!--<input id="d5221" class="form-control" type="datetime" ng-model="info.sTime"
									   onchange="" style="width:auto;display:inline-block;"
									   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
								~
								<input id="d5222" class="form-control" type="datetime" ng-model="info.eTime"
									   onchange="" style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5221\')}'})"/>-->
								<input id="d5221" class="form-control" type="datetime" ng-model="info.sTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',changed:verifyTime(1,'#d5221','#d5222',31,isVerifyTime),onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')||\'%y-%M-%d\'}'})"/>
								~
								<input id="d5222" class="form-control" type="datetime"  ng-model="info.eTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTime(2,'#d5221','#d5222',31,isVerifyTime),minDate:'#F{$dp.$D(\'d5221\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
								<br/><span><font color="#999">备注：查询范围不能超过31天</font></span>
							</div>
							<!--<div class="col-sm-5">-->
								<!--<input type="datetime"-->
									   <!--style="width: auto; display: inline-block;"-->
									   <!--class="form-control" date-time ng-model="info.sTime"-->
									   <!--view="date" format="YYYY-MM-DD HH:mm:ss"> - <input-->
									<!--type="datetime" style="width: auto; display: inline-block;"-->
									<!--class="form-control" date-time ng-model="info.eTime"-->
									<!--view="date" format="YYYY-MM-DD HH:mm:ss">-->
							<!--</div>-->
						</div>
						<div class="form-group" style="padding-top: 20px;">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20" type="button" ng-click="selectAccountInfo()">查询</button>
								<button class="btn btn-primary3" ng-click="reset()">清空</button>
								<button class="btn btn-primary3" ng-click="exportInfo()">导出</button>
							</div>
						</div>
					</div>
				</div>

				<div class="ibox float-e-margins" >
					<div class="ibox-title" >
						<h5>每日分润报表</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group" ng-hide="info.selectAgentNo === ''">
							<label class="col-sm-1 control-label">汇总</label>
							<div class="col-sm-2 checkbox">
								交易总金额:
								<span ng-bind="collectionData.sumTransTotalAmount" class="ng-binding"/>
								元
							</div>
							<div class="col-sm-2 checkbox">
								商户提现手续费:
								<span ng-bind="collectionData.sumMerCashFee" class="ng-binding"/>
								元
							</div>
							<div class="col-sm-2 checkbox">
								原交易分润:
								<span ng-bind="collectionData.sumPreTransShareAmount" class="ng-binding"/>
								元
							</div>
							<div class="col-sm-2 checkbox">
								原提现分润:
								<span ng-bind="collectionData.sumPreTransCashAmount" class="ng-binding"/>
								元
							</div>

							<div class="col-sm-2 checkbox">
								调账金额:
								<span ng-bind="collectionData.sumAdjustAmount" class="ng-binding"/>
								元
							</div>
						</div>
						<div class="form-group" ng-hide="info.selectAgentNo === ''">
							<label class="col-sm-1 control-label"></label>

							<div class="col-sm-2 checkbox">
								调整后交易分润:
								<span ng-bind="collectionData.sumAdjustTransShareAmount" class="ng-binding"/>
								元
							</div>
							<div class="col-sm-2 checkbox">
								调整后提现分润:
								<span ng-bind="collectionData.sumAdjustTransCashAmount" class="ng-binding"/>
								元
							</div>
							<div class="col-sm-2 checkbox">
								调整后总分润:
								<span ng-bind="collectionData.sumAdjustTotalShareAmount" class="ng-binding"/>
								元
							</div>
							<div class="col-sm-2 checkbox">
								冻结金额:
								<span ng-bind="collectionData.sumFreezeAmount" class="ng-binding"/>
								元
							</div>
							<div class="col-sm-2 checkbox">
								实际到账分润:
								<span ng-bind="collectionData.sumRealEnterShareAmount" class="ng-binding"/>
								元
							</div>
						</div>
						<div class="form-group" >
							<div class="gridStyle" ui-grid="accountGrid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-pinning></div>
						</div>
					</div>
				</div>
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>词汇解释说明</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<div>
								<span>一、调账说明：</span>
								<ol>
									<li><span>共需调账：汇总当前代理商累计预调账申请记录金额；</span></li>
									<li><span>已调账金额：汇总当前代理商每日分润报表中发生的调账金额；</span></li>
									<li><span>还需调账金额=上次还需调账金额 - 当前最后一次发生的调账金额</span></li>
								</ol>
							</div>
							<div>
								<span>二、冻结说明：</span>
								<ol>
									<li><span>共需冻结=已冻结金额+还需冻结金额</span></li>
									<li><span>已冻结金额：当前代理商分润账户已冻结金额；</span></li>
									<li><span>还需冻结金额：还没冻结的金额，即预冻结金额</span></li>
								</ol>
							</div>
							<div>
								<span>三、每日分润报表说明：</span>
								<ol>
									<li><span>原交易分润＝（商户签约扣率－代理商成本扣率）* 代理商分润百分比 * 交易金额；</span></li>
									<li><span>原提现分润=（商户每笔提现手续费（如3.00元）－商户每笔提现代理商成本（如2.00元））*总笔数</span></li>
									<li><span>调账后总分润 = 原交易分润 + 原提现分润 - 调账金额</span></li>
									<li><span>实际到账分润 = 调账后总分润 - 直属下级代理商分润</span></li>
									<li><span>冻结金额：指分润入账时发生的机具冻结与其他冻结项产生的实际冻结金额</span></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
