<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#/service/addService">主页</a></li>
            <li><a>直清商户</a></li>
            <li class="active"><strong>交易查询</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
     ng-controller="zqTradeCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>交易信息多条列表查询</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机号：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info.mobilephone" ng-model="info.mobilephone">
                                </div>
                                <label class="col-sm-2 control-label">银联报备商户编号：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info.unionpayMerNo" ng-model="info.unionpayMerNo">
                                </div>
                                <label class="col-sm-2 control-label">商户进件编号：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info.bpId" ng-model="info.bpId">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">交易卡号：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info.accountNo" ng-model="info.accountNo">
                                </div>
                                <label class="col-sm-2 control-label">身份证：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info.idCardNo" ng-model="info.idCardNo">
                                </div>
                                <label class="col-sm-2 control-label">持卡人姓名：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info.accountName" ng-model="info.accountName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商户编号/名称：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info.merchantName" ng-model="info.merchantName">
                                </div>
                                <label class="col-sm-2 control-label">终端号：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info.terminalId" ng-model="info.terminalId">
                                </div>

                                <label class="col-sm-2 control-label">交易类型：</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="info.transType"  ng-model="info.transType" ng-options="x.value as x.text for x in select.transType">
                                        <option selected value="">全部</option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label">交易状态：</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="info.transStatus"  ng-model="info.transStatus" ng-options="x.value as x.text for x in select.transStatus">
                                    <option selected value="">全部</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">创建时间：</label>
                                <div class="col-sm-5">
                                    <input type="text"
                                           style="width: auto; display: inline-block;"
                                           class="form-control" date-time ng-model="info.startTransTime"
                                            format="YYYY-MM-DD HH:mm:ss" view="date"> -
                                    <input type="text" style="width: auto; display: inline-block;"
                                           class="form-control" date-time ng-model="info.endTransTime" view="date"
                                           format="YYYY-MM-DD HH:mm:ss">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="col-sm-2 control-label"></label>
                                    <button class="btn btn-primary6 btn-mr20" type="button" ng-click="queryZQTransOrder()" >查询</button>
                                    <button class="btn btn-primary3" type="button" ng-click="clear()">清空</button>
                                    <button class="btn btn-primary7" type="button" id="btnSubmit" ng-click="exportZQTransOrder()">导出</button>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>交易信息列表</h5>
                            <div class="ibox-content">
                                <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns class="grid"></div>
                            </div>
                        </div>
                        <div style="height:30px"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>