<!-- head -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#/service/addService">主页</a></li>
            <li><a>积分兑换</a></li>
            <li class="active"><strong>修改代理商</strong></li>
        </ol>
    </div>
</div>

<!-- content-->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="userUpdateAgentCtrl">
    <form class="form-horizontal" id="form1" name="horizontal" novalidate>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container tab_other">
                        <uib-tabset>
                            <uib-tab index="0" active="t1Active">
                                <uib-tab-heading>
                                    <span class="block m-t-xs"> <i class="fa fa-laptop"></i> <strong class="font-bold">基本信息</strong></span>
                                </uib-tab-heading>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>基本信息</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label"><i class="red_req">*</i>代理商名称：</label>
                                                            <div class="col-lg-2">
                                                                <input type="text" class="form-control" ng-model="agent.userName" name="userName" required/>
                                                                <div class="req_mesg" ng-show="horizontal.userName.$dirty && horizontal.userName.$invalid">
                                                                    <span ng-show="horizontal.userName.$error.required">代理商名称不能为空</span>
                                                                </div>
                                                            </div>
                                                            <label class="col-lg-2 control-label"><i class="red_req">*</i>手机号：</label>
                                                            <div class="col-lg-2">
                                                                <input type="text" class="form-control" ng-model="agent.mobileUsername" name="mobileUsername" ng-pattern="/^1\d{10}$/" required/>
                                                                <div class="req_mesg" ng-show="horizontal.mobileUsername.$dirty && horizontal.mobileUsername.$invalid">
                                                                    <span ng-show="horizontal.mobileUsername.$error.required">手机号不能为空</span>
                                                                    <span ng-show="horizontal.mobileUsername.$error.pattern">手机号码必须是11位数字！</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label"><i class="red_req">*</i>邮箱：</label>
                                                            <div class="col-lg-2">
                                                                <input type="email" name="email" class="form-control" ng-model="agent.email" required/>
                                                                <div class="req_mesg" ng-show="horizontal.email.$dirty && horizontal.email.$invalid">
                                                                    <span ng-show="horizontal.email.$error.email">邮箱格式不正确</span>
                                                                </div>
                                                                <div class="req_mesg" ng-show="horizontal.email.$dirty && horizontal.email.$invalid">
                                                                    <span ng-show="horizontal.email.$error.required">邮箱不能为空</span>
                                                                </div>
                                                            </div>
                                                            <label class="col-lg-2 control-label">联系电话：</label>
                                                            <div class="col-lg-2">
                                                                <input type="text" class="form-control" ng-model="agent.phone"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label">代理商联系人：</label>
                                                            <div class="col-lg-2">
                                                                <input type="text" class="form-control" ng-model="agent.linkName">
                                                            </div>
                                                            <label class="col-lg-2 control-label"><i class="red_req">*</i>销售名称：</label>
                                                            <div class="col-lg-2">
                                                                <input type="text" class="form-control" ng-model="agent.saleName" name="saleName" required>
                                                                <div class="req_mesg" ng-show="horizontal.saleName.$dirty && horizontal.saleName.$invalid">
                                                                    <span ng-show="horizontal.saleName.$error.required">销售名称不能为空</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label"><i
                                                                    class="red_req">*</i>代理商地址：</label>
                                                            <div class="col-lg-2">
                                                                <select class="form-control input-s-sm inline"
                                                                        ng-model="agent.province" name="province"
                                                                        ng-change="getCities(false)"
                                                                        ng-options="x.name as x.name for x in address.province"/>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <select class="form-control input-s-sm inline"
                                                                        ng-model="agent.city" ng-change="getAreas()"
                                                                        ng-options="x.name as x.name for x in address.city"/>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <select class="form-control input-s-sm inline" ng-model="agent.area"
                                                                        ng-options="x.name as x.name for x in address.area"/>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <input type="text" class="form-control"
                                                                       ng-model="agent.address" name="address" required>
                                                                <div class="req_mesg" ng-show="horizontal.address.$dirty && horizontal.address.$invalid">
                                                                    <span ng-show="horizontal.address.$error.required">代理商地址不能为空</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-lg-2 control-label"><i
                                                                    class="red_req">*</i>代理区域：</label>
                                                            <div class="col-lg-2">
                                                                <input type="text" class="form-control"
                                                                       ng-model="agent.agentArea" name="agentArea"
                                                                       required>
                                                                <div class="req_mesg"
                                                                     ng-show="horizontal.agentArea.$dirty && horizontal.agentArea.$invalid">
                                                                    <span ng-show="horizontal.agentArea.$error.required">代理区域不能为空</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>结算账户信息</h5>
                                                <!--<div ibox-tools></div>-->
                                            </div>
                                            <div class="panel-body" style="padding-bottom:80px">
                                                <div class="ibox-content">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="col-lg-2 control-label"><i
                                                                        class="red_req">*</i>账户类型：</label>
                                                                <div class="col-lg-2">
                                                                    <select class=" form-control inline"
                                                                            ng-model="agent.accountType"
                                                                            ng-change="agent.identityId = ''"
                                                                            ng-options="x.value as x.text for x in accountType"></select>
                                                                </div>
                                                                <label class="col-lg-2 control-label"><i
                                                                        class="red_req">*</i>开户名：</label>
                                                                <div class="col-lg-4">
                                                                    <input type="text" class="form-control"
                                                                           ng-model="agent.accountName" name="accountName"
                                                                           required>
                                                                    <div class="req_mesg"
                                                                         ng-show="horizontal.accountName.$dirty && horizontal.accountName.$invalid">
                                                                        <span ng-show="horizontal.accountName.$error.required">开户名不能为空</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label"><i
                                                                        class="red_req">*</i>开户账号：</label>
                                                                <div class="col-sm-3">
                                                                    <input type="text" ng-blur="getHangName()"
                                                                           class="form-control" ng-model="agent.accountNo"
                                                                           name="accountNo" ng-pattern="/^\d{9,21}$/"
                                                                           required>
                                                                    <div class="req_mesg"
                                                                         ng-show="horizontal.accountNo.$dirty && horizontal.accountNo.$invalid">
                                                                        <span ng-show="horizontal.accountNo.$error.required">开户账号不能为空</span>
                                                                        <span ng-show="horizontal.accountNo.$error.pattern">开户账号格式不正确</span>
                                                                    </div>
                                                                    <div class="req_mesg">
                                                                        <span ng-show="accountNoFlag">开户账号不正确</span>
                                                                    </div>
                                                                </div>
                                                                <div ng-show="agent.accountType == 2">
                                                                    <label class="col-sm-2 control-label">开户银行：</label>
                                                                    <div class="col-sm-3">
                                                                        <select class=" form-control inline"
                                                                                ng-model="agent.bankName"
                                                                                ng-options="x.bankName as x.bankName for x in account.accountList"/>
                                                                    </div>
                                                                </div>
                                                                <div ng-show="agent.accountType == 1">
                                                                    <label class="col-sm-2 control-label">开户行全称：</label>
                                                                    <div class="col-sm-3">
                                                                        <input type="text" ng-model="agent.bankName"
                                                                               class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label"><i
                                                                        class="red_req">*</i>开户地区：</label>
                                                                <div class="col-sm-2">
                                                                    <select class="form-control input-s-sm inline"
                                                                            ng-model="agent.accountProvince"
                                                                            ng-change="getCities(true)"
                                                                            ng-options="x.name as x.name for x in account.province"/>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <select class="form-control input-s-sm inline"
                                                                            ng-model="agent.accountCity"
                                                                            ng-change="getPosCnaps()"
                                                                            ng-options="x.name as x.name for x in account.city"/>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <p class="red_req" style="margin-top:7px">
                                                                        备注：获取支行需要开户账号、开户银行、开户地区的相关信息</p>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div ng-show="agent.accountType == 2">
                                                                    <label class="col-sm-2 control-label"><i
                                                                            class="red_req">*</i>支行：</label>
                                                                    <div class="col-sm-4 chosen-mh">
                                                                        <select chosen style="width:350px; z-index:900000;"
                                                                                tabindex="4"
                                                                                ng-model="agent.cnapsNo"
                                                                                ng-options="x.cnapsNo as x.bankName for x in account.bankNames">
                                                                            <option value=""></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <label class="col-sm-2 control-label"><i
                                                                        class="red_req">*</i>联行行号：</label>
                                                                <div class="col-sm-2">
                                                                    <input type="text" class="form-control"
                                                                           ng-model="agent.cnapsNo" required>
                                                                </div>
                                                                <div ng-show="agent.accountType == 1">
                                                                    <label class="col-lg-2 control-label"><a
                                                                            href="http://www.posp.cn/" rel="noopener noreferrer" target="_blank">联行行号查询</a></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>下级代理商分润比例</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-lg-3 control-label"><i class="red_req">*</i>修改后的会员入账比例：</label>
                                                            <div class="input-group col-lg-2">
                                                                <input type="text" class="form-control" ng-model="agent.ordparProShare"  required/>
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-lg-3 control-label"><i class="red_req">*</i>修改后的黄金会员入账比例：</label>
                                                            <div class="input-group col-lg-2">
                                                                <input type="text" class="form-control" ng-model="agent.goldparProShare" required/>
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-lg-3 control-label"><i class="red_req">*</i>修改后的钻石会员入账比例：</label>
                                                            <div class="input-group col-lg-2">
                                                                <input type="text" class="form-control" ng-model="agent.diamparProShare"  required/>
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-lg-3 control-label"><i class="red_req">*</i>积分兑换成本:</label>
                                                            <div class="input-group col-lg-2">
                                                                <input type="text" class="form-control" ng-model="agent.agentFee"  required/>
                                                                <span class="input-group-addon">元</span>
                                                            </div>
                                                            <label class="col-lg-5 control-label" style="color:red;">注:积分兑换成本最多为{{agent.oemFee}}元</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="col-lg-12 bgff">
                    <div class="col-lg-12">
                        <div class="col-lg-2"></div>
                        <div style="float: left">
                            <button class="btn btn-primary"  type="button"
                                    id="btnSubmit" ng-click="submit()"
                                    ng-disabled="horizontal.$invalid || agent.province==null || agent.city==null || agent.area==null || agent.accountProvince == null || agent.accountCity == null || agent.cnapsNo == null || submiting">
                                提交
                            </button>
                        </div>
                        <div class="col-sm-4 control-label" style="text-align: left; color: red"
                             ng-show="horizontal.$invalid || agent.province==null || agent.city==null || agent.area==null || agent.accountProvince == null || agent.accountCity == null || agent.cnapsNo == null">
                            您还有资料未填
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:30px;"></div>
        </div>
    </form>
</div>