<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd
    ">

	<bean id="writeDataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="url" value="${posp.write.url}" />
		<property name="username" value="${posp.write.userName}" />
		<property name="password" value="${posp.write.password}" />

		<property name="filters" value="stat" />
		<property name="maxActive" value="${posp.write.maxActive}" />
		<property name="initialSize" value="${posp.write.initialSize}" />
		<property name="maxWait" value="${posp.write.maxWait}" />
		<property name="minIdle" value="${posp.write.minIdle}" />

		<property name="timeBetweenEvictionRunsMillis" value="3000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />

		<property name="validationQuery" value="SELECT 'x'" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />

		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
	</bean>

	<bean id="writeSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="writeDataSource"
		p:configLocation="classpath:mybatis-config.xml"
		p:mapperLocations="classpath:mapper/*.xml"/>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:basePackage="cn.eeepay.framework.dao"
		p:annotationClass="cn.eeepay.framework.util.WriteReadDataSource"
		p:sqlSessionFactoryBeanName="writeSqlSessionFactory"/>

	<bean id="writeTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="writeDataSource" />

    <tx:advice id="writeAdvice"  transaction-manager="writeTransactionManager">
        <tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED" rollback-for="java.lang.Throwable" />
			<tx:method name="update*" propagation="REQUIRED" rollback-for="java.lang.Throwable" />
			<tx:method name="delete*" propagation="REQUIRED" rollback-for="java.lang.Throwable" />
			<tx:method name="save*" propagation="REQUIRED" rollback-for="java.lang.Throwable" />
			<tx:method name="batch*" propagation="REQUIRED" rollback-for="java.lang.Throwable" />
			<tx:method name="add*" propagation="REQUIRED" rollback-for="java.lang.Throwable" />
			<tx:method name="select*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="query*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="export*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="count*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="list*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="*Export" propagation="SUPPORTS" read-only="true" />
			<tx:method name="*Query" propagation="SUPPORTS" read-only="true" />
			<tx:method name="*Count" propagation="SUPPORTS" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Throwable"/>
        </tx:attributes>
    </tx:advice>

    <tx:annotation-driven transaction-manager="writeTransactionManager" />
	<aop:config>
		<aop:pointcut id="serviceWriteMethods"
					  expression="execution(* cn.eeepay.framework.service.impl..*(..))" />
		<aop:advisor advice-ref="writeAdvice" pointcut-ref="serviceWriteMethods" />
	</aop:config>
</beans>
