<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li class="active"><strong>欢乐返子类型</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn"
	ng-controller="happyReturnTypeCtrl">
	<form class="form-horizontal" id="form1" name="horizontal">
		<div class="row">
			<div class="col-lg-12" style="padding-bottom: 80px;">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">欢乐返子类型编号：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" name="info.activityTypeNo" ng-model="info.activityTypeNo">
							</div>
							<label class="col-sm-2 control-label">欢乐返子类型名称：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" name="info.activityTypeName" ng-model="info.activityTypeName">
							</div>
							<label class="col-sm-2 control-label">活动类型：</label>
							<div class="col-sm-2">
								<select class="form-control"  ng-model="info.activityCode" ng-options="x.value as x.text for x in types">
									<option value="" selected>全部</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">活跃商户活动：</label>
							<div class="col-sm-2">
								<select ng-model="info.ruleId" ng-options="x.value as x.text for x in hlfMer"
										chosen="{width:'100%'}" chosen-data="hlfMer" chosen-keyup="getStates">
									<option value="" selected>全部</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<div class="col-sm-1"></div>
								<button class="btn btn-primary6 btn-mr20" type="button" ng-click="query()">查询</button>
								<button class="btn btn-primary3 btn-mr20" type="button" ng-click="clear()">清空</button>
								<button class="btn btn-new2 btn-mr20" type="button" ng-show="hasPermit('activity.addHappyReturnType')" ng-click="hardWardAddModel()">新增子类型</button>
								<button class="btn btn-new btn-mr20" type="button" ng-click="export()">导出</button>
							</div>
						</div>
					</div>

					<div class="ibox float-e-margins">
						<div class="ibox-content">
							<div class="tposition">
								<div ui-grid="gridOptions" ui-grid-pagination  ui-grid-resize-columns ui-grid-pinning class="grid"></div>
								<div ng-show="loadImg" class="timg"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div id="hardWardAddModel" class="modal fade" tabindex="-1"
		role="dialog">
		<form class="form-horizontal" id="form2">
			<div class="modal-dialog">
				<div class="modal-content" style="width: 900px">
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>欢乐返类型：</label>
							<div class="col-sm-5">
								<select class="form-control" id="activityCode" ng-model="happyReturnType.activityCode"
									ng-options="x.value as x.text for x in types">
									<option value="" disabled selected>请选择</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>欢乐返子类型名称：</label>
							<div class="col-sm-5">
								<input ng-blur="checkUnique()" type="text" class="form-control" name="happyReturnType.activityTypeName" ng-model="happyReturnType.activityTypeName" maxlength="20">
							</div>
							<div style="float:left; padding:7px 0 0 10px; color:#ff0000;">不能超过20字,唯一性</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">活跃商户活动：</label>
							<div class="col-sm-5">
								<select name="autocomplete-select" id="autocomplete-select" ng-model="happyReturnType.ruleId" ng-options="x.value as x.text for x in hlfMer"
										chosen="{width:'100%'}" chosen-data="hlfMer" chosen-keyup="getStates">
									<option value="" selected>请选择</option>
								</select>
							</div>
							<div style="float:left; padding:7px 0 0 10px"> (选填，不选不参加) </div>
						</div>
						<div class="form-group" id="activityTypeNo">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>欢乐返子类型编号：</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="happyReturnType.activityTypeNo" ng-model="happyReturnType.activityTypeNo" readonly>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>交易金额（元）：</label>
							<div class="col-sm-5">
								<input type="text" ng-model="happyReturnType.transAmount" class="form-control"
									style=" display: inline-block;">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>返现金额（元）：</label>
							<div class="col-sm-5">
								<input type="text" ng-model="happyReturnType.cashBackAmount"
									class="form-control" style="display: inline-block;">
							</div>
							<div style="float:left; padding:7px 0 0 10px; color:#ff0000;">返现金额不得低于二级代理商的返现金额</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>重复注册返现金额（元）：</label>
							<div class="col-sm-5">
								<input type="text" ng-model="happyReturnType.repeatRegisterAmount"
									   class="form-control" style="display: inline-block;">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>首次注册不满扣N值:</label>
							<div class="col-sm-5">
								<input type="text" ng-model="happyReturnType.emptyAmount" class="form-control"
									   style="display: inline-block;">
							</div>
							<div style="float:left; padding:7px 0 0 10px"> 元</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>首次注册满奖M值:</label>
							<div class="col-sm-5">
								<input type="text" ng-model="happyReturnType.fullAmount"
									   class="form-control" style="display: inline-block;">
							</div>
							<div style="float:left; padding:7px 0 0 10px"> 元</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>重复注册不满扣N值:</label>
							<div class="col-sm-5">
								<input type="text" ng-model="happyReturnType.repeatEmptyAmount" class="form-control"
									   style="display: inline-block;">
							</div>
							<div style="float:left; padding:7px 0 0 10px"> 元</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>重复注册满奖M值:</label>
							<div class="col-sm-5">
								<input type="text" ng-model="happyReturnType.repeatFullAmount"
									   class="form-control" style="display: inline-block;">
							</div>
							<div style="float:left; padding:7px 0 0 10px"> 元</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label"> 备注:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="happyReturnType.remark" ng-model="happyReturnType.remark" maxlength="50">
							</div>
							<div style="float:left; padding:7px 0 0 10px; color:#ff0000;">不能超过50字</div>
						</div>
						<div class="form-group control-label">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary btn-mr20" type="button" ng-click='saveHappyReturnType()'>提交</button>
								<button class="btn btn-primary8 " type="button" ng-click='cancel()'>返回</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>
