<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
<meta charset="UTF-8">
<title>后台管理系统</title>
<link rel="stylesheet" type="text/css"
	href="jquery-easyui-1.7.0/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="jquery-easyui-1.7.0/themes/icon.css" />
<link rel="stylesheet" type="text/css"
	href="jquery-easyui-1.7.0/themes/icon.css" />
<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js"></script>
<script type="text/javascript"
	src="jquery-easyui-1.7.0/jquery.easyui.min.js"></script>

<script type="text/javascript"
	src="jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"
	src="jquery-easyui-1.7.0/datagrid-detailview.js"></script>

<script type="text/javascript" th:inline="javascript">
	function p(obj) {
	    console.info(obj);
	}
	var token = [[${_csrf.token}]];
	
	$(function(){
		
		
		
	});

	
</script>
</head>
<body>
	<table id="employee-dg" class="easyui-datagrid" title="员工列表" style="width: 800px; height: 600px"
		data-options="
				iconCls: 'icon-ok',
				fitColumns: true,
				url:  '/employee/listByQo',
				method: 'get',
				toolbar: '#employee-toolbar',
				singleSelect: true,
				pagination: true
			">
		<thead>
			<tr>
				<th data-options="field:'username'" width="80">登录名</th>
				<th data-options="field:'email'" width="150">邮箱</th>
				<th data-options="field:'nickname'" width="80">昵称</th>
				<th data-options="field:'status',
				formatter: function(value,row,index){
					return value;
				}" 
				width="50">状态</th>
				<th data-options="field:'employeeType'" width="50">员工类型</th>
				<th data-options="field:'employeeNumber'" width="50">工号</th>
				<th data-options="field:'intro'" width="150">简介</th>
			</tr>
		</thead>
	</table>
	
	<div id="employee-toolbar">
		<div id="employeeSearchInputs">
			<span>登录名称:</span> <input id="username" name="username" />
			<a href="#" class="easyui-linkbutton"
				data-options="iconCls:'icon-search',plain:true"
				onclick="employeeSearch()">查询</a> <a href="#"
				class="easyui-linkbutton"
				data-options="iconCls:'icon-clear',plain:true"
				onclick="clearEmployeeCondition()">清空</a>
		</div>
		
		<a href="#" class="easyui-linkbutton"
			data-options="iconCls:'icon-add',plain:true" onclick="add()">新增员工</a>
		<a href="#" class="easyui-linkbutton"
			data-options="iconCls:'icon-edit',plain:true" onclick="add()">编辑员工</a>
		<a href="#" class="easyui-linkbutton"
			data-options="iconCls:'icon-remove',plain:true"
			onclick="remove()">删除</a>
		<a href="#" class="easyui-linkbutton"
			data-options="iconCls:'icon-add',plain:true"
			onclick="allotPermission()">分配角色</a>
	</div>
</body>
</html>