<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
 <head> 
  <meta charset="UTF-8" /> 
  <title>后台管理系统</title> 
  <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/default/easyui.css" /> 
  <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/icon.css" /> 
  <script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js"></script> 
  <script type="text/javascript" src="jquery-easyui-1.7.0/jquery.easyui.min.js"></script> 
  <script type="text/javascript" src="jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script> 
  <script type="text/javascript" th:inline="javascript">
	function p(obj) {
	    console.info(obj);
	}
	var token = [[${_csrf.token}]];
	
	var statusObj = {
	    0 : "正常",
	    1 : "锁定",
	    2 : "失效"
	};
	var employeeObj = {
	    0 : "管理"
	};

	function employeeSearch() {
	    $("#employee-dg").datagrid("load", {
	        "username": $("#username").val(),
	        "employeeType": $("#employeeType").val()
	    });
	}

	function clearEmployeeCondition() {
	    $('#username').textbox('clear');
	    $('#employeeType').combobox('setValue', '');
	}
	
	function add() {
	    $('#employee-dialog').dialog('open');
	}
	
	function save() {
	    $("#add-form").form('submit', {
	        url: "/employee/add?_csrf=" + token,
	        onSubmit: function() {
	            return $(this).form('validate');
	        },
	        success: function(data) {
	            var data = eval('(' + data + ')');
	            if (data.succeed) {
	                $.messager.alert('提示', data.msg, 'info',
	                function() {
	                    $("#add-form").form("clear");
	                });
	            } else {
	                $.messager.alert('提示', data.msg, 'error');
	            }
	        }
	    });
	}
	
	function clearForm() {
	    $("#add-form").form("clear");
	}
	
	function remove() {
	    var row = $("#employee-dg").datagrid('getSelected');
	    if (row) {
	        $.messager.confirm('确认', '确认删除这个员工吗?',
	        function(r) {
	            if (r) {
	                var index = $("#employee-dg").datagrid('getRowIndex', row);
	                $.post('/employee/delete?_csrf=' + token, {
	                    id: row.id
	                },
	                function(data) {
	                    if (data.succeed) {
	                        // 重新读取一次
	                        employeeSearch();
	                    } else {
	                        $.messager.alert('提示', data.msg, 'error');
	                    }
	                });
	            }
	        });
	    } else {
	        $.messager.alert('提示', '请选择一条数据', 'info');
	    }
	}
	
	function edit() {
		var row = $("#employee-dg").datagrid('getSelected');
		if(row) {
			$("#add-form").form('load',row);
			// 打开弹框
			$('#employee-dialog').dialog('open');
		}else {
			 $.messager.alert('提示', '请选择一条数据', 'info');
		}
	}
	
	// 自定义校验
	$.extend($.fn.validatebox.defaults.rules, {
	    employeeVerifyEmail: {
	        validator: function(value) {
	            var employeeId = $("#employeeId").val();
	            var verify = false;
	            $.ajax({
	                type: "get",
	                url: "/employee/verifyEmail",
	                data: "id=" + employeeId + "&email=" + value,
	                dataType: "json",
	                async: false,
	                success: function(data) {
	                    verify = data;
	                }
	            });
	            return verify;
	        },
	        message: '邮箱已存在'
	    },
	    employeeVerifyUsername: {
	        validator: function(value) {
	            var employeeId = $("#employeeId").val();
	            var verify = false;
	            $.ajax({
	                type: "get",
	                url: "/employee/verifyUsername",
	                data: "id=" + employeeId + "&username=" + value,
	                dataType: "json",
	                async: false,
	                success: function(data) {
	                    verify = data;
	                }
	            });
	            return verify;
	        },
	        message: '用户名已存在'
	    }
	    
	});

  </script> 
 </head> 
 <body> 
  <table id="employee-dg" class="easyui-datagrid" title="员工列表" style="width: 800px; height: 600px" data-options="
				iconCls: 'icon-ok',
				fitColumns: true,
				url:  '/employee/listByQo',
				method: 'get',
				toolbar: '#employee-toolbar',
				singleSelect: true,
				pagination: true
			"> 
   <thead> 
    <tr> 
     <th data-options="field:'username'" width="80">登录名</th> 
     <th data-options="field:'email'" width="150">邮箱</th> 
     <th data-options="field:'status',
				formatter: function(value,row,index){
					return statusObj[value];
				}" width="50">状态</th> 
     <th data-options="field:'employeeType',
				formatter: function(value,row,index){
					return employeeObj[value];
				}" width="50">员工类型</th> 
    </tr> 
   </thead> 
  </table> 
  <div id="employee-toolbar"> 
   <div id="employeeSearchInputs"> 
    <span>登录名称:</span> 
    <input class="easyui-textbox" id="username" name="username" /> 
    <span>员工类型:</span> 
    <input id="employeeType" class="easyui-combobox" name="employeeType" data-options="valueField:'value',textField:'name',data:
					[{
						name: '全部',
						value: ''
					},{
						name: '管理',
						value: '0'
					}]" /> 
   </div> 
   <div id="employeeSearchButton"> 
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="employeeSearch()">查询</a> 
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="clearEmployeeCondition()">清空</a> 
   </div> 
   <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="add()">新增员工</a> 
   <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="edit()">编辑</a> 
   <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="remove()">删除</a> 
   <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="allotRole()">分配角色</a> 
  </div> 
  <div id="employee-dialog" class="easyui-dialog" title="新增员工" style="width: 500px; height: 500px;" data-options="iconCls:'icon-add',resizable:true,modal:true,closed:true,
				onClose:function(){
					$('#add-form').form('clear');
					employeeSearch();
				}
		"> 
   <form id="add-form" method="post"> 
   	<input id="employeeId" name="id" type="hidden"/>
    <table> 
     <tbody>
      <tr> 
       <td>登录名:</td> 
       <td><input id="usernameInput" name="username" class="easyui-textbox" data-options="required: true,validType: ['employeeVerifyUsername', 'length[2,20]']"  /></td> 
      </tr> 
      <tr> 
       <td>邮箱:</td> 
       <td><input id="email" name="email" class="easyui-textbox" data-options="required: true,validType: ['email', 'length[0,50]', 'employeeVerifyEmail']"  /></td> 
      </tr> 
      <tr> 
       <td>员工类型:</td> 
       <td><input class="easyui-combobox" name="employeeType" data-options="valueField:'value',textField:'name',required:true,url:'/dictEntry/employeeTypeList',method:'get'" /></td> 
      </tr> 
     </tbody>
    </table> 
   </form> 
   <div style="text-align: center; padding: 5px"> 
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="save()">保存</a> 
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清空</a> 
   </div> 
  </div>  
 </body>
</html>