<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
 <head> 
  <meta charset="UTF-8" /> 
  <title>后台管理系统</title> 
  <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/default/easyui.css" /> 
  <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/icon.css" /> 
  <script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js"></script> 
  <script type="text/javascript" src="jquery-easyui-1.7.0/jquery.easyui.min.js"></script> 
  <script type="text/javascript" src="jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script> 
  <script type="text/javascript" th:inline="javascript">
	function p(obj) {
	    console.info(obj);
	
	}
	
	var token = [[${_csrf.token}]];
	// 不为-1就是编辑状态
	var editingId = -1;

	function addSon() {
	    if (editingId != -1) {
	        $('#menu-tg').treegrid('select', editingId);
	        return;
	    }
	    var row = $('#menu-tg').treegrid('getSelected');
	    if (row) {
	        editingId = 0;
	        $('#menu-tg').treegrid('append', {
	            parent: row.id,
	            data: [{
	                id: editingId
	            }]
	        });
	        $('#menu-tg').treegrid('select', editingId);
	        $('#menu-tg').treegrid('beginEdit', editingId);
	    } else {
	        $.messager.alert('提示', '请选择一条数据', 'info')
	    }
	}
	
	function add() {
	    if (editingId != -1) {
	        $('#menu-tg').treegrid('select', editingId);
	        return;
	    }
	    var row = $('#menu-tg').treegrid('getSelected');
	    if (row) {
	        editingId = 0;
	        $('#menu-tg').treegrid('append', {
	            parent: row.parentId,
	            data: [{
	                id: editingId
	            }]
	        });
	        $('#menu-tg').treegrid('select', editingId);
	        $('#menu-tg').treegrid('beginEdit', editingId);
	    } else {
	        editingId = 0;
	        $('#menu-tg').treegrid('append', {
	            data: [{
	                id: editingId
	            }]
	        });
	        $('#menu-tg').treegrid('select', editingId);
	        $('#menu-tg').treegrid('beginEdit', editingId);
	    }
	}
	
	function edit() {
	    // 只能一条一条编辑
	    if (editingId != -1) {
	        $('#menu-tg').treegrid('select', editingId);
	        return;
	    }
	
	    var row = $('#menu-tg').treegrid('getSelected');
	    if (row) {
	        editingId = row.id;
	        $('#menu-tg').treegrid('beginEdit', editingId);
	    } else {
	        $.messager.alert('提示', '请选择一条数据', 'info');
	    }
	}
	
	function save() {
	    if (editingId != -1) {
	        $('#menu-tg').treegrid('endEdit', editingId);
	        $('#menu-tg').treegrid('select', editingId);
	        var row = $('#menu-tg').treegrid('getSelected');
	        if (editingId == 0) {
	            // 发送post请求进行新增
	            $.post("/menu/add?_csrf=" + token, {
	                "menuName": row.menuName,
	                "intro": row.intro,
	                "url": row.url,
	                "parentId": row._parentId
	            },
	            function(data) {
	                if (data.succeed) {
	                    $('#menu-tg').treegrid('unselect', editingId);
	                    editingId = -1;
	                    $('#menu-tg').treegrid('reload');
	                } else {
	                    $.messager.alert('提示', data.msg, 'error');
	                    $('#menu-tg').treegrid('beginEdit', editingId);
	                }
	            },
	            'json');
	        } else {
	            // 发送post请求进行更新
	            $.post("/menu/update?_csrf=" + token, {
	                "id": row.id,
	                "menuName": row.menuName,
	                "intro": row.intro,
	                "url": row.url
	            },
	            function(data) {
	                if (data.succeed) {
	                    $('#menu-tg').treegrid('unselect', editingId);
	                    // 结束编辑
	                    editingId = -1;
	                    $('#menu-tg').treegrid('reload');
	                } else {
	                    $.messager.alert('提示', data.msg, 'error');
	                    $('#menu-tg').treegrid('beginEdit', editingId);
	                }
	            },
	            'json');
	        }
	
	    }
	}
	
	function remove() {
	    var row = $('#menu-tg').treegrid('getSelected');
	    if (row) {
	        if (editingId != -1) {
	            return;
	        }
	        $.post("/menu/remove?_csrf=" + token, {
	            "id": row.id
	        },
	        function(data) {
	            if (data.succeed) {
	                $('#menu-tg').treegrid('remove', row.id);
	                $('#menu-tg').treegrid('reload');
	            } else {
	                $.messager.alert('提示', data.msg, 'error');
	            }
	        },
	        'json');
	    } else {
	        $.messager.alert('提示', '请选择一条数据', 'info')
	    }
	}
	
	function doSearch() {
	    $('#menu-tg').treegrid('load', {
	        menuName: $('#menuName').val()
	    });
	    if (editingId != -1) {
	        editingId = -1;
	    }
	    $('#menu-tg').treegrid('unselectAll');
	}
	
	function clearCondition() {
	    $('#menuName').val("");
	}
	
	function undo() {
	    if (editingId != -1) {
	        if (editingId == 0) {
	            $('#menu-tg').treegrid('remove', editingId);
	        } else {
	            $('#menu-tg').treegrid('cancelEdit', editingId);
	            $('#menu-tg').treegrid('unselect', editingId);
	        }
	        editingId = -1;
	    }
	}
	
	function reload() {
	    if (editingId != -1) {
	        editingId = -1;
	    }
	    $('#menu-tg').treegrid('unselectAll');
	    $('#menu-tg').treegrid('load');
	}
	
	// -----------------------------------------------------------------------------------
	// 权限索引 不为-1时就是编辑状态
	var permissionIndex = -1;
	function permissionManage() {
	    if (editingId != -1) {
	        return;
	    }
	    var row = $('#menu-tg').treegrid('getSelected');
	    var children = $('#menu-tg').treegrid('getChildren',row.id);
	    if(children.length > 0){
	    	return;
	    }
	    if (row) {
	        $('#permission-datagrid').datagrid('unselectAll');
	        permissionSearch();
	        $('#permission-dialog').dialog('setTitle', row.menuName);
	        $('#permission-dialog').dialog('open');
	    } else {
	        $.messager.alert('提示', '请选择一条数据', 'info');
	    }
	}
	
	function permissionSearch() {
	    var row = $('#menu-tg').treegrid('getSelected');
	
	    var permissionName = $("#permissionName").val();
	    var authority = $("#authority").val();
	    $.get("/permission/listByQo", {
	        "menuId": row.id,
	        "permissionName": permissionName,
	        "authority": authority
	    },
	    function(data) {
	        if (data.succeed) {
	            $("#permission-datagrid").datagrid('loadData', data.data);
	        } else {
	            $.messager.alert('提示', data.msg, 'error');
	        }
	    },
	    'json');
	    // 编辑或者新增时点击查询进行初始化
	    if (permissionIndex != -1) {
	        permissionIndex = -1;
	    }
	}
	
	function clearPermissionCondition() {
	    $("#permissionName").val('');
	    $("#authority").val('');
	}
	
	function addPermission() {
	    if (permissionIndex == -1) {
	        permissionIndex = 0;
	        $('#permission-datagrid').datagrid('insertRow', {
	            index: permissionIndex,
	            row: {}
	        });
	        $('#permission-datagrid').datagrid('selectRow', permissionIndex);
	        $('#permission-datagrid').datagrid('beginEdit', permissionIndex);
	    } else {
	        $('#permission-datagrid').datagrid('selectRow', permissionIndex);
	    }
	
	}
	
	function editPermission() {
	    if (permissionIndex == -1) {
	        var row = $('#permission-datagrid').datagrid('getSelected');
	        if (row) {
	            var rowId = row.id;
	            var index = $('#permission-datagrid').datagrid('getRowIndex', rowId);
	            permissionIndex = index;
	            $('#permission-datagrid').datagrid('selectRow', permissionIndex);
	            $('#permission-datagrid').datagrid('beginEdit', permissionIndex);
	        } else {
	            $.messager.alert('提示', '请选择一条数据', 'info');
	        }
	    } else {
	        $('#permission-datagrid').datagrid('selectRow', permissionIndex);
	    }
	
	}
	
	function savePermission() {
	    if (permissionIndex != -1) {
	        $('#permission-datagrid').datagrid('endEdit', permissionIndex);
	        $('#permission-datagrid').datagrid('selectRow', permissionIndex);
	
	        var row = $('#permission-datagrid').datagrid('getSelected');
	        var rowId = row.id;
	
	        if (rowId == null) {
	            var menuRow = $('#menu-tg').treegrid('getSelected');
	            // 发送post请求进行更新
	            $.post("/permission/add?_csrf=" + token, {
	                "permissionName": row.permissionName,
	                "intro": row.intro,
	                "url": row.url,
	                "authority": row.authority,
	                "menuId": menuRow.id
	            },
	            function(data) {
	                if (data.succeed) {
	                    $('#permission-datagrid').datagrid('unselectRow', permissionIndex);
	                    permissionSearch();
	                } else {
	                    $.messager.alert('提示', data.msg, 'error');
	                    $('#permission-datagrid').datagrid('beginEdit', permissionIndex);
	                }
	            },
	            'json');
	        } else {
	            // 发送post请求进行更新
	            $.post("/permission/update?_csrf=" + token, {
	                "id": rowId,
	                "permissionName": row.permissionName,
	                "intro": row.intro,
	                "url": row.url,
	                "authority": row.authority
	            },
	            function(data) {
	                if (data.succeed) {
	                    $('#permission-datagrid').datagrid('unselectRow', permissionIndex);
	                    permissionSearch();
	                } else {
	                    $.messager.alert('提示', data.msg, 'error');
	                    $('#permission-datagrid').datagrid('beginEdit', permissionIndex);
	                }
	            },
	            'json');
	        }
	
	    }
	}
	
	function undoPermission() {
	    var row = $('#permission-datagrid').datagrid('getSelected');
	    if (row) {
	        var rowId = row.id;
	        if (rowId != null) {
	            $('#permission-datagrid').datagrid('cancelEdit', permissionIndex);
	            $('#permission-datagrid').datagrid('unselectRow', permissionIndex);
	        } else {
	            $('#permission-datagrid').datagrid('deleteRow', permissionIndex);
	        }
	    }
	    permissionIndex = -1;
	}
	
	function removePermission() {
	    var row = $('#permission-datagrid').datagrid('getSelected');
	    if (row) {
	        if (permissionIndex != -1) {
	            return;
	        }
	        $.post("/permission/remove?_csrf=" + token, {
	            "id": row.id
	        },
	        function(data) {
	            if (data.succeed) {
	                permissionSearch();
	            } else {
	                $.messager.alert('提示', data.msg, 'error');
	            }
	        },
	        'json');
	    } else {
	        $.messager.alert('提示', '请选择一条数据', 'info');
	    }
	}
	
	function reloadPermission() {
	    $('#permission-datagrid').datagrid('unselectAll');
	    permissionSearch();
	}
	
  </script> 
 </head> 
 <body> 
  <div id="permission-dialog" class="easyui-dialog" style="width: 800px; height: 500px" data-options="
			closed:true,
			modal:true,
			onClose:function(){
				$('#menu-tg').treegrid('unselectAll');
			},
			iconCls:'icon-tip'
		"> 
   <table id="permission-datagrid" class="easyui-datagrid" style="width: 800px; height: 500px" data-options="
				rownumbers: true,
				animate: true,
				fitColumns: true,
				singleSelect: true,
				idField: 'id',
				toolbar: '#permission-list-buttons',
				border:false,
			"> 
    <thead> 
     <tr> 
      <th data-options="field:'permissionName',width:120,editor:'text'">权限名称</th> 
      <th data-options="field:'authority',width:150,editor:'text'">权限编码</th> 
      <th data-options="field:'url',width:150,editor:'text'">权限路径</th> 
      <th data-options="field:'intro',width:150,editor:'text'">描述</th> 
     </tr> 
    </thead> 
   </table> 
  </div> 
  <div id="permission-list-buttons"> 
   <div id="permissionSearchInputs"> 
    <span>权限名称:</span> 
    <input id="permissionName" name="permissionName" /> 
    <span>权限编号:</span> 
    <input id="authority" name="authority" /> 
   </div> 
   <div id="permission-search"> 
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="permissionSearch()">查询</a> 
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="clearPermissionCondition()">清空</a> 
   </div> 
   <div id="permission-operation"> 
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addPermission()">添加权限</a> 
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editPermission()">编辑</a> 
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removePermission()">删除</a> 
    <a href="#" class="easyui-linkbutton" onclick="reloadPermission()" data-options="iconCls:'icon-reload',plain:true">刷新</a> 
   </div> 
   <div> 
    <a id="save" href="#" class="easyui-linkbutton" onclick="savePermission()" data-options="iconCls:'icon-save',plain:true">保存</a> 
    <a id="cancel" href="#" class="easyui-linkbutton" onclick="undoPermission()" data-options="iconCls:'icon-undo',plain:true">取消</a> 
   </div> 
  </div> 
  <table id="menu-tg" class="easyui-treegrid" title="菜单列表" style="width: 1000px; height: 500px" data-options="
				iconCls: 'icon-ok',
				rownumbers: true,
				animate: true,
				fitColumns: true,
				url:  '/menu/list',
				method: 'get',
				idField: 'id',
				treeField: 'menuName',
				toolbar: '#menu-linkbutton-list'
			"> 
   <thead> 
    <tr> 
     <th data-options="field:'menuName',width:180,editor:'text'">菜单名称</th> 
     <th data-options="field:'url',width:150,editor:'text'">菜单链接</th> 
     <th data-options="field:'intro',width:150,editor:'text'">描述</th> 
     <th data-options="field:'createTime',width:150">创建时间</th> 
     <th data-options="field:'updateTime',width:150">更新时间</th> 
    </tr> 
   </thead> 
  </table> 
  <div id="menu-linkbutton-list"> 
   <div id="doSearch"> 
    <span>菜单名称:</span> 
    <input id="menuName" name="menuName" /> 
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="doSearch()">查询</a> 
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="clearCondition()">清空</a> 
   </div> 
   <div id="opertion"> 
    <a id="addSon" href="#" class="easyui-linkbutton" onclick="addSon()" data-options="iconCls:'icon-add',plain:true">添加子菜单</a> 
    <a id="add" href="#" class="easyui-linkbutton" onclick="add()" data-options="iconCls:'icon-add',plain:true">添加菜单</a> 
    <a id="edit" href="#" class="easyui-linkbutton" onclick="edit()" data-options="iconCls:'icon-edit',plain:true">编辑</a> 
    <a id="remove" href="#" class="easyui-linkbutton" onclick="remove()" data-options="iconCls:'icon-remove',plain:true">删除</a> 
    <a id="remove" href="#" class="easyui-linkbutton" onclick="permissionManage()" data-options="iconCls:'icon-add',plain:true">菜单权限</a> 
    <a id="reload" href="#" class="easyui-linkbutton" onclick="reload()" data-options="iconCls:'icon-reload',plain:true">刷新</a> 
   </div> 
   <div> 
    <a id="save" href="#" class="easyui-linkbutton" onclick="save()" data-options="iconCls:'icon-save',plain:true">保存</a> 
    <a id="cancel" href="#" class="easyui-linkbutton" onclick="undo()" data-options="iconCls:'icon-undo',plain:true">取消</a> 
   </div> 
  </div>  
 </body>
</html>