<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
<meta charset="UTF-8">
<title>后台管理系统</title>
<link rel="stylesheet" type="text/css"
	href="jquery-easyui-1.7.0/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css"
	href="jquery-easyui-1.7.0/themes/icon.css" />
<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js"></script>
<script type="text/javascript"
	src="jquery-easyui-1.7.0/jquery.easyui.min.js"></script>

<script type="text/javascript"
	src="jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"
	src="jquery-easyui-1.7.0/datagrid-detailview.js"></script>

<script type="text/javascript" th:inline="javascript">
	function p(obj) {
	    console.info(obj);
	
	}
	
	var token = [[${_csrf.token}]];

	$(function() {
	    $('#role-dg').datagrid({
	        pagination: true,
	        view: detailview,
	        detailFormatter: function(index, row) {
	            return '<div class="ddv"></div>';
	        },
	        onExpandRow: function(index, row) {
	            var ddv = $(this).datagrid('getRowDetail', index).find('div.ddv');
	           	var rows =  $(this).datagrid('getRows');
	           	// 销毁其它明细
				$.each(rows, function(i, n){
					if(index != i){
						$('#role-dg').datagrid('collapseRow', i);
						$('#role-dg').datagrid('refreshRow', i);
					}
				});	           	
	            var roleId = row.id;
	            if(!roleId){
	            	roleId = 0;
	            }
	            ddv.panel({
	                border: false,
	                cache: true,
	                href: '/role/form?index=' + index + '&id='+ roleId,
	                onLoad: function() {
	                    $('#role-dg').datagrid('fixDetailRowHeight', index);
	                    $('#role-dg').datagrid('selectRow', index);
	                    $('#role-dg').datagrid('getRowDetail', index).find('form').form('load', row);
	                }
	            });
	        }
	    });
	});
	
	function saveItem(index) {
	    var row = $('#role-dg').datagrid('getRows')[index];
	    var url = row.isNewRecord ? '/role/add?_csrf=': '/role/update?&_csrf=';
	    $('#role-dg').datagrid('getRowDetail', index).find('form').form('submit', {
	        url: url+token,
	        onSubmit: function() {
	            return $(this).form('validate');
	        },
	        success: function(data) {
	            data = eval('(' + data + ')');
	            if (data.succeed) {
	                $('#role-dg').datagrid('reload');
	            } else {
	                $.messager.alert('提示', data.msg, 'error');
	            }
	        }
	    });
	}
	
	function cancelItem(index) {
	    var row = $('#role-dg').datagrid('getRows')[index];
	    if (row.isNewRecord) {
	        $('#role-dg').datagrid('deleteRow', index);
	    } else {
	        $('#role-dg').datagrid('collapseRow', index);
	    }
	}
	
	function destroyItem() {
	    var row = $('#role-dg').datagrid('getSelected');
	    if (row) {
	        $.messager.confirm('确认', '确认删除这个角色吗?',
	        function(r) {
	            if (r) {
	                var index = $('#role-dg').datagrid('getRowIndex', row);
	                $.post('/role/delete?_csrf=' + token, {
	                    id: row.id
	                },
	                function(data) {
	                    if (data.succeed) {
	                        $('#role-dg').datagrid('deleteRow', index);
	                    } else {
	                        $.messager.alert('提示', data.msg, 'error');
	                    }
	                });
	            }
	        });
	    }
	}
	
	function newItem() {
	    $('#role-dg').datagrid('appendRow', {
	        isNewRecord: true
	    });
	    var index = $('#role-dg').datagrid('getRows').length - 1;
	    $('#role-dg').datagrid('expandRow', index);
	    $('#role-dg').datagrid('selectRow', index);
	}
	
	function roleSearch() {
	    $('#role-dg').datagrid('load', {
	        "roleName": $('#roleName').val()
	    });
	}
	
	function clearRoleCondition() {
	    $('#roleName').textbox('clear');
	}
	
	function allotPermission() {
	    var row = $('#role-dg').datagrid('getSelected');
	    if (row) {
	        $('#menuTree').tree({
	            url: "/role/menuTree?roleId=" + row.id,
	            method: 'get',
	            onSelect: function(node) {
	                createPermissionCheckBox(node.id, row.id);
	            },
	            onCheck: function(node,checked){
	            	if(checked){
	            		$.get("/permission/listByMenuId", {
	            	        "menuId": node.id,
	            	        "roleId": row.id
	            	    },
	            	    function(data) { 
	            	        var listHtml = ''; 
	            	        $.each(data,function(index) {    
	            	            var permission = data[index];
	            	            var checkStr = '';
	            	            if (permission.checked) {
	            	                checkStr = 'checked="checked"';
	            	            }
	            	            listHtml +=  '<input type="checkbox" name="permissionId" ' + checkStr + ' value="' + permission.permissionId + '">' + permission.permissionName;
	            	        });      
	            	        $("#permissionCheckBoxDiv").html(listHtml); 
	            	        var checkboxList = document.getElementsByName("permissionId");
	    	                
	    	                $.each(checkboxList,function(index,item){
	    	                	item.checked = checked;
	                    	});
	            	    },
	            	    'json');    
	            	}else {
	            		$('#permissionCheckBoxDiv').html(''); 
	            	}
	            }
	        });
	        $('#allSelect').checkbox({
	            onChange: function(checked) {
	                var checkboxList = document.getElementsByName("permissionId");
	                
	                $.each(checkboxList,function(index,item){
	                	item.checked = checked;
                	});
	            }
	        });
	
	        $('#allotPermission-dialog').dialog('setTitle', row.roleName);
	        $('#allotPermission-dialog').dialog('open');
	    } else {
	        $.messager.alert('提示', '请选择一条数据', 'info');
	    }
	}
	
	function cancelAllot() {
	    $('#allotPermission-dialog').dialog('close');
	}
	
	function createPermissionCheckBox(menuId, roleId) { 
		$.get("/permission/listByMenuId", {
	        "menuId": menuId,
	        "roleId": roleId
	    },
	    function(data) { 
	        var listHtml = ''; 
	        $.each(data,function(index) {    
	            var permission = data[index];
	            var checkStr = '';
	            if (permission.checked) {
	                checkStr = 'checked="checked"';
	            }
	            listHtml +=  '<input type="checkbox" name="permissionId" ' + checkStr + ' value="' + permission.permissionId + '">' + permission.permissionName;
	        });      
	        $("#permissionCheckBoxDiv").html(listHtml); 
	    },
	    'json');     
	
	}
	
	function allot() {
	    // 分配成功进行弹框 弹框关闭刷新菜单树和清空权限复选框
	    var row = $('#role-dg').datagrid('getSelected');
	    var node = $('#menuTree').tree('getSelected');
	    if (!node) {
	    	node = $('#menuTree').tree('getChecked');
	    	if(!node){
		        $.messager.alert('提示', '请选择一行', 'info');
		        return;
	    	}
	    }
	    $('#permissionIdForm').form('submit', {
	        url: "/role/allotPermission?_csrf=" + token,
	        onSubmit: function(param) {
	            var checkboxList = document.getElementsByName("permissionId");
	            var permissionIdList = '';
	            for (var i = 0; i < checkboxList.length; i++) {
	                var permissionCheckbox = checkboxList[i];
	                if (permissionCheckbox.checked) {
	                    permissionIdList += permissionCheckbox.value;
	                    permissionIdList += ',';
	                }
	            }
	            if (permissionIdList != '') {
	                permissionIdList = permissionIdList.substring(0, permissionIdList.length - 1);
	            }
	            param.roleId = row.id;
	            param.permissionIdList = permissionIdList;
	            param.menuId = node.id;
	        },
	        success: function(data) {
	            var data = eval('(' + data + ')');
	            if (data.succeed) {
	                $.messager.alert('提示', data.msg, 'info',
	                function() {
	                    $('#menuTree').tree('reload');
	                    $("#permissionCheckBoxDiv").html(''); $('#allSelect').checkbox('uncheck');
	                });
	            } else {
	                $.messager.alert('提示', data.msg, 'error');
	            }
	        }
	    });
	}

	
</script>
</head>
<body>
	<table id="role-dg" title="角色列表" style="width: 550px; height: 450px"
		data-options="
				iconCls: 'icon-ok',
				fitColumns: true,
				url:  '/role/listByQo',
				method: 'get',
				toolbar: '#role-toolbar',
				singleSelect: true
			">
		<thead>
			<tr>
				<th data-options="field:'roleName'" width="50">角色名称</th>
				<th data-options="field:'intro'" width="50">角色描述</th>
			</tr>
		</thead>
	</table>
	<div id="role-toolbar">
		<div id="roleSearchInputs">
			<span>角色名称:</span> <input id="roleName" name="roleName" class="easyui-textbox" data-options="validType:'length[0,20]'"/>
			<a href="#" class="easyui-linkbutton"
				data-options="iconCls:'icon-search',plain:true"
				onclick="roleSearch()">查询</a> <a href="#"
				class="easyui-linkbutton"
				data-options="iconCls:'icon-clear',plain:true"
				onclick="clearRoleCondition()">清空</a>
		</div>
		
		<a href="#" class="easyui-linkbutton"
			data-options="iconCls:'icon-add',plain:true" onclick="newItem()">新增角色</a>
		<a href="#" class="easyui-linkbutton"
			data-options="iconCls:'icon-remove',plain:true"
			onclick="destroyItem()">删除</a>
		<a href="#" class="easyui-linkbutton"
			data-options="iconCls:'icon-add',plain:true"
			onclick="allotPermission()">分配权限</a>
	</div>
	
	<!-- 权限分配弹框 -->
	<div id="allotPermission-dialog" class="easyui-dialog" title="分配权限" style="width:800px;height:500px;padding:10px"
			data-options="
				closed:true,
				modal:true,
				iconCls: 'icon-save',
				buttons:'#allotPermission-buttons',
				onClose:function(){
					$('#permissionCheckBoxDiv').html(''); 
					$('#allSelect').checkbox('uncheck');
				}
			">
			<input class="easyui-checkbox" id="allSelect" name="allSelect"data-options="label:'全选'">
			<form id="permissionIdForm" method="post" >
				<div id="permissionCheckBoxDiv">
				
				</div>
			</form>
			<ul id="menuTree" class="easyui-tree" data-options="animate:true,checkbox:true"
			 style="width:400px;">
			</ul>	
			
	</div>
	
	<div id="allotPermission-buttons">
		<a href="#" class="easyui-linkbutton"
			data-options="iconCls:'icon-ok'" onclick="allot()">分配</a>
		<a href="#" class="easyui-linkbutton"
			onclick="cancelAllot()">取消</a>
	</div>
	
</body>
</html>