<form class="form-horizontal" name="horizontalUpdate" novalidate>
				<div class="">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
						&times;</button>
					<h3 class="modal-title">修改密码</h3>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-5 control-label">原密码:</label>
						<div class="col-sm-7">
							<input type="password" autocomplete="off"  class="form-control"
								ng-model='userInfo.password' name="password" required>
							<div class="req_mesg" ng-show="horizontalUpdate.password.$dirty && horizontalUpdate.password.$invalid">
								<span ng-show="horizontalUpdate.password.$error.required">原密码不能为空</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">新密码：</label>
						<div class="col-sm-7">
							<input type="password" autocomplete="off"  class="form-control" ng-model="userInfo.newPwd" name="newPwd"  ng-pattern="/^[A-Za-z0-9]{6,16}$/" required/>
							<div class="req_mesg" ng-show="horizontalUpdate.newPwd.$dirty && horizontalUpdate.newPwd.$invalid">
								<span ng-show="horizontalUpdate.newPwd.$error.required">新密码不能为空</span>
								<span ng-show="horizontalUpdate.newPwd.$error.pattern">密码是有英文和数字组成大于6位低于16位</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">再次输入新密码:</label>
						<div class="col-sm-7">
							<input type="password" autocomplete="off"  class="form-control" ng-model="userInfo.newPwds" name="newPwds"  ng-pattern="/^[A-Za-z0-9]{6,16}$/" required/>
							<div class="req_mesg" ng-show="horizontalUpdate.newPwds.$dirty && horizontalUpdate.newPwds.$invalid">
								<span ng-show="horizontalUpdate.newPwds.$error.required">再次输入新密码不能为空</span>
								<span ng-show="horizontalUpdate.newPwds.$error.pattern">密码是有英文和数字组成大于6位低于16位</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12" style="text-align:center;">
							<button class="btn btn-primary btn-mr20" type="button" ng-click='submitNewUserPwd()'
								id="btnSubmit" ng-disabled="horizontalUpdate.$invalid ||submitting">提交</button>
								<button class="btn btn-primary8" type="button" ng-click='cancel()'
								>取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
</form>