<div class="cg-notify-message inspinia-notify" ng-class="$classes" style="left:auto;right: 100px;">
    <div class="p-lg">
        <div ng-show="!$messageTemplate" style="width: 220px;">
            <div style="margin-top: -20px;margin-left: -10px">
                <h4 style="float: left;">调单催单</h4> <span>{{$message.time}}</span>
            </div>
            <div style="padding-top: 5px;float: left;margin-left: -10px">

                <span>订单<a ui-sref="surveyOrderInfo({id:$message.surveyOrderId,orderNo:$message.orderNo,from:$message.id})" ng-click="$close()">{{$message.transOrderNo}}</a></span><br/>

                <div style="padding-top: 5px">{{$message.msg}}</div>
            </div>

        </div>

        <div ng-show="$messageTemplate" class="cg-notify-message-template">

        </div>

        <button type="button" class="cg-notify-close" ng-click="$close()">
            <span aria-hidden="true">&times;</span>
            <span class="cg-notify-sr-only">Close</span>
        </button>
    </div>

</div>