<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar ></span>
            <form role="search" class="navbar-form-custom"
				action="search_results.html">
				<div class="form-group">
                    <span class="logotitle" style="padding-left:25px;">
                        <span ng-switch="oemTransType">
                            <span ng-switch-when="ZF">中付支付管理系统</span>
                            <span ng-switch-when="YS">银盛支付管理系统</span>
                            <span ng-switch-default>代理商系统</span>
                        </span>
                        <i>V2.2.001</i>
                    </span>

                    <!--<span class="logotitle" style="padding-left:25px;" ng-show="oemTransType === 'ZF'">中付支付管理系统<i>V2.2.001</i></span>-->
                    <!--<span class="logotitle" style="padding-left:25px;" ng-show="oemTransType === 'YS'">银盛支付管理系统<i>V2.2.001</i></span>-->
                    <!--<span class="logotitle" style="padding-left:25px;" ng-show="oemTransType === 'DEFAULT' || !oemTransType">代理商系统<i>V2.2.001</i></span>-->
				</div>
			</form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
        	<li>
                <a ng-click="modifyPasswordShow()">
                    <i class="fa fa-asterisk"></i> 修改密码
                </a>
            </li>
           <li>
                <a ng-click="logout()">
                    <i class="fa fa-sign-out"></i> 退 出
                </a>
            </li>

        </ul>

    </nav>
</div>