<!-- head -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>代理商</a></li>
			<li class="active"><strong>新增代理商</strong></li>
		</ol>
	</div>
</div>

<!-- content-->
<div class="wrapper wrapper-content animated fadeIn"  ng-controller="addAgentCtrl">
	<form class="form-horizontal" id="form1" name="horizontal" novalidate>
		<div class="form-group">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabs-container tab_other">
						<uib-tabset>
							<uib-tab index="0" active="t1Active">
								<uib-tab-heading>
									<span class="block m-t-xs"> <i class="fa fa-laptop"></i> <strong class="font-bold">基本信息</strong></span> 
								</uib-tab-heading>
								<div class="panel-body" style="padding-bottom:80px">
									<div ui-view="agentBase"/>
									<div class="" style="padding-top: 20px;">
										<div class="col-lg-2"></div>
										<div style="float: left"><button class="btn btn-new" type="button" ng-click="t2Active = true">下一步</button></div>
									</div>
								</div>
							</uib-tab>

							<uib-tab index="1" active="t2Active">
								<uib-tab-heading> 
									<span class="block m-t-xs"> <i class="fa fa-desktop"></i><strong class="font-bold">代理业务产品</strong></span> 
								</uib-tab-heading>

								<div ng-repeat="teamId in businessProduct.teamIds">
									<div class="form-group">
										<div class="col-sm-10 control-label" style="float: left;">
											<!--<label class="col-sm-4 control-label">{{teamNames[teamId]}}业务产品-->
											<div class="col-sm-12 control-label">
												<div class="col-sm-12 control-label" style="text-align: left">
													<span ng-bind="businessProduct.teamInfo[teamId]"></span>
													<span >业务产品</span>
													<span style="color: #999999">(选择需要代理的业务产品)</span>
												</div>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<div class="gridStyle" style="height: 250px" ui-grid="businessProduct.groupByTeamIdGridList[teamId]" ui-grid-resize-columns ui-grid-pinning ui-grid-selection/>
									</div>
								</div>

								<div class="" style="padding-top: 20px;">
									<div class="col-lg-2"></div>
									<div style="float: left">
										<button class="btn btn-new" type="button"  ng-click="t1Active = true" >上一步</button>
										<button class="btn btn-new" type="button"  ng-click="t3Active = true" >下一步</button>
									</div>
								</div>
								<!--</div>-->
							</uib-tab>

							<uib-tab  index="2" active="t3Active" select="getShareList()" >
								<uib-tab-heading> 
									<span class="block m-t-xs"> 
										<i class="fa fa-desktop"></i>
										<strong class="font-bold">分润设置</strong>
									</span> 
								</uib-tab-heading>

								<span style="color:red" ng-show="businessProduct.unchecked">业务产品不能为空！ </span>

								<div class="panel-body" >
									<a ng-click="shareRule.showBatchSetShare = !shareRule.showBatchSetShare">批量设置
										<span ng-show="!shareRule.showBatchSetShare" class="glyphicon glyphicon-menu-down"></span>
										<span ng-show="shareRule.showBatchSetShare" class="glyphicon glyphicon-menu-up"></span>
									</a>
									<div ng-show="shareRule.showBatchSetShare">
										<div style="float: left"> <span style="height: 36px;display: block;line-height: 36px;"  >批量设置：设置项</span></div>
										<div class="col-sm-3" >
											<select class="form-control" ng-model="shareRule.batchSetOption" >
												<option value="shareProfitPercent">分润比例</option>
											</select>
										</div>
										<div style="float: left"> <span style="height: 36px;display: block;line-height: 36px;"  >设置值：</span></div>
										<div class="col-sm-3">
											<div class="input-group">
												<input type="text" class="form-control" ng-model="shareRule.batchSetValue">
												<div class="input-group-addon">%</div>
											</div>
										</div>
										<div class="col-sm-3">
											<button class="btn btn-new2 btn-mr20"  type="button" ng-click="batchSetShare()">确定设置</button>
										</div>
									</div>
								</div>
								<div ng-show="shareRule.teamIds.length === 0">
									<div class="panel-body">
										<div class="gridStyle" style="height: 250px" ui-grid="shareRule.defaultGrid" ui-grid-pinning ui-grid-resize-columns />
									</div>
								</div>
								<div ng-show="shareRule.teamIds.length !== 0">
									<div ng-repeat="teamId in shareRule.teamIds">
										<div class="form-group">
											<div class="col-sm-10 control-label" style="float: left;">
												<div class="col-sm-12 control-label">
													<div class="col-sm-12 control-label" style="text-align: left">
														<span ng-bind="businessProduct.teamInfo[teamId]"></span>
														<span>分润设置</span>
													</div>
												</div>
											</div>
										</div>
										<div class="panel-body">
											<div class="gridStyle" style="height: 250px" ui-grid="shareRule.groupByTeamIdGridList[teamId]" ui-grid-pinning ui-grid-resize-columns />
										</div>
									</div>
								</div>
								<div class="block m-t-xs">
									<strong>备注：</strong><br/>
									交易分润＝（商户签约扣率－代理商成本扣率）* 代理商分润百分比 * 交易金额；<br/>
									提现费分润＝（商户每笔提现手续费（如3.00元）－商户每笔提现代理商成本（如2.00元））*总笔数<br/>
								</div>
								<div class="" style="padding-top: 20px;">
									<div class="col-lg-2"></div>
									<div style="float: left">
										<button class="btn btn-new" type="button"  ng-click="t2Active = true" >上一步</button>
										<button class="btn btn-new" type="button"  ng-click="t4Active = true"  ng-show = "happyBack.showStatus && agentType != 11">下一步</button>
									</div>
								</div>
							</uib-tab>

							<uib-tab active="t4Active" select="generateHappyBackGrid()" ng-show = "happyBack.showStatus && agentType != 11">
								<uib-tab-heading>
									<span class="block m-t-xs"> 
										<i class="fa fa-desktop"></i>
										<strong class="font-bold">欢乐返活动</strong>
									</span> 
								</uib-tab-heading>


								<div class="panel-body" >
									<div >
										<input type="checkbox" ng-model='happyBack.disJoinIn'/>
										<span class="">不参加欢乐返活动</span>
										<input type="checkbox" ng-model='happyBack.paramSetMaxValue'ng-click="happyBackParamSetMaxValue()"/>
										<span class="">活动参数设置为当前级别最高值</span>
                                        <span style="color:red" ng-show="businessProduct.unchecked">业务产品不能为空！ </span>
									</div>
									<div ng-hide="happyBack.disJoinIn">
                                        <a ng-click="happyBack.showBatchSetShare = !happyBack.showBatchSetShare">批量设置
                                            <span ng-show="!happyBack.showBatchSetShare" class="glyphicon glyphicon-menu-down"></span>
                                            <span ng-show="happyBack.showBatchSetShare" class="glyphicon glyphicon-menu-up"></span>
                                        </a>
                                        <div ng-show="happyBack.showBatchSetShare">
                                            <div style="float: left"> <span style="height: 36px;display: block;line-height: 36px;"  >批量设置：设置项</span></div>
                                            <div class="col-sm-3" >
                                                <select class="form-control" ng-model="agent.setpro" >
                                                    <option value="">请选择批量设置项</option>
                                                    <option value="cashBackAmount">返现金额</option>
                                                    <option value="taxRate">返现比例</option>
                                                    <option value="repeatRegisterAmount">重复注册返现金额</option>
                                                    <option value="repeatRegisterRatio">重复注册返现比例</option>
                                                    <option value="fullPrizeAmount" ng-show="happyBack.showFullPrizeAmount">首次注册满奖金额</option>
                                                    <option value="notFullDeductAmount" ng-show="happyBack.showNotFullDeductAmount">首次注册不满扣金额</option>
                                                    <option value="repeatFullPrizeAmount" ng-show="happyBack.showFullPrizeAmount">重复注册满奖金额</option>
                                                    <option value="repeatNotFullDeductAmount" ng-show="happyBack.showNotFullDeductAmount">重复注册不满扣金额</option>
                                                </select>
                                            </div>
                                            <div style="float: left"> <span style="height: 36px;display: block;line-height: 36px;"  >设置值：</span></div>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" ng-model="agent.setvalue">
                                            </div>
                                            <div class="col-sm-3">

                                                <button class="btn btn-new2 btn-mr20"  type="button" ng-click="defineSet()">确定设置</button>
                                            </div>
                                        </div>
									</div>
								</div>

								<div ng-if="happyBack.showTeamIds.length === 0" ng-hide="happyBack.disJoinIn">
									<div class="panel-body">
										<div class="gridStyle" style="height: 250px" ui-grid="happyBack.defaultGrid" ui-grid-resize-columns ui-grid-pinning ui-grid-selection/>
									</div>
								</div>
								<div ng-if="happyBack.showTeamIds.length !== 0" ng-hide="happyBack.disJoinIn">
									<div ng-repeat="teamId in happyBack.showTeamIds">
										<div class="form-group">
											<div class="col-sm-10 control-label" style="float: left;">
												<div class="col-sm-12 control-label">
													<div class="col-sm-12 control-label" style="text-align: left">
														<span ng-bind="businessProduct.teamInfo[teamId]"></span>
														<span>欢乐返设置</span>
													</div>
												</div>
											</div>
										</div>
										<div class="panel-body">
											<div class="gridStyle" style="height: 250px" ui-grid="happyBack.groupByTeamIdGridList[teamId]" ui-grid-resize-columns ui-grid-pinning/>
										</div>
									</div>
								</div>
								<div class="panel-body" ng-hide="happyBack.disJoinIn">
									<!--<div class="gridStyle" ui-grid="happyBackListGrid" ui-grid-resize-columns ui-grid-pinning ui-grid-selection/>-->
									<div class="block m-t-xs">
										<span class="block m-t-xs">注意：下级代理商获得返现金额不得高于上级返现金额，下级代理商获得的返现金额=返现金额*返现比例</span>
									</div>
									<div class="" style="padding-top: 20px;">
										<div class="col-lg-2"></div>
										<div style="float: left"><button class="btn btn-new" type="button" ng-click="t3Active = true" >上一步</button></div>
									</div>
								</div>	
							</uib-tab> 

						</uib-tabset>					
					</div>
				</div>
			</div>
			
			<!-- 设置新的分润 -->
			<div id="ladderFrModel" class="modal fade" tabindex="-1" role="dialog">
			    <div class="modal-dialog" style="width: 900px">
			       <div class="modal-content">
			          <div class="modal-header">
			             <button type="button" class="close" data-dismiss="modal">
			                  &times;
			            </button>
			            <h3 class="modal-title">阶梯分润比例</h3>
			         </div>
			         <div class="modal-body">
			         	<div class="form-group" class="col-lg-12">
							<label class="col-lg-2 control-label">分润方式：</label>
							<div class="col-lg-6"><select class="input-sm form-control input-s-sm inline col-lg-6" ng-model="info.entity.profitType" ng-options="x.value as x.text for x in fr"/></div>
						</div>
						<div class="form-group" ng-show="info.entity.profitType=='5'">
							<label class="col-lg-2 control-label"></label>
							<div class="col-lg-4"><input type="text" class="input form-control col-lg-8"  ng-model="info.entity.shareProfitPercent"/></div><div class="col-lg-4" style="padding:10px 0">%</div>
						</div>
						<div ng-show="info.entity.profitType=='6'">
				         	<div class="form-group" class="col-lg-12">
								<div class="col-lg-3">
									<input type="number" ng-model="info.m1" type="text" class="form-control" disabled="disabled">
								</div>
								<label class="col-lg-1 control-label">万元&lt;</label>
								<div class="col-lg-3">
									<input type="number" ng-model="info.m2" type="text" class="form-control">
								</div>
								<label class="col-lg-1 control-label">%&lt;</label>
								<div class="col-lg-3">
									<input type="number" ng-model="info.m3" type="text" class="form-control">
								</div>
								<label class="col-lg-1 control-label">万元</label>
							</div>
							
							<div class="form-group" class="col-lg-12">
								<div class="col-lg-3">
									<input type="number" ng-model="info.m3" type="text" class="form-control">
								</div>
								<label class="col-lg-1 control-label">万元&lt;</label>
								<div class="col-lg-3">
									<input type="number" ng-model="info.m4" type="text" class="form-control">
								</div>
								<label class="col-lg-1 control-label">%&lt;</label>
								<div class="col-lg-3">
									<input type="number" ng-model="info.m5" type="text" class="form-control">
								</div>
								<label class="col-lg-1 control-label">万元</label>
							</div>
							
							<div class="form-group" class="col-lg-12">
								<div class="col-lg-3">
									<input type="number" ng-model="info.m5" type="text" class="form-control">
								</div>
								<label class="col-lg-1 control-label">万元&lt;</label>
								<div class="col-lg-3">
									<input type="number" ng-model="info.m6" type="text" class="form-control">
								</div>
								<label class="col-lg-1 control-label">%&lt;</label>
								<div class="col-lg-3">
									<input type="number" ng-model="info.m7" type="text" class="form-control">
								</div>
								<label class="col-lg-1 control-label">万元</label>
							</div>
							
							<div class="form-group" class="col-lg-12">
								<div class="col-lg-3">
									<input type="number" ng-model="info.m7" type="text" class="form-control">
								</div>
								<label class="col-lg-1 control-label">万元&lt;</label>
								<div class="col-lg-3">
									<input type="number" ng-model="info.m8" type="text" class="form-control">
								</div>
								<label class="col-lg-1 control-label">%&lt;</label>
								<div class="col-lg-3">
									<input  ng-model="info.m9" type="text" class="form-control" disabled="disabled">
								</div>
								<label class="col-lg-1 control-label">万元</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-6" align="center">
				        		<button class="btn btn-primary" type="button" ng-click="addShare(info.row)">确定</button>
				        		<button class="btn btn-primary8" type="button" data-dismiss="modal">取消</button>
				        	</div>
				        </div>
			         </div>
			      </div>
				</div>
			</div>
			<!-- 设置新的分润 -->
			
			<div class="" >
				<div class="col-lg-12 bgff">
                	<div class="col-lg-12">
                	<div class="col-lg-2"></div>
						<div style="float: left">
							<!--<button type="button" ng-click="submit()">测试提交</button>-->
							<button class="btn btn-primary" ng-show="hasPermit('agent.addAgent') " type="button" id="btnSubmit" ng-click="submit()"
									ng-disabled="horizontal.$invalid || businessProduct.unchecked || submiting">提交</button></div>
						<!--<div style="float: left"><button class="btn btn-primary" ng-show="hasPermit('agent.addAgent') " type="button"  ng-click="submit()">提交</button></div>-->
						<div class="col-sm-4 control-label" style="text-align: left; color: red" ng-show="horizontal.$invalid || businessProduct.unchecked">您还有资料未填</div>
                        </div>
				</div>
			</div>
            <div style="height:30px;"></div>
		</div>
	</form>

	<div ng-show="submiting" style="position: fixed;width: 100%;height: 100%;top:0;left: 0;background:rgba(0,0,0,0.1);z-index: 999">
		<div class="timg">
			<div style="width: 100px;position: absolute;top: 100px;background:#fff;
			font-size: 20px;
			border-top: 1px solid #cccccc;
			text-align: center">提交中...</div>
		</div>
	</div>
</div>