<!-- head -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>代理商</a></li>
			<li class="active"><strong>代理商详情</strong></li>
		</ol>
	</div>
</div>

<!-- content-->
<div class="wrapper wrapper-content animated fadeIn"  ng-controller="agentDetailCtrl">
	<form class="form-horizontal" id="form1" >
		<div class="form-group">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabs-container tab_other">
						<uib-tabset active="active">
							<uib-tab> 						
								<uib-tab-heading>
									<span class="block m-t-xs"> <i class="fa fa-laptop"></i> <strong class="font-bold">基本信息</strong></span> 
								</uib-tab-heading>
								<div class="panel-body">
									<div ui-view="agentDetailBase"/>
								</div>	
							</uib-tab> 
							<uib-tab> 
								<uib-tab-heading> 
									<span class="block m-t-xs"> <i class="fa fa-desktop"></i><strong class="font-bold">代理业务产品</strong></span> 
								</uib-tab-heading>


								<div ng-repeat="teamId in businessProduct.teamIds">
									<div class="form-group">
										<div class="col-sm-10 control-label" style="float: left;">
											<div class="col-sm-12 control-label">
												<div class="col-sm-12 control-label" style="text-align: left">
													<span ng-bind="businessProduct.agentTeamInfo[teamId]"></span>
													<span >业务产品</span>
												</div>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<div class="gridStyle" ui-grid-resize-columns ui-grid="businessProduct.groupByTeamIdGridList[teamId]" />
									</div>
								</div>
							</uib-tab>
							<uib-tab> 
								<uib-tab-heading> 
									<span class="block m-t-xs"> 
										<i class="fa fa-desktop"></i>
										<strong class="font-bold">分润设置</strong>
									</span> 
								</uib-tab-heading>

								<div ng-show="shareRule.agentTeamIds.length === 0">
									<div class="panel-body">
										<div class="gridStyle" ui-grid-resize-columns ui-grid="shareRule.defaultGrid" />
									</div>
								</div>
								<div ng-show="shareRule.agentTeamIds.length !== 0">
									<div ng-repeat="teamId in shareRule.agentTeamIds">
										<div class="form-group">
											<div class="col-sm-10 control-label" style="float: left;">
												<div class="col-sm-12 control-label">
													<div class="col-sm-12 control-label" style="text-align: left">
														<span ng-bind="businessProduct.agentTeamInfo[teamId]"></span>
														<span >分润设置</span>
													</div>
												</div>
											</div>
										</div>
										<div class="panel-body">
											<div class="gridStyle" ui-grid-resize-columns ui-grid="shareRule.groupByTeamIdGridList[teamId]" />
										</div>
									</div>
								</div>
								<div class="block m-t-xs">
									<!--<strong>备注：</strong><br/>-->
									<!--每笔固定收益1元，则填写代理商收益1.00;<br/>-->
									<!--每笔收益率为0.1%则填写代理商收益0.1%;<br/>-->
									<!--每笔收益率为0.1%，封顶3元，保底1元则填写代理商收益1.00~0.1%~3.00;<br/>-->
									<!--每笔收益率为0.1%加上固定收益1元，则填写代理商收益0.1%+1.00;<br/>-->
									<!--商户签约费率与代理商成本费率差额百分比分润,则填写代理商成本（格式如同上面所述代理商收益格式）和代理商分润百分比如50%;<br/>-->
									<!--商户签约费率与代理商成本费率差额按交易量阶梯百分比分润，则填写代理商成本（格式如同上面所述代理商收益格式），点击阶梯分润按钮设置分润阶梯.<br/>-->
									<strong>备注：</strong><br/>
									交易分润＝（商户签约扣率－代理商成本扣率）* 代理商分润百分比 * 交易金额；<br/>
									提现费分润＝（商户每笔提现手续费（如3.00元）－商户每笔提现代理商成本（如2.00元））*总笔数<br/>
								</div>
							</uib-tab>
							<uib-tab ng-show = "happyBack.showStatus  && agentType != 11">
								<uib-tab-heading>
									<span class="block m-t-xs"> 
										<i class="fa fa-desktop"></i>
										<strong class="font-bold">欢乐返活动</strong>
									</span> 
								</uib-tab-heading>

								<div ng-if="happyBack.teamIds.length === 0">
									<div class="panel-body">
										<div class="gridStyle" ui-grid-resize-columns ui-grid="happyBack.defaultGrid" />
									</div>
								</div>
								<div ng-if="happyBack.teamIds.length !== 0">
									<div ng-repeat="teamId in happyBack.teamIds">
										<div class="form-group">
											<div class="col-sm-10 control-label" style="float: left;">
												<div class="col-sm-12 control-label">
													<div class="col-sm-12 control-label" style="text-align: left">
														<span ng-bind="businessProduct.agentTeamInfo[teamId]"></span>
														<span >欢乐返活动</span>
													</div>
												</div>
											</div>
										</div>
										<div class="panel-body">
											<div class="gridStyle" ui-grid-resize-columns ui-grid="happyBack.groupByTeamIdGridList[teamId]" />
										</div>
									</div>
								</div>

								<!---->
								<!--<div class="panel-body" >-->
									<!--<div class="gridStyle" ui-grid="happyBackListGrid" ui-grid-resize-columns />-->
								<!--</div>	-->
							</uib-tab> 
						</uib-tabset>					
					</div>
				</div>
			</div>
			
			<div style="height:100px; padding:0 40px;">
				<div class="col-lg-12 bff">
					<div class="col-lg-2"></div>
					<a class="btn btn-primary4" ui-sref="agent.queryAgent">返回</a>
				</div>
			</div>
		</div>
	</form>
</div>