<!-- head -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>代理商</a></li>
			<li class="active"><strong>修改代理商</strong></li>
		</ol>
	</div>
</div>

<!-- content-->
<div class="wrapper wrapper-content animated fadeIn"  ng-controller="editAgentCtrl">
	<form class="form-horizontal" id="form1" name="horizontal" novalidate>
		<div class="form-group">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabs-container tab_other">
						<uib-tabset active="active">
							<uib-tab select="selectBaseInfo()">
								<uib-tab-heading>
									<span class="block m-t-xs"> <i class="fa fa-laptop"></i> <strong class="font-bold">基本信息</strong></span> 
								</uib-tab-heading>
								<div class="panel-body"  style="padding-bottom:131px">
									<div ui-view="agentBase" />
								</div>	
							</uib-tab> 
							<uib-tab select="selectBpInfo()">
								<uib-tab-heading> 
									<span class="block m-t-xs"> <i class="fa fa-desktop"></i><strong class="font-bold">代理业务产品</strong></span> 
								</uib-tab-heading>


								<div ng-repeat="teamId in businessProduct.teamIds">
									<div class="form-group">
										<div class="col-sm-10 control-label" style="float: left;">
											<!--<label class="col-sm-4 control-label">{{teamNames[teamId]}}业务产品-->
											<div class="col-sm-12 control-label">
												<div class="col-sm-12 control-label" style="text-align: left">
													<span ng-bind="businessProduct.parentTeamInfo[teamId]"></span>
													<span >业务产品</span>
												</div>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<div class="gridStyle" style="height: 250px"  ui-grid="businessProduct.groupByTeamIdGridList[teamId]"  ui-grid-resize-columns/>
									</div>
								</div>
							</uib-tab>
							
							<uib-tab  select="getShareList()" > 
								<uib-tab-heading> 
									<span class="block m-t-xs"> 
										<i class="fa fa-desktop"></i>
										<strong class="font-bold">分润设置</strong>
									</span> 
								</uib-tab-heading>

								<div class="panel-body">
									<div >
										<input type="checkbox" ng-model='shareData[0].checkStatus'  ng-true-value="1" ng-false-value="0"/>
										<span class="">审核</span>
										<input type="checkbox" ng-model='shareData[0].lockStatus'  ng-true-value="1" ng-false-value="0"/>
										<span class="">锁定</span>
										<span style="color:red" ng-show="businessProduct.unchecked">业务产品不能为空！ </span>
									</div>
									<div style="display: block">
										<a ng-click="shareRule.showBatchSetShare = !shareRule.showBatchSetShare">批量设置
											<span ng-show="!shareRule.showBatchSetShare" class="glyphicon glyphicon-menu-down"></span>
											<span ng-show="shareRule.showBatchSetShare" class="glyphicon glyphicon-menu-up"></span>
										</a>
										<div ng-show="shareRule.showBatchSetShare">
											<div style="float: left"> <span style="height: 36px;display: block;line-height: 36px;"  >批量设置：设置项</span></div>
											<div class="col-sm-3" >
												<select class="form-control" ng-model="shareRule.batchSetOption" >
													<option value="shareProfitPercent" >分润比例</option>
												</select>
											</div>
											<div style="float: left"> <span style="height: 36px;display: block;line-height: 36px;"  >设置值：</span></div>
											<div class="col-sm-3">
												<div class="input-group">
													<input type="text" class="form-control" ng-model="shareRule.batchSetValue">
													<div class="input-group-addon">%</div>
												</div>
											</div>
											<div class="col-sm-3">
												<button class="btn btn-new2 btn-mr20"  type="button" ng-click="batchSetShare()">确定设置</button>
											</div>
										</div>
									</div>
									<div ng-repeat="teamId in shareRule.agentTeamIds">
										<div class="form-group">
											<div class="col-sm-10 control-label" style="float: left;">
												<div class="col-sm-12 control-label">
													<div class="col-sm-12 control-label" style="text-align: left">
														<span ng-bind="businessProduct.parentTeamInfo[teamId]"></span>分润设置
													</div>
												</div>
											</div>
										</div>
										<div class="panel-body">
											<div class="gridStyle" style="height: 250px"  ui-grid="shareRule.groupByTeamIdGridList[teamId]" ui-grid-resize-columns ui-grid-pinning />
										</div>
									</div>
									<!--<div class="gridStyle" ui-grid="shareList" ui-grid-resize-columns ui-grid-pinning/>-->
									<div class="block m-t-xs">
										<strong>备注：</strong><br/>
										交易分润＝（商户签约扣率－代理商成本扣率）* 代理商分润百分比 * 交易金额；<br/>
										提现费分润＝（商户每笔提现手续费（如3.00元）－商户每笔提现代理商成本（如2.00元））*总笔数<br/>
									</div>
								</div>
							</uib-tab>
							<uib-tab select="generateHappyBackGrid()" ng-show="happyBack.showStatus && agentType != 11">
								<uib-tab-heading>
									<span class="block m-t-xs"> 
										<i class="fa fa-desktop"></i>
										<strong class="font-bold">欢乐返活动</strong>
									</span> 
								</uib-tab-heading>


								<div class="panel-body" >
									<div >
										<input type="checkbox" ng-model='happyBack.disJoinIn'/>
										<span class="">不参加欢乐返活动</span>
										<input type="checkbox" ng-model='happyBack.paramSetMaxValue'ng-click="happyBackParamSetMaxValue()"/>
										<span class="">活动参数设置为当前级别最高值</span>
										<span style="color:red" ng-show="businessProduct.unchecked">业务产品不能为空！ </span>
									</div>
									<div ng-hide="happyBack.disJoinIn">
										<a ng-click="happyBack.showBatchSetShare = !happyBack.showBatchSetShare">批量设置
											<span ng-show="!happyBack.showBatchSetShare" class="glyphicon glyphicon-menu-down"></span>
											<span ng-show="happyBack.showBatchSetShare" class="glyphicon glyphicon-menu-up"></span>
										</a>
										<div ng-show="happyBack.showBatchSetShare">
											<div style="float: left"> <span style="height: 36px;display: block;line-height: 36px;"  >批量设置：设置项</span></div>
											<div class="col-sm-3" >
												<select class="form-control" ng-model="agent.setpro" >
													<option value="">请选择批量设置项</option>
													<option value="cashBackAmount">返现金额</option>
													<option value="taxRate">返现比例</option>
													<option value="repeatRegisterAmount">重复注册返现金额</option>
													<option value="repeatRegisterRatio">重复注册返现比例</option>
													<option value="fullPrizeAmount" ng-show="happyBack.showFullPrizeAmount">首次注册满奖金额</option>
													<option value="notFullDeductAmount" ng-show="happyBack.showNotFullDeductAmount">首次注册不满扣金额</option>
													<option value="repeatFullPrizeAmount" ng-show="happyBack.showFullPrizeAmount">重复注册满奖金额</option>
													<option value="repeatNotFullDeductAmount" ng-show="happyBack.showNotFullDeductAmount">重复注册不满扣金额</option>
												</select>
											</div>
											<div style="float: left"> <span style="height: 36px;display: block;line-height: 36px;"  >设置值：</span></div>
											<div class="col-sm-3">
												<input type="text" class="form-control" ng-model="agent.setvalue">
											</div>
											<div class="col-sm-3">
												<button class="btn btn-new2 btn-mr20"  type="button" ng-click="defineSet()">确定设置</button>
											</div>
										</div>
									</div>
								</div>
								<div ng-if="happyBack.showTeamIds.length === 0" ng-hide="happyBack.disJoinIn">
									<div class="panel-body">
										<div class="gridStyle" style="height: 250px"  ui-grid="happyBack.defaultGrid" ui-grid-resize-columns/>
									</div>
								</div>
								<div ng-if="happyBack.showTeamIds.length !== 0" ng-hide="happyBack.disJoinIn">
									<div ng-repeat="teamId in happyBack.showTeamIds">
										<div class="form-group">
											<div class="col-sm-10 control-label" style="float: left;">
												<div class="col-sm-12 control-label">
													<div class="col-sm-12 control-label" style="text-align: left">
														<span ng-bind="businessProduct.parentTeamInfo[teamId]"></span>
														<span>欢乐返设置</span>
													</div>
												</div>
											</div>
										</div>
										<div class="panel-body">
											<div class="gridStyle" style="height: 250px"  ui-grid="happyBack.groupByTeamIdGridList[teamId]" ui-grid-resize-columns/>
										</div>
									</div>
								</div>
								<div class="block m-t-xs" ng-hide="happyBack.disJoinIn">
									<span class="block m-t-xs">注意：下级代理商获得返现金额不得高于上级返现金额，下级代理商获得的返现金额=返现金额*返现比例</span>
								</div>

								<!--<div class="panel-body" ng-hide="happyBack.disJoinIn">-->
									<!--<div class="gridStyle" ui-grid="happyBackListGrid" ui-grid-resize-columns />-->
								<!--</div>	-->
							</uib-tab> 
						</uib-tabset>
					</div>
				</div>
			</div>
			
			
			<div id="safeModel" class="modal fade" tabindex="3" role="dialog">
				<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
					<div class="modal-content" style="height:300px;width: 900px">
					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								&times;</button>
						</div>
						<div class="modal-body">
							<div class="form-group" >
									<label class="col-sm-8 control-label">该代理商还未设置安全手机号码，请让代理商设置安全手机号码后再修改结算卡信息。</label>
							</div>	
							<div class="form-group" >
								    <label class="col-sm-5 control-label">(选择保存可以修改非结算卡信息)</label>
							</div>	
						</div>										
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10">
									<button class="btn btn-primary btn-mr20" type="button" ng-click="submit('noSafePhone')">保存</button>
									<button class="btn btn-primary8 " type="button" ng-click='goSetSafePhoneCance()'>取消</button>
							</div>
						</div>
					</div>
				</div>
		  </div>
		  
		  	
			<div id="levelSafeModel" class="modal fade" tabindex="3" role="dialog">
				<div class="modal-dialog form-horizontal" style="height:300px;width: 900px">
					<div class="modal-content" style="height:300px;width: 900px">
					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								&times;</button>
						</div>
						<div class="modal-body">
							<div class="form-group col-sm-8">
								<label  class="col-lg-4 control-label">安全手机：</label>
								<div   class="col-lg-4">
									<input type="text" class="form-control" maxlength="11" minlength="11"
										placeholder="请输入安全手机号码"  ng-model="info.oldphone" disabled="disabled">
								</div>
							</div>
							<div class="form-group col-sm-8">
								<label class="col-lg-4 control-label">图形验证码：</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" 
										placeholder="请输入图形验证码"  ng-model="info.imgNum">
								</div>
								<div class="col-lg-2">
									 <img id="imgObj" alt="验证码" src="mycode/getCodeLevel" ng-click="changeImg()"	>
								</div>
							</div>

							<div class="form-group col-sm-8">
								<label class="col-lg-4 control-label">短信验证码：</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" 
										placeholder="请输入短信验证码"ng-model="info.phoneNum">
								</div>
								<div class="col-lg-2">
									<a href="javascript:" ng-click="sendphonecode()"
										ng-class="paraclass" ng-bind="paracont">获取验证码</a>
								</div>
							</div>

							<div class="col-sm-8">
								<div class="col-sm-2"></div>
								<div class="col-sm-3">
									<button class="btn btn-primary btn-rounded btn-block"
										type="button" id="btnSubmit" ng-click="submit('setSafePhone')">确定</button>
										</div>
								<div class="col-sm-3">		
									<button class="btn btn-primary3" ng-click="levelSafeModelCancel()">取消</button>
										
								</div>
							</div>
						</div>										
					</div>
				</div>
		  </div> 
			
			<!-- 修改模态框（Modal） -->
		    <div id="editShareModel" class="modal ht0 fade" tabindex="-1" role="dialog">
			    <div class="modal-dialog" style="width: 1200px">
			       <div class="modal-content">
			          <div class="modal-header">
			             <button type="button" class="close" data-dismiss="modal">
			                  &times;
			            </button>
			            <h3 class="modal-title">修改分润</h3>
			         </div>
			         <div class="modal-body">
			         	<div class="form-group">
			          		<label class="col-sm-2 control-label">服务名称：</label>
								<p class="form-control-static">{{shareInfo.serviceName}}</p>
			          		<label class="col-sm-2 control-label">银行卡种类：</label>
			          		<div class="col-sm-2">
								<p class="form-control-static">{{shareInfo.cardType | formatDropping:cardType}}</p>
							</div>
							<label class="col-sm-2 control-label">节假日标志：</label>
							<div class="col-sm-2">
								<p class="form-control-static">{{shareInfo.holidaysMark | formatDropping:holidays}}</p>
							</div>
			 			</div>
			 			<div class="form-group">
								<h4>原分润设置</h4>
								<div class="gridStyle" ui-grid="shareHistory" style="height:200px;" ui-grid-resize-columns></div>
						</div>
						<form class="form-horizontal">
							<div class="form-group">
								<h4>新分润设置</h4>
								<div style="border: 1px solid #ccc;">
									<div class="form-group">
									    <label class="col-sm-2 control-label">分润方式：</label>
									    <div class="col-sm-3">
											<select class="form-control" ng-model="newShareInfo.profitType" ng-options="x.value as x.text for x in fr"/>
									    </div>
									</div>
									<div class="form-group">
									    <label class="col-sm-2 control-label">生效日期：</label>
									    <div class="col-sm-3">
									    	<input type="datetime" class="form-control" style="display:inline-block;" date-time ng-model="newShareInfo.efficientDate" view="date"   format="YYYY-MM-DD HH:mm:ss">
									    </div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">代理商成本：</label>
										<div class="col-sm-3">
											<input type="text" class="form-control" ng-model="newShareInfo.cost">
										</div>
										<span ng-show="shareInfo.serviceType2 == null" style="float:left; margin-left:-10px; line-height:34px; display:inline-block">%</span>
										<span ng-show="shareInfo.serviceType2 != null" style="float:left; margin-left:-10px; line-height:34px; display:inline-block">元</span>
									</div>
									<div class="form-group">
									    <label class="col-sm-2 control-label">代理商固定分润比例：</label>
									    <div class="col-sm-3">
											<input type="number" class="form-control" ng-model="newShareInfo.shareProfitPercent">
										</div>
										<span style="float:left; margin-left:-10px; line-height:34px; display:inline-block">%</span>
									</div>
									<div class="form-group">
										<div class="col-sm-6" align="center">
							        		<button class="btn btn-primary btn-mr20" type="button" ng-disabled="isSubmitSharing" ng-click="submitShare(shareInfo)">确定</button>
							        		<!--<button class="btn btn-primary btn-mr20" type="button" ng-click="submitShare(shareInfo)">确定</button>-->
							        		<button class="btn btn-primary8" type="button" data-dismiss="modal">取消</button>
							        	</div>
							        </div>
								</div>
							</div>
						</form>
			         </div>
			      </div>
				</div>
			</div>
			<!-- 修改旧的分润 -->
			<!-- 设置新的分润 -->
			<div id="ladderFrModel" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" style="width: 900px">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								&times;
							</button>
							<h3 class="modal-title">代理商固定分润比例</h3>
						</div>
						<div class="modal-body">
							<div class="form-group" class="col-lg-12">
								<label class="col-lg-2 control-label">分润方式：</label>
								<div class="col-lg-6">
									<select class="input-sm form-control input-s-sm inline col-lg-6" ng-model="info.entity.profitType" ng-options="x.value as x.text for x in fr"/></div>
								</div>
							<div class="form-group" >
								<label class="col-lg-2 control-label"></label>
								<div class="col-lg-4"><input type="text" class="input form-control col-lg-8"  ng-model="info.entity.shareProfitPercent"/></div><div class="col-lg-4" style="padding:10px 0">%</div>
							</div>
							<div class="form-group">
								<div class="col-sm-6" align="center">
									<button class="btn btn-primary" type="button" ng-click="addShare(info.row)">确定</button>
									<button class="btn btn-primary8" type="button" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="height:100px; padding: 0 60px;">
				<div class="col-lg-12 bgff">
					<div class="col-lg-2"></div>
					<!--<button  ng-click="submit('default')">测试提交</button>-->
					<button class="btn btn-primary btn-mr20" type="button" id="updateAgent"
                            ng-disabled="horizontal.$invalid || businessProduct.unchecked || submitting"
                            ng-show="hasPermit('agent.editAgent')" style="width: 150px;" ng-click="submit('default')">全部保存</button>
					<a class="btn btn-primary4" ng-show="uibTabsetActive !== 'baseInfo'" ui-sref="agent.queryAgent">返回</a>
					<button class="btn btn-primary4" ng-show="uibTabsetActive === 'baseInfo'"
                       style="width: 150px;" ng-click="saveCurrentPage()"
                       ng-disabled="horizontal.$invalid || submitting">仅保存本页</button>
				</div>
			</div>
		</div>
	</form>
	<div ng-show="submiting" style="position: fixed;width: 100%;height: 100%;top:0;left: 0;background:rgba(0,0,0,0.1);z-index: 999">
		<div class="timg">
			<div style="width: 100px;position: absolute;top: 100px;background:#fff;
			font-size: 20px;
			border-top: 1px solid #cccccc;
			text-align: center">提交中...</div>
		</div>
	</div>
</div>
			