<script type="text/javascript" th:inline="javascript">
	$(function() {
		var token = [[${_csrf.token}]];
		$('#menu_list').treegrid({
			url : 'menu/query?_csrf='+token,
			title : "菜单列表",
			idField : 'id',
			treeField : 'name',
			fitColumns : true,
			loadFilter : function(data, parent) {
				if (data.success) {
					return data.data;
				} else {
					$.messager.alert('提示', data.msg, 'warning');
				}
			},
			columns : [ [{
				title : '记录ID',
				field : 'id',
				align : 'center'
			},{
				title : '菜单名称',
				field : 'name',
				align : 'center',
				editor : 'text'
			}, {
				title : '权限',
				field : 'authority',
				align : 'center',
				editor : 'text'
			}, {
				title : '接口地址',
				field : 'url',
				align : 'center',
				editor : 'text'
			}, {
				title : '描述',
				field : 'description',
				align : 'center',
				editor : 'text'
			}, {
				title : '创建时间',
				field : 'createTime',
				align : 'center'
			}, {
				title : '更新时间',
				field : 'updateTime',
				align : 'center'
			} ] ]
		});
		
	});
</script>
<table id="menu_list"></table>
