<script type="text/javascript" th:inline="javascript">
	$(function() {
		var token = [[${_csrf.token}]];
		$('#menu_list').treegrid({
			url : '/menu?_csrf='+token,
			title : "菜单列表",
			idField : 'id',
			treeField : 'name',
			fitColumns : true,
			singleSelect:true,
			loadFilter : function(data, parent) {
				console.debug(data);
				if (data.success) {
					return data.data;
				} else {
					$.messager.alert('提示', data.msg, 'warning');
				}
			},
			pagination:true,
			columns : [ [{
				title : '记录ID',
				field : 'id',
				align : 'center'
			},{
				title : '菜单名称',
				field : 'name',
				align : 'center',
				editor : 'text'
			}, {
				title : '权限',
				field : 'authority',
				align : 'center',
				editor : 'text'
			}, {
				title : '接口地址',
				field : 'url',
				align : 'center',
				editor : 'text'
			}, {
				title : '描述',
				field : 'description',
				align : 'center',
				editor : 'text'
			}, {
				title : '创建时间',
				field : 'createTime',
				align : 'center'
			}, {
				title : '更新时间',
				field : 'updateTime',
				align : 'center'
			} ] ]
		});
		// 定义工具栏
		$('#menu_list').datagrid({
			toolbar: [{
				iconCls: 'icon-add',
				text:'新增',
				handler: function(){alert('add')}
			},'-',{
				iconCls: 'icon-edit',
				text : '编辑',
				handler: function(){alert('edit')}
			},'-',{
				iconCls: 'icon-remove',
				text:'删除',
				handler: function(){alert('remove')}
			},'-',{
				iconCls: 'icon-save',
				text:'保存',
				handler: function(){alert('save')}
			},'-',{
				iconCls: 'icon-cancel',
				text:'取消',
				handler: function(){alert('cancel')}
			}]
		});
	});
	
</script>

<table id="menu_list"></table>

