<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>机具管理</a></li>
			<li class="active"><strong>活动考核机具</strong></li>
		</ol>
	</div>
</div>

<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app ng-controller="terActivityCheckQueryCtrl">
	<form class="form-horizontal" id="form1">
			<div class="row">
				<div class="col-lg-12">
					<div class="">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-2 control-label">机具SN号：</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="info.snStart" placeholder="请输入开始号"> -
										<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="info.snEnd" placeholder="请输入结束号">
									</div>
								</div>
								<div class="form-group">
									<!--<label class="col-sm-2 control-label">二级代理商：</label>-->
									<!--<div class="col-sm-2">-->
										<!--<select chosen="{width:'100%'}" class="chosen-select form-control" tabindex="5"-->
												<!--ng-model="info.agentNoTwo" ng-options="x.value as x.text for x in agentTwo" ng-change="agt_ch()">-->
										<!--</select>-->
									<!--</div>-->
									<label class="col-sm-2 control-label">所属代理商：</label>
									<div class="col-sm-2">
										<select chosen="{width:'100%'}" class="chosen-select form-control" tabindex="5" ng-model="info.agentNo"
												ng-options="x.value as x.text for x in agent" ng-change="agt_ch()">
										</select>
									</div>
									<label class="col-sm-2 control-label">包含下级：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.hasChild"  ng-options="x.value as x.text for x in hasChildList">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">硬件产品种类：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.type" ng-options="x.hpId as x.typeName for x in termianlTypes"/>
									</div>
									<label class="col-sm-2 control-label">业务产品：</label>
									<div class="col-sm-2">
										<select chosen="{width:'100%'}" class="chosen-select form-control"  ng-model="info.bpId"
												ng-options="x.bpId as x.bpName for x in productTypes">
											<option value=""></option>
										</select>
									</div>
									<label class="col-sm-2 control-label">欢乐返子类型:</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.activityTypeNo" ng-options="x.value as x.text for x in typeNos"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">机具状态：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.openStatus" ng-options="x.value as x.text for x in terminalStates"/>
									</div>
									<label class="col-sm-2 control-label">机具激活状态:</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.status" ng-options="x.value as x.text for x in statusList"/>
									</div>
									<label class="col-sm-2 control-label">考核达标状态:</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.standardStatus" ng-options="x.value as x.text for x in standardStatusList"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">列表排序:</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.sort" ng-options="x.value as x.text for x in sortList"/>
									</div>
									<label class="col-sm-2 control-label">考核日期：</label>
									<div class="col-sm-6">
										<input id="d5223" class="form-control" type="datetime" ng-model="info.checkTimeStart" onchange=""  style="width:auto;display:inline-block;"
											   onFocus="var d5224=$dp.$('d5224');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5224.focus();},maxDate:'#F{$dp.$D(\'d5224\')}'})"/>
										~
										<input id="d5224" class="form-control" type="datetime"  ng-model="info.checkTimeEnd" onchange=""  style="width:auto;display:inline-block;"
											   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5223\')}'})"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">考核剩余天数：</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="info.dueDaysMin"> -
										<input type="text" class="form-control" style="width:auto;display:inline-block;" ng-model="info.dueDaysMax">
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-12">
										<label class="col-sm-2 control-label"></label>
										<button class="btn btn-primary6 btn-mr20" type="button" ng-click="selectInfo()"
											id="btnSubmit">查询</button>
										<button class="btn btn-primary3 btn-mr20" type="button" ng-click="clear()"
											id="btnSubmit2">清空</button>
										<button class="btn btn-primary7" type="button" ng-click="exportInfo()"
												id="btnSubmit3">导出</button>
									</div>
								</div>
							</div>
						</div>
						<div class="ibox-content">
							 <div ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-exporter ui-grid-resize-columns ui-grid-selection ui-grid-pinning ></div>
						</div>
						<div style="height: 50px"></div>
					</div>
				</div>
				</div>
	</form>
</div>