<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>商户管理</a></li>
			<li class="active"><strong>收单商户进件详情</strong></li>
		</ol>
	</div>
</div>


<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="acqMerchantDetailCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="tabs-container tab_other">
					<uib-tabset> 
						<uib-tab> 
							<uib-tab-heading>
								<span class="block m-t-xs"> <i class="fa fa-laptop"></i> <strong
									class="font-bold">审核信息</strong>
								</span> 
							</uib-tab-heading>
							
							<div class="panel-body ibox float-e-margins">
		
								<div class="ibox-title">
									<h5>基本信息</h5>
								</div>
								<div class="ibox-content">
		
									<div class="form-group">
										<label class="col-sm-2 control-label">收单进件编号：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.acqIntoNo">
										</div>
										
										<label class="col-sm-2 control-label">进件来源：</label>
										<div class="col-sm-2 checkbox" ng-bind="intoSources(info.intoSource)">
										</div>
									</div>
		
									<div class="form-group">
										<label class="col-sm-2 control-label">审核状态：</label>
										<div class="col-sm-2 checkbox" ng-bind="auditStatus(info.auditStatus)">
										</div>
										<label class="col-sm-2 control-label">进件日期：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.createTime">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label">商户名称：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.merchantName">
										</div>
										<label class="col-sm-2 control-label">商户类型：</label>
										<div class="col-sm-2 checkbox" ng-bind="merchantTypes(info.merchantType)">
	 									</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label">法人姓名：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.legalPerson">
										</div>
										<label class="col-sm-2 control-label">法人身份证号码：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.legalPersonId">
	 									</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label">身份证有效期：</label>
										<div class="col-sm-3 checkbox" ng-bind="addTime(info.idValidStart,info.idValidEnd)">
										</div>
									</div>
									<div class="form-group" ng-show="info.updateTime != null">
										<label class="col-sm-2 control-label">修改日期：</label>
										<div class="col-sm-3 checkbox" ng-bind="info.updateTime">
										</div>
									</div>
									
								</div>
							</div>
							
							<div class="panel-body ibox float-e-margins">
								<div class="ibox-title">
									<h5>经营信息</h5>
								</div>
								<div class="ibox-content">
									<div class="form-group">
										<label class="col-sm-2 control-label">经营地址：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.addressInfo">
										</div>
										<label class="col-sm-2 control-label">经营范围：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.scope">
										</div>
									</div>
									<div class="form-group" >
										<label class="col-sm-2 control-label">营业执照名称：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.charterName">
										</div>
										<label class="col-sm-2 control-label">营业执照编号：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.charterNo">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">营业执照有效期：</label>
										<div class="col-sm-3 checkbox" ng-bind="addTime(info.charterValidStart,info.charterValidEnd)">
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel-body ibox float-e-margins">
		
								<div class="ibox-title">
									<h5>账户信息</h5>
								</div>
								<div class="ibox-content">
		
									<div class="form-group">
										<label class="col-sm-2 control-label">账户类型：</label>
										<div class="col-sm-2 checkbox" ng-bind="accountTypes(info.accountType)">
										</div>
										
										<label class="col-sm-2 control-label">银行卡号：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.bankNo">
										</div>
									</div>
		
									<div class="form-group">
										<label class="col-sm-2 control-label">开户名：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.accountName">
										</div>
										<label class="col-sm-2 control-label">开户银行：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.accountBank">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label">开户地区：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.accountAddress">
										</div>
										<label class="col-sm-2 control-label">所属支行：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.bankBranch">
	 									</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label">联行行号：</label>
										<div class="col-sm-2 checkbox" ng-bind="info.lineNumber">
										</div>
									</div>
									
									
									
								</div>
							</div>
								
							<div class="panel-body ibox float-e-margins">
		
								<div class="ibox-title">
									<h5>资质文件</h5>
								</div>
								<div class="ibox-content">
									<div class="form-group" style="padding-bottom: 20px;">
										<div class="col-img"  ng-repeat="file in fileList">
											<div >{{file.name}}</div>
											<div><a href="{{file.fileUrl}}" fancybox rel="group" > <img width="250px" height="150px" src="{{file.fileUrl}}"/></a></div>
										</div>
									</div>
								</div>
								
							</div>
							
							<div class="panel-body ibox float-e-margins">
		
								<div class="ibox-title">
									<h5>审核记录</h5>
								</div>
								<div class="ibox-content">
									<div class="gridStyle auditDetail" style="height: 300px;" ng-grid="acqMerAutidList"/>
								</div>
								
							</div>
							
						</uib-tab> 
						
					</uib-tabset>

				</div>
			</div>
		</div>
		<div class="row wrapper-content">
			<div class="col-lg-12">
				<div class="col-lg-3"></div>
				<a class="btn btn-primary7" type="button" ng-show="info.auditStatus==3" ui-sref="merchant.acqMerUpdate({id:info.id})"
					id="btnSubmit">编辑</a>
				<a class="btn btn-primary4" type="button"  ui-sref="merchant.queryAcqMer"
					id="btnSubmit">返回</a>
			</div>
		</div>
		<div style="height:50px"></div>
	</form>
</div>
