<div class="row">
	<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
							<div class="ibox-title">
								<h5>基本信息</h5>
							</div>
							<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-2 control-label"><i class="red_req">*</i>进件类型：</label>
										<div class="col-sm-2">
											<select class="form-control" ng-change="getFileList(info.merchantType)" ng-disabled="info.id!=null" ng-model="info.merchantType" ng-options="x.value as x.text for x in mTypes"/>
										</div>
									<label class="col-sm-2 control-label" ><i class="red_req">*</i>商户名称：</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" ng-model="info.merchantName" name="merchantName" ng-pattern="/^[\u4E00-\u9FA5]{4,50}$/"  required>
										<div class="req_mesg" ng-show="horizontal.merchantName.$dirty && horizontal.merchantName.$invalid">
											<span ng-show="horizontal.merchantName.$error.required">商户名称不能为空</span>
											<span ng-show="horizontal.merchantName.$error.pattern">商户名称只能输入4-50个的中文字符</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label"><i class="red_req">*</i>法人姓名：</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" name="legalPerson" ng-model="info.legalPerson" ng-pattern="/^.{2,20}$/"  required>
										<div class="req_mesg" ng-show="horizontal.legalPerson.$dirty && horizontal.legalPerson.$invalid">
											<span ng-show="horizontal.legalPerson.$error.required">法人姓名不能为空</span>
											<span ng-show="horizontal.legalPerson.$error.pattern">法人姓名只能输入2-20个字符</span>
										</div>
										<div class="req_mesg" ng-show="info.legalPerson && info.legalPerson === info.merchantName">
											<span>法人姓名和商户名称不能一样</span>
										</div>
									</div>
									
									<label class="col-sm-2 control-label"><i class="red_req">*</i>法人身份证号：</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" name="legalPersonId" ng-pattern="/^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/" ng-model="info.legalPersonId" required>
										<div class="req_mesg" ng-show="horizontal.legalPersonId.$dirty && horizontal.legalPersonId.$invalid">
											<span ng-show="horizontal.legalPersonId.$error.required">法人身份证号不能为空</span>
											<span ng-show="horizontal.legalPersonId.$error.pattern">法人身份证号不正确</span>
										</div>
									</div>
								</div>
								<div class="form-group" ng-show="false">
									<label class="col-sm-2 control-label">所属代理商：</label>
									<div class="col-sm-3">
										<input disabled="disabled" type="text" class="form-control" name="agentNo" ng-model="info.agentNo">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label"><i class="red_req">*</i>身份证有效期：</label>
									
									<div class="col-sm-6">
										<input id="d5221" class="form-control" type="datetime" ng-model="info.idValidStart" required="required" onchange=""  style="width:auto;display:inline-block;"
											   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd',
											   changed:verifyTime(1,'#d5221','#d5222',183),onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')||\'%y-%M-%d\'}'})"/>
										-
										<input id="d5222" class="form-control" type="datetime"  ng-model="info.idValidEnd" required="required" onchange=""  style="width:auto;display:inline-block;"
											   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd',
											   changed:verifyTime(2,'#d5221','#d5222',183),minDate:'#F{$dp.$D(\'d5221\')}'})"/>
										<div class="req_mesg" ng-show="info.idValidStart && info.idValidEnd && info.idValidStart == info.idValidEnd">
											<span >有效期开始和结束不能是同一天</span>
										</div>
									</div>
									
								</div>
							</div>

				</div>
				
				
				<div class="panel-body ibox float-e-margins">
		
					<div class="ibox-title">
						<h5>经营信息</h5>
					</div>
					<div class="ibox-content">
		
					 <div class="form-group">
					 		<label class="col-sm-2 control-label"><i class="red_req">*</i>经营地址：</label>
			                <div class="col-sm-2">
			                     <select class="form-control input-s-sm inline" ng-model="info.province" ng-change="getCities()" ng-options="x.name as x.name for x in provinceGroup" required="required"/>
			                </div>
			                <div class="col-sm-2">
			                     <select class="form-control input-s-sm inline" ng-model="info.city" ng-change="getAreas()" ng-options="x.name as x.name for x in cityGroup" required="required"/>
			                </div>
			                <div class="col-sm-2">
			                     <select class="form-control input-s-sm inline" ng-model="info.district" ng-options="x.name as x.name for x in areaGroup" required="required"/>
			                </div>
			                 <div class="col-sm-4">
								<input type="text" class="form-control" name="address" ng-model="info.address" required="required">
								<div class="req_mesg" ng-show="horizontal.address.$dirty && horizontal.address.$invalid">
										<span ng-show="horizontal.address.$error.required">详细地址不能为空</span>
								</div>
							</div>
			        </div>
							
					<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req">*</i>经营范围：</label>
							<div class="col-sm-2">
								<select class="form-control" ng-change="serType(info.oneScope)" ng-model="info.oneScope" ng-options="x.sysValue as x.sysName for x in merTypes"/>
							</div>
							<div class="col-sm-2">
								<select class="form-control" ng-model="info.twoScope" ng-options="x.value as x.text for x in merMcc"/>
							</div>
						</div>		
									
               		</div>  
               		
               		<div class="form-group" >
							<label class="col-sm-2 control-label"><i class="red_req">*</i>营业执照名称：</label>
							<div class="col-sm-3">
								<input  type="text" class="form-control" name="charterName" ng-model="info.charterName" ng-pattern="/^[\u4E00-\u9FA5]{4,50}$/" required="required">
								<div class="req_mesg" ng-show="horizontal.charterName.$dirty && horizontal.charterName.$invalid">
											<span ng-show="horizontal.charterName.$error.required">营业执照名称不能为空</span>
											<span ng-show="horizontal.charterName.$error.pattern">营业执照名称只能输入4-50个中文字符</span>
								</div>
							</div>
							<label class="col-sm-2 control-label"><i class="red_req">*</i>营业执照编号：</label>
							<div class="col-sm-3">
								<input  type="text" class="form-control" name="charterNo" ng-model="info.charterNo" ng-pattern="/^.{2,20}$/" required="required">
								<div class="req_mesg" ng-show="horizontal.charterNo.$dirty && horizontal.charterNo.$invalid">
											<span ng-show="horizontal.charterNo.$error.required">营业执照编号不能为空</span>
											<span ng-show="horizontal.charterNo.$error.pattern">营业执照编号只能输入2-20个字符</span>
								</div>
							</div>
					</div>
               		
               		<div class="form-group">
							<label class="col-sm-2 control-label"><i class="red_req">*</i>营业执照有效期：</label>
							
							<div class="col-sm-6">
								<input id="d52210" class="form-control" type="datetime" ng-model="info.charterValidStart" required="required" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d52220=$dp.$('d52220');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd',
									   changed:verifyTime(1,'#d52210','#d52220',183),onpicked:function(){d52220.focus();},maxDate:'#F{$dp.$D(\'d52220\')||\'%y-%M-%d\'}'})"/>
								-
								<input id="d52220" class="form-control" type="datetime"  ng-model="info.charterValidEnd" required="required" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd',
									   changed:verifyTime(2,'#d52210','#d52220',183),minDate:'#F{$dp.$D(\'d52210\')}'})"/>
							   	<div class="req_mesg" ng-show="info.charterValidStart && info.charterValidEnd && info.charterValidStart == info.charterValidEnd">
									<span >有效期开始和结束不能是同一天</span>
								</div>
							</div>
									
					</div>
				</div>
			</div>
				
				<div class="panel-body ibox float-e-margins">
						<div class="ibox-title">
							<h5>账户信息</h5>
						</div>
						<div class="ibox-content">
							<div class="form-group">
									<label class="col-sm-2 control-label"><i class="red_req">*</i>开户名：</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" ng-model="info.accountName" name="accountName" ng-pattern="/^.{2,20}$/"  required>
										<div class="req_mesg" ng-show="horizontal.accountName.$dirty && horizontal.accountName.$invalid">
											<span ng-show="horizontal.accountName.$error.required">开户名不能为空</span>
											<span ng-show="horizontal.accountName.$error.pattern">开户名只能输入2-20个字符</span>
										</div>
									</div>
									
									<label class="col-sm-2 control-label"><i class="red_req">*</i>账户类型：</label>
									<div class="col-sm-3">
										<select class="form-control" ng-model="info.accountType" ng-options="x.value as x.text for x in itemType"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label"><i class="red_req">*</i>开户账号：</label>
									<div class="col-sm-3">
										<input type="text" ng-blur="getHangName()" class="form-control" ng-model="info.bankNo" name="bankNo" ng-pattern="/^(\d{15,21})$/" required>
										<div class="req_mesg" ng-show="horizontal.bankNo.$dirty && horizontal.bankNo.$invalid">
											<span ng-show="horizontal.accountNo.$error.required">开户账号不能为空</span>
											<span ng-show="horizontal.accountNo.$error.pattern">开户账号不正确</span>
										</div>
									</div>
									<label class="col-sm-2 control-label"><i class="red_req">*</i>开户银行：</label>
									<div class="col-sm-3">
										<select class="form-control" ng-model="info.accountBank" ng-options="x.bankName as x.bankName for x in cards"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label"><i class="red_req">*</i>开户地区：</label>
					                <div class="col-sm-2">
					                     <select required class="form-control input-s-sm inline" ng-model="info.accountProvince" ng-change="getCitiess()" ng-options="x.name as x.name for x in provinceGroups"/>
					                </div>
					                <label class="col-sm-1 control-label">省</label>
					                <div class="col-sm-2">
					                     <select required class="form-control input-s-sm inline" ng-model="info.accountCity" ng-change="getAreass()" ng-options="x.name as x.name for x in cityGroups"/>
					                </div>
					                <label class="col-sm-1 control-label">市</label>
					                <div class="col-sm-2">
					                     <select required class="form-control input-s-sm inline" ng-model="info.accountDistrict" ng-change="getPosCnaps()" ng-options="x.name as x.name for x in areaGroups"/>
					                </div>
					                <label class="col-sm-1 control-label">县/区</label>
								</div>
								
								<div class="form-group">
									 <label class="col-sm-2 control-label"><i class="red_req">*</i>支行</label>
					                <div class="col-sm-3 cl-csn">
					                	<!-- <select chosen  style="width:280px;"  tabindex="4" required
											ng-model="info.bankBranch" ng-change="getUnionAccountNo(info.bankBranch)"
											ng-options="x.cnapsNo as x.bankName for x in bankNames">
												<option value=""></option>
										</select> -->
										
										<select chosen  ng-model="info.bankBranch" ng-change="getUnionAccountNo(info.bankBranch)" style="width:280px;"  tabindex="4">
         									 <option ng-repeat=' x in bankNames' value="{{x.cnapsNo}}" ng-selected="x.cnapsNo==info.bankBranch" >{{x.bankName}}</option>
        								</select>
					                </div>
									<label class="col-sm-2 control-label"><i class="red_req">*</i>联行行号：</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" ng-model="info.lineNumber" disabled="disabled" required >
									</div>
								</div>
						</div>
				</div>
				
				 <div class="panel-body ibox float-e-margins">
							<div class="ibox-content">
							</div>
					</div>
					<div class="panel-body ibox float-e-margins">
							<div class="ibox-content">
							</div>
					</div>	
					
					<div class="panel-body ibox float-e-margins">
							<div class="ibox-content">
							</div>
					</div>	
	
	</div>
</div>