<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="#/service/addService">主页</a>
            </li>
            <li>
                <a>商户管理</a>
            </li>
            <li class="active">
                <strong>收单商户进件</strong>
            </li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn"
	ng-controller="acqMerchantAddCtrl">
	<form class="form-horizontal" name="horizontal" novalidate>
		<div class="form-group">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabs-container tab_other">
						<uib-tabset> <uib-tab> <uib-tab-heading>
						<span class="block m-t-xs"> <i class="fa fa-laptop"></i> <strong
							class="font-bold">基本信息</strong>
						</span> </uib-tab-heading>
						<div class="panel-body">
							<div ui-view="acqMerchantBase"></div>
						</div>
						</uib-tab> 
						<uib-tab> <uib-tab-heading>
						<span class="block m-t-xs"> <i class="fa fa-desktop"></i> <strong
							class="font-bold">资质文件</strong>
						</span> </uib-tab-heading>
						<div class="panel-body">
							

							<div class="row cropArea" style="padding: 0 15px 15px 0"   ngf-drop ngf-pattern="'image/*'"
							     ngf-multiple="true">
							    <div class="col col-xs-4 text-left" style="margin-top: 15px;" ng-repeat="image in listItem">
							    		<p ng-bind="image.itemName"></p>
							            <img ngf-src="files[0] || image.photoAddressUrl" class="img-responsive"
							                 style="width:200px; height: 200px; max-width:500px;" />
							           <button class="btn btn-default" ng-model="files"  ngf-select="selectImage($files,image.itemId)" ngf-pattern="'image/*'"
							        		ngf-multiple="true" >选择图片</button>
							    </div>
							</div>
							<div class="req_mesg" ng-show="info.merchantType == 2">
									<span>注：开户许可证与租赁合同或产权证明(非必填)</span>
							</div>
						</div>
						</uib-tab>
						
						 </uib-tabset>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="bgff" style="padding: 20px 60px;">
						<label class="col-sm-2 control-label"></label>
						<button class="btn btn-primary" type="button"
						ng-click="commitMerInfo()" ng-disabled="horizontal.$invalid || submiting">提交</button>
					</div>
				</div>
			</div>
            <div style="height:30px"></div>
		</div>
	</form>
</div>