<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>商户管理</a></li>
			<li class="active"><strong>查询商户</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="merchantQueryCtrl">
	<form class="form-horizontal" id="form1">
			<div class="row">
				<div class="col-lg-12">
					<div class="">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-title">
								<h5>商户信息多条列表查询</h5>
							</div>
							<div class="ibox-content">
								<div class="form-group">
									<!--<label class="col-sm-2 control-label">商户进件编号：</label>-->
									<!--<div class="col-sm-3">-->
										<!--<input type="text" class="form-control" name="info.merchantNo" ng-model="info.mbpId">-->
									<!--</div>-->
									<label class="col-sm-2 control-label">商户名称/编号：</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" name="info.merchantNo" ng-model="info.merchantNo" ng-change="merchantOrMobileChange()">
									</div>
									<label class="col-sm-2 control-label">商户手机号：</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" ng-model="info.mobilephone" ng-change="merchantOrMobileChange()">
									</div>
								</div>
								<div class="form-group">

									<label class="col-sm-2 control-label">状态：</label>
									<div class="col-sm-3">
										<select class="form-control" ng-model="info.merchantExamineState" ng-options="x.value as x.text for x in merchantStates"/>
									</div>
									<label class="col-sm-2 control-label">业务产品：</label>
									<div class="col-sm-3">
										<select chosen="{width:'100%'}" class="chosen-select form-control"  ng-model="info.productType"
												ng-options="x.bpId as x.bpName for x in productTypes">
											<option value=""></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">代理商名称：</label>
									<div class="col-sm-3">
										<select chosen="{width:'100%'}"  class="chosen-select" tabindex="4" ng-model="info.agentName" ng-options="x.value as x.text for x in agent"  ng-change="agt_ch()">
							            	 <option value=""></option>
							            </select>
									</div>
									<label class="col-sm-2 control-label">包含下级：</label>
									<div class="col-sm-3">
										<select class="form-control" ng-disabled="dtr" ng-model="info.agentNode" ng-options="x.value as x.text for x in IsYN"/>
									</div>
								</div>
								<!--<div class="form-group">-->

									<!--&lt;!&ndash;<label class="col-sm-2 control-label">硬件产品种类：</label>&ndash;&gt;-->
									<!--&lt;!&ndash;<div class="col-sm-3">&ndash;&gt;-->
										<!--&lt;!&ndash;<select class="form-control" ng-model="info.termianlType" ng-options="x.hpId as x.typeName for x in termianlTypes"/>&ndash;&gt;-->
									<!--&lt;!&ndash;</div>&ndash;&gt;-->
								<!--</div>-->
								<div class="form-group">
									<label class="col-sm-2 control-label">创建时间：</label>
									<div class="col-sm-6">
										<input id="d5221" class="form-control" type="datetime" ng-model="info.sTime" onchange=""  style="width:auto;display:inline-block;"
											   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',
											   changed:verifyTime(1,'#d5221','#d5222',183, isVerifyTime),onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')||\'%y-%M-%d\'}'})"/>
										~
										<input id="d5222" class="form-control" type="datetime"  ng-model="info.eTime" onchange=""  style="width:auto;display:inline-block;"
											   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',
											   changed:verifyTime(2,'#d5221','#d5222',183, isVerifyTime),minDate:'#F{$dp.$D(\'d5221\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
										<br/><span><font color="#999">备注：查询范围不能超过六个月</font></span>
									</div>
									<!--<div class="col-sm-6">-->
										<!--<input id="d5221" class="form-control" type="datetime" ng-model="info.sTime"-->
											   <!--onchange="" style="width:auto;display:inline-block;"-->
											   <!--onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>-->
										<!--~-->
										<!--<input id="d5222" class="form-control" type="datetime" ng-model="info.eTime"-->
											   <!--onchange="" style="width:auto;display:inline-block;"-->
											   <!--onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5221\')}'})"/>-->
									<!--</div>-->
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">商户冻结状态：</label>
									<div class="col-sm-3">
										<select class="form-control" ng-model="info.riskStatus" ng-options="x.value as x.text for x in riskStatusaa"/>
									</div>
									<label class="col-sm-2 control-label" ng-show="agentType != 11">推广来源：</label>
									<div class="col-sm-3"  ng-show="agentType != 11">
										<select class="form-control" ng-model="info.recommendedSource" ng-options="x.value as x.text for x in recommendedSources"/>
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-2 control-label" ng-show="oemType === 'SQIANBAO'">是否参加欢乐送：</label>
									<div class="col-sm-3" ng-show="oemType === 'SQIANBAO'">
										<select class="form-control" ng-model="info.activityType" ng-options="x.value as x.text for x in activityTypes"/>
									</div>
									<label  class="col-sm-2 control-label">绑定快捷支付卡：</label>
									<div class="col-sm-3">
										<select class="form-control" ng-model="info.quickPayment" ng-options="x.value as x.text for x in quickPaymentList"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">商户组织：</label>
									<div class="col-sm-3" ng-show="!showSelect">
										<select chosen="{width:'100%'}"  class="chosen-select form-control"  ng-model="info.merTeamId"
												ng-options="x.value as x.text for x in merTeams" >
											<option value=""></option>
										</select>
									</div>
									<div class="col-sm-2 checkbox" ng-show="showSelect"><p ng-bind="info.merTeamId | formatDropping:merTeams"></p></div>
									<label class="col-sm-2 control-label">机具编号：</label>
									<div class="col-sm-3">
										<input type="text" class="form-control" ng-model="info.terminalNo">
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-12">
										<label class="col-sm-2 control-label"></label>
										<button class="btn btn-primary6 btn-mr20" type="button" ng-click="selectInfo()" id="btnSubmit">查询</button>
                                        <button class="btn btn-primary6 btn-mr20" type="button" ng-click="exportInfo()" >导出</button>
                                        <button class="btn btn-primary3" type="button" ng-click="clear()" id="btnSubmit">清空</button>
									</div>
									
								</div>
							</div>

						</div>
						
						
						<div class="panel-body ibox float-e-margins">
								<div class="ibox-title">
									<h5>商户信息列表</h5>
								<div class="ibox-content">
									<div class="form-group">
										<label class="col-sm-1 control-label">汇总</label>
										<div class="col-sm-2 checkbox">商户数：<span ng-bind="gridOptions.totalMerchant"></span>个</div>
									</div>
									<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-pinning class="grid"></div>
								</div>
							</div>
                            <div style="height:30px"></div>
					</div>
				</div>
			</div>
	</form>
	<div id="groupBpInfo" class="modal fade" tabindex="3" role="dialog">
			<div class="modal-dialog" style="height:250px;width: 520px">
				<div class="modal-content" style="height:250px;width: 520px">
				<!-- 	<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h3 class="modal-title">机具密钥信息</h3>
					</div> -->
					<div class="modal-body">
						<div class="form-group control-label" style="padding-top:30px"><label class="col-sm-2 control-label"></label>
						<div class="col-sm-9" style="text-align:left">请选择更改后的业务产品：</div>
						</div>
						<div class="form-group" style="padding:10px 0 30px">
									<label class="col-sm-2 control-label"></label>
									<div class="col-sm-9">
									<!-- 	<select class="form-control" ng-model="hdIp" ng-change="chName()" ng-options="x.typeName for x in termianlTypes"/> -->
									
									<select class="form-control" ng-model="bpId" ng-options="x.bpId as x.bpName for x in productTypeGroup">
										<option value="" disabled selected>请选择</option>
										</select>
									</div>
								
								</div>
								
						<!-- 				<div  class="col-lg-12">
						<label class="col-sm-1 control-label"></label>
						<div class="col-sm-7">
							<button class="btn btn-primary btn-mr20 " ng-disabled="horizontal.$invalid || submitting" type="button"
							ng-click="commit()" id="btnSubmit">提交</button>
							
							<button class="btn btn-primary  " type="button" ng-click="submitCancel()" 
									>取消</button>
						</div>
					</div> -->
							
						<div class="form-group control-label">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-9" style="text-align:left">
									<button class="btn btn-primary btn-mr20" type="button" ng-click='replaceGroupBpInfo()'
									>确定</button>
									<button class="btn btn-primary btn-mr20" type="button" ng-click='cancel()'
									>返回</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</div>