<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="sysRoleCtrl">
	<form class="form-horizontal" name="horizontal">
		<div class="row form-group">
			<div class="col-sm-12">
				<label class="col-sm-3 control-label"><i class="red_req">*</i>角色编码：</label>
				<div  class="col-sm-5"><input  class="form-control" name="roleCode" ng-model="newRole.roleCode" required/>
					<div class="req_mesg" ng-show="horizontal.roleCode.$dirty && horizontal.roleCode.$invalid">
						<span ng-show="horizontal.roleCode.$error.required">角色编码不能为空</span>
					</div>
				</div>
				</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-12">
				<label class="col-sm-3 control-label"><i class="red_req">*</i>角色名称：</label>
				<div  class="col-sm-5"><input class="form-control" name="roleName" ng-model="newRole.roleName" required/>
					<div class="req_mesg" ng-show="horizontal.roleName.$dirty && horizontal.roleName.$invalid">
						<span ng-show="horizontal.roleName.$error.required">角色名称不能为空</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-12">
				<label class="col-sm-3 control-label">备注：</label>
				<div  class="col-sm-5"><input class="form-control" ng-model="newRole.roleRemake"/></div>
			</div>
		</div>
		<div class="row form-group col-sm-12">
			<div class="col-sm-12">
				<label class="col-sm-3 control-label"></label>
				<button ng-show="hasPermit('sysRole:insert')" class="btn btn-new" ng-disabled="horizontal.$invalid" ng-click="saveNewRole()">新增角色</button>
			</div>
		</div>
		<div style="height: 50px"></div>
	</form>
</div>