<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="sysRoleCtrl">
	<form class="form-horizontal">
		<div class="row form-group">
			<div class="col-sm-12">
				<label class="col-sm-3 control-label">角色编码：</label>
				<input class="col-sm-5" ng-model="currRole.roleCode" />
				</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-12">
				<label class="col-sm-3 control-label">角色名称：</label>
				<input class="col-sm-5" ng-model="currRole.roleName" />
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-12">
				<label class="col-sm-3 control-label">备注：</label>
				<input class="col-sm-5" ng-model="currRole.roleRemake" />
			</div>
		</div>
		<div class="row form-group col-sm-12">
			<div class="col-sm-12">
				<label class="col-sm-3 control-label"></label>
				<button ng-show="hasPermit('sysRole:update')" class="btn btn-new" ng-click="saveRole()">保存角色</button>
			</div>
		</div>
		<div style="height: 50px"></div>
	</form>
</div>