<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>系统管理</a></li>
			<li class="active"><strong>系统角色</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="sysRoleRightCtrl">
	
	<div class="row">
		<div class="col-lg-12">
			
			<div class="col-lg-6">
			
				<div js-tree="treeConfig" ng-model="sysMenus" tree="treeInstance"
					tree-events="changed:changedCB;ready:readyCB" style="overflow:scroll; width:400px; height:400px;"></div>
					<br/>
				
			</div>
			<div class="col-lg-6">
				角色名称： {{roleName}}
				<div>
					<div class="form-group">
					权限列表：
					</div>
					 <label style="font-weight:normal"><input type="checkbox" ng-model="checkFlag" ng-click="checkAll()" style="margin:3px 3px 0 0; float:left"/>全选</label> 
					<div class="row form-group permits">
					<span ng-repeat="pitem in permitBlock.permits"><label><input type="checkbox" ng-model="pitem.state.selected" data-code="{{pitem.rigthCode}}"/>{{pitem.text}}</label></span>
					</div>
					<button ng-show="hasPermit('sysRole:updateRoleMenuPermits')" class="btn btn-primary" ng-click="savePermits()">保存</button>
					<a class="btn btn-primary4" ui-sref="sys.sysRole">返回</a>
				</div>
			</div>
		</div>

	</div>
	
</div>