<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DataDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.DataDictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="data_key" jdbcType="VARCHAR" property="dataKey" />
    <result column="data_name" jdbcType="VARCHAR" property="dataName" />
    <result column="data_value" jdbcType="VARCHAR" property="dataValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, data_key, data_name, data_value, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from data_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.entity.DataDictionary">
    insert into data_dictionary (id, data_key, data_name, 
      data_value, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{dataKey,jdbcType=VARCHAR}, #{dataName,jdbcType=VARCHAR}, 
      #{dataValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.entity.DataDictionary">
    insert into data_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dataKey != null">
        data_key,
      </if>
      <if test="dataName != null">
        data_name,
      </if>
      <if test="dataValue != null">
        data_value,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dataKey != null">
        #{dataKey,jdbcType=VARCHAR},
      </if>
      <if test="dataName != null">
        #{dataName,jdbcType=VARCHAR},
      </if>
      <if test="dataValue != null">
        #{dataValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.entity.DataDictionary">
    update data_dictionary
    <set>
      <if test="dataKey != null">
        data_key = #{dataKey,jdbcType=VARCHAR},
      </if>
      <if test="dataName != null">
        data_name = #{dataName,jdbcType=VARCHAR},
      </if>
      <if test="dataValue != null">
        data_value = #{dataValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.entity.DataDictionary">
    update data_dictionary
    set data_key = #{dataKey,jdbcType=VARCHAR},
      data_name = #{dataName,jdbcType=VARCHAR},
      data_value = #{dataValue,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="listAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_dictionary
  </select>
  
</mapper>