<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>超级盟主</a></li>
			<li class="active"><strong>机具发货</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn"
	 ng-controller="deliverCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>发货信息</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group" ng-show="loginUserType==1">
							<label class="col-sm-2 control-label">快递公司：</label>
							<div class="col-sm-3">
								<select class="form-control" ng-model="sendData.transportCompany"
										ng-options="x.sysName as x.sysName for x in expresses">
									<option value="" selected>请选择快递公司</option>
								</select>
							</div>
						</div>
						<div class="form-group" ng-show="loginUserType==1">
							<label class="col-sm-2 control-label">物流单号：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="sendData.postNo">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">发货机具：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="sendData.terminalInfo" ng-click="toDeliver()">
							</div>
						</div>
						<div ng-show="loadImg" class="timg"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10">
								<button class="btn btn-primary" type="button" ng-click='toSend()'>确定</button>
								<button class="btn btn-primary8" type="button" ng-click="returnToOrder()">取消</button>
							</div>
						</div>
					</div>
			</div>
		</div>
		</div>
	</form>


	<!-- 选择机具 -->
	<!-- <form class="form-horizontal" name="horizontalCreate" novalidate>
		<div id="expressage" class="modal fade" role="dialog">
			<div class="modal-dialog" style="width: 700px">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-title">
								<button type="button" class="close" data-dismiss="modal">
									&times;</button>
								<h5>机具查询</h5>
							</div>
							<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-2 control-label">机具SN号:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" ng-model="baseInfo.snStart" style="width:150px;display:inline-block;">
										~
										<input type="text" class="form-control" ng-model="baseInfo.snEnd" style="width:150px;display:inline-block;">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label"></label>
									<div class="col-sm-8">
										<button class="btn btn-primary6 btn-mr20"  ng-click="query()">查询</button>
										<button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
									</div>
								</div>

							</div>

							<div class="panel-body ibox float-e-margins">
								<div class="ibox-title">
									<h5>查询列表</h5>
								</div>
								<div class="ibox-content">
									<div class="ibox-content">
										<div class="gridStyle" ui-grid="myGrid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-pinning>
										</div>
										<div style="height:30px;"></div>
									</div>
									<div style="margin-top: 25px;">
										<div class="form-group">
											<label class="col-sm-2 control-label"></label>
											<div class="col-sm-10">
												<button class="btn btn-primary" type="button" ng-click='updateDeliverInfo()'>确定</button>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<button class="btn btn-primary8" type="button" ng-click='hideAllModel()'>取消</button>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
		</div>
		</div>
	</form> -->
	<div id="expressage" class="modal fade" tabindex="3" role="dialog">
        <form class="form-horizontal" id="form2">
            <div class="modal-dialog" style="height: 580px; width: 1300px">
                <div class="modal-content" style="height: 580px; width: 1300px">
                    <div class="modal-body">
                       <div class="form-group">
							<label class="col-sm-2 control-label">机具SN号:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="baseInfo.snStart" style="width:150px;display:inline-block;">
								~
								<input type="text" class="form-control" ng-model="baseInfo.snEnd" style="width:150px;display:inline-block;">
							</div>
						</div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-6">
                                <button class="btn btn-primary6 btn-rounded btn-mr20" type="button" ng-click="query()">查询</button>
                                <button class="btn btn-primary3 btn-rounded btn-mr20" type="button" ng-click="resetForm()">清空</button>
                            </div>
                        </div>
                        <div class="panel-body ibox float-e-margins">
                            <div class="ibox-title">
                                <h5 style="width: 560px;">选择机具</h5>
                                <h5>已选择{{SNResult.length}}台机具</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="gridStyle" ui-grid="SNGrid" style="height: 300px;width: 560px;float: left;"  ui-grid-pinning ui-grid-pagination ui-grid-selection ui-grid-resize-columns></div>
                                <div class="gridStyle" ui-grid="SNResultGrid" style="height: 300px;width: 560px;float: left;"  ui-grid-pinning ui-grid-resize-columns></div>
                                <div ng-show="loadImg" class="timg"></div>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button class="btn btn-primary btn-mr20" type="button" ng-click='updateDeliverInfo()'>确定选择</button>
                                <button class="btn btn-primary8 " type="button" ng-click='cancelSNModel()'>取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>