<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>超级盟主</a></li>
			<li class="active"><strong>机具申购订单</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="paOrderCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>订单查询</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">订单编号：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.orderNo">
							</div>
							<label class="col-sm-2 control-label">申购盟主姓名：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.userName">
							</div>
							<label class="col-sm-2 control-label">申购盟主编号：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.userCode">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">支付方式：</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="baseInfo.transChannel" ng-options="x.value as x.text for x in transChannelSelect">
									<option value="" selected>全部</option>
								</select>
							</div>
							<label class="col-sm-2 control-label">订单状态：</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="baseInfo.orderStatus" ng-options="x.value as x.text for x in orderStatusSelect">
									<option value="" selected>全部</option>
								</select>
							</div>
							<label class="col-sm-2 control-label">订单类型：</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="baseInfo.sendType" ng-options="x.value as x.text for x in sendTypeSelect">
									<option value="" selected>全部</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">发货方：</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="baseInfo.isPlatform" ng-options="x.value as x.text for x in isPlatformSelect">
									<option value="" selected>全部</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">下单日期：</label>
							<div class="col-sm-5">
								<input id="d5221" class="form-control" type="datetime" ng-model="baseInfo.createTimeBegin" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
								~
								<input id="d5222" class="form-control" type="datetime"  ng-model="baseInfo.createTimeEnd" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5221\')}'})"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">支付日期：</label>
							<div class="col-sm-5">
								<input id="d5223" class="form-control" type="datetime" ng-model="baseInfo.transTimeBegin" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d5224=$dp.$('d5224');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5224.focus();},maxDate:'#F{$dp.$D(\'d5224\')}'})"/>
								~
								<input id="d5224" class="form-control" type="datetime"  ng-model="baseInfo.transTimeEnd" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5223\')}'})"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">发货日期：</label>
							<div class="col-sm-5">
								<input id="d6221" class="form-control" type="datetime" ng-model="baseInfo.sendTimeBegin" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d6222=$dp.$('d6222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d6222.focus();},maxDate:'#F{$dp.$D(\'d6222\')}'})"/>
								~
								<input id="d6222" class="form-control" type="datetime"  ng-model="baseInfo.sendTimeEnd" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d6221\')}'})"/>
							</div>
						</div>
<!-- 						<div class="form-group"> -->
<!-- 							<label class="col-sm-2 control-label">确认收货日期：</label> -->
<!-- 							<div class="col-sm-5"> -->
<!-- 								<input id="d6223" class="form-control" type="datetime" ng-model="baseInfo.receiptDateBegin" onchange=""  style="width:auto;display:inline-block;" -->
<!-- 									   onFocus="var d6224=$dp.$('d6224');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d6224.focus();},maxDate:'#F{$dp.$D(\'d6224\')}'})"/> -->
<!-- 								~ -->
<!-- 								<input id="d6224" class="form-control" type="datetime"  ng-model="baseInfo.receiptDateEnd" onchange=""  style="width:auto;display:inline-block;" -->
<!-- 									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d6223\')}'})"/> -->
<!-- 							</div> -->
<!-- 						</div> -->
						<div class="form-group">
							<label class="col-sm-2 control-label">机具款项入账日期：</label>
							<div class="col-sm-5">
								<input id="d6225" class="form-control" type="datetime" ng-model="baseInfo.entryTimeBegin" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d6226=$dp.$('d6226');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d6226.focus();},maxDate:'#F{$dp.$D(\'d6226\')}'})"/>
								~
								<input id="d6226" class="form-control" type="datetime"  ng-model="baseInfo.entryTimeEnd" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d6225\')}'})"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">机具分润入账日期：</label>
							<div class="col-sm-5">
								<input id="d6227" class="form-control" type="datetime" ng-model="baseInfo.accTimeBegin" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d6228=$dp.$('d6228');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d6228.focus();},maxDate:'#F{$dp.$D(\'d6228\')}'})"/>
								~
								<input id="d6228" class="form-control" type="datetime"  ng-model="baseInfo.accTimeEnd" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d6227\')}'})"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20"  ng-click="query()">查询</button>
								<button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
								<button class="btn btn-primary7 btn-mr20" type="button" ng-click="import()">批量导出</button>
								<button class="btn btn-new btn-mr20" type="button" ng-show="showBatchSendButton==1" ng-click="toSendTerminalBatch()">批量发货</button>
							</div>
						</div>
					</div>
                </div>

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>查询列表</h5>
					</div>
                    <div class="col-sm-8 checkbox" style="float: right;">
                    	总计：已发货<span style="color: red;" >{{receivedTotal}}</span> 笔 <span style="color: red;" >￥{{totalReceivedAmount}}</span>，
                    		  待发货<span style="color: red;" >{{waitSendTotal}}</span> 笔  <span style="color: red;" >￥{{totalWaitSendAmount}}</span>,
                    		  机具款项已入账 <span style="color: red;" >￥{{accountedTotal}}</span>
                    		  未入账 <span style="color: red;" >￥{{unAccountTotal}}</span>
                    		  机具分润已入账 <span style="color: red;" >￥{{shareAccountedTotal}}</span>
                    		  未入账 <span style="color: red;" >￥{{shareUnAccountTotal}}</span>
                    		  已发货机具 <span style="color: red;" >{{terminalTotal}}</span> 台
                    </div>
					<div class="ibox-content">
						<div class="gridStyle" ui-grid="myGrid" ui-grid-selection ui-grid-pagination
							 ui-grid-resize-columns ui-grid-pinning></div>
					</div>
				</div>
				<div style="height:30px;"></div>
			</div>
		</div>
	</form>


	<form class="form-horizontal" name="horizontalCreate" novalidate>
		<div id="sendTerminalBatch" class="modal fade" role="dialog">
			<div class="modal-dialog" style="width: 500px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h3 class="modal-title">批量发货</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="col-sm-10">
								<span style="padding-left: 12px">1.下载批量发货模板文件</span>
								<a style="margin-left: 10px" href="paOrder/downloadTemplate" >下载模板</a>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10">
								<span style="padding-left: 12px">2.上传填好的模板文件</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10">
								<input style="padding-left: 10px" type="file" nv-file-select="" ng-model="fileSelect" uploader="uploader" multiple/>
								<table class="table">
									<tbody>
									<tr ng-repeat="item in uploader.queue">
										<td>
											<strong>{{ item.file.name }}</strong>
										</td>
										<td nowrap>
											<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
												<span class="glyphicon glyphicon-trash"></span>删除
											</button>
										</td>
									</tr>
									</tbody>
								</table>
                                <div ng-show="loadImg" class="timg"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10">
								<button class="btn btn-new btn-mr20" type="button" ng-click='submit()()'>确定发货</button>
								<button class="btn btn-new btn-mr20" type="button" ng-click='hideAllModel()'>取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>


	<div id="batchSendResult" class="modal fade" tabindex="3"
		 role="dialog">
		<form class="form-horizontal" id="form2">
			<div class="modal-dialog" style="height: 400px; width: 900px">
				<div class="modal-content" style="height: 600px; width: 900px">
					<div class="modal-body">
						<div class="ibox-content">
							<div class="form-group">
								<label class="col-sm-3 control-label" style="text-align:left;">批量发货处理已完成</label>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" style="text-align:left;">发货成功订单：<ng-cell-text style="color: red;">{{successCount}}</ng-cell-text>笔</label>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" style="text-align:left;">发货失败订单：<ng-cell-text style="color: red;">{{errorCount}}</ng-cell-text>笔</label>
							</div>
							<div class="panel-body ibox float-e-margins">
								<label class="col-sm-3 control-label" style="text-align:left;">发货失败订单如下</label>
								<div class="ibox-content">
									<div class="gridStyle" ui-grid="sendResultGrid" style="height: 300px;"  ui-grid-pinning ui-grid-resize-columns></div>
								</div>
							</div>
						</div>
						<div class="form-group control-label">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary " type="button" ng-click='closeBatchSendResult()'>确定</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- 选择机具 -->
	<form class="form-horizontal" name="horizontalCreate" novalidate>
		<div id="expressage" class="modal fade" role="dialog">
			<div class="modal-dialog" style="width: 700px">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-title">
								<button type="button" class="close" data-dismiss="modal">
									&times;</button>
								<h5>发货信息</h5>
							</div>
							<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-5 control-label">物流单号：</label>
									<div class="col-sm-2" ng-show="orderPostNo!=null">
										<p class="form-control-static">{{orderPostNo}}</p>
									</div>

								</div>
								<div class="form-group">

									<label class="col-sm-5 control-label">快递公司：</label>
									<div class="col-sm-2" ng-show="orderTransportCompany!=null">
										<p class="form-control-static">{{orderTransportCompany}}</p>
									</div>
								</div>

							</div>

							<div class="panel-body ibox float-e-margins">
								<div class="ibox-title">
									<h5>查询列表</h5>
								</div>
								<div class="ibox-content">
									<div class="gridStyle" ui-grid="myDevGrid" ui-grid-selection ui-grid-pagination
										 ui-grid-resize-columns ui-grid-pinning>
									</div>
									<div style="height:30px;"></div>

								</div>
							</div>
                            <div class="panel-body ibox float-e-margins">
								<div class="ibox-title">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <button class="btn btn-primary4" type="button" ng-click="hideDevModel()">返回</button>
                                        </div>
                                    </div>
								</div>

							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</form>

</div>