<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>超级推管理</a></li>
			<li class="active"><strong>增加超级推规则</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="addRuleCtrl">
	<form class="form-horizontal" name="ruleForm">
		<div class="form-group">
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>增加超级推规则</h5>
							<!--<div ibox-tools></div>-->
						</div>
						<div class="ibox-content">
							<div class="form-group">
								<label class="col-sm-2 control-label">业务产品：</label>
								<div class="col-sm-2">
									<select chosen="{width:'100%'}"  class="chosen-select" tabindex="4" ng-model="info.bpId" ng-options="x.bpId as x.bpName for x in productTypes">
							            <option value=""></option>
							        </select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">推荐人奖励金额：</label>
								<div class="col-sm-2">
									<span style="float: right;margin-top: 9px;width: 9%">元</span><input type="text" class="form-control" ng-model="info.recommendedAmount" style="width: 90%">
								</div>
								<label class="col-sm-2 control-label">奖励有效节点：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="info.rewardValidNode" ng-options="x.value as x.text for x in validNode"/>
								</div>
								<label class="col-sm-2 control-label">待处理订单阈值：</label>
								<div class="col-sm-2">
									<span style="float: right;margin-top: 9px;width: 19%">小时</span><input type="text" class="form-control" ng-model="info.orderThreshold" style="width: 80%">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" >代理商接单费用：</label>
								<div class="col-sm-2">
									<span style="float: right;margin-top: 9px;width: 9%">元</span><input type="text" class="form-control" ng-model="info.orderAgentFee" style="width: 90%">
								</div>
								<label class="col-sm-2 control-label">费用有效节点：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="info.feeValidNode" ng-options="x.value as x.text for x in validNode"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">抢单时间：</label>
								<div class="col-sm-2">
									<span style="float: right;margin-top: 9px;width: 19%">小时</span><input type="text" class="form-control" ng-model="info.grabOrderTime" style="width: 80%">
								</div>
								<label class="col-sm-2 control-label">反馈时间：</label>
								<div class="col-sm-2">
									<span style="float: right;margin-top: 9px;width: 19%;">小时</span><input type="text" class="form-control" ng-model="info.feedbackTime" style="width: 80%">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">有效日期：</label>
								<div class="col-sm-6">
									<input type="datetime" style="width:auto;display:inline-block;" class="form-control" date-time ng-model="info.efficientDate" view="date"  min-view="date" format="YYYY-MM-DD">
										-
									<input type="datetime" style="width:auto;display:inline-block;" class="form-control" date-time ng-model="info.disabledDate" view="date"  min-view="date" format="YYYY-MM-DD">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row wrapper-content">
				<div class="col-lg-12">
					<button class="btn btn-primary" type="button" ng-click="addRule()">提交</button>
				</div>
			</div>
		</div>
	</form>

</div>