<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/service/addService">主页</a></li>
			<li><a>超级推管理</a></li>
			<li class="active"><strong>超级推订单查询</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="queryOrderCtrl">
	<form class="form-horizontal">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>超级推订单查询</h5>
					<!--<div ibox-tools></div>-->
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<label class="col-sm-2 control-label">订单ID：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.order_id">
						</div>
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-2">
						</div>
						<label class="col-sm-2 control-label">订单状态：</label>
						<div class="col-sm-2">
							<select class="form-control" ng-model="info.order_status" ng-options="x.value as x.text for x in orderStatus"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">被推荐人姓名：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.lawyer">
						</div>
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-2">
						</div>
						<label class="col-sm-2 control-label">被推荐人手机号：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.mobilephone">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">推荐商户名称/编号：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.merchant_no">
						</div>
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-2">
						</div>
						<label class="col-sm-2 control-label">推荐商户代理商名称/编号：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.agent_no">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">接单人类型：</label>
						<div class="col-sm-2">
							<select class="form-control" ng-model="info.order_user_type" ng-options="x.value as x.text for x in types"/>
						</div>
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-2">
						</div>
						<label class="col-sm-2 control-label">接单代理商名称：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.j_agent_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">订单创建时间：</label>
						<div class="col-sm-6">
							<input type="datetime" style="width:auto;display:inline-block;" class="form-control" date-time ng-model="info.s_create_time" min-view="date" view="date" format="YYYY-MM-DD">
								-
							<input type="datetime" style="width:auto;display:inline-block;" class="form-control" date-time ng-model="info.e_create_time" min-view="date" view="date"  format="YYYY-MM-DD">
						</div>
						<label class="col-sm-2 control-label">业务产品：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.bp_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">订单接单时间：</label>
						<div class="col-sm-6">
							<input type="datetime" style="width:auto;display:inline-block;" class="form-control" date-time ng-model="info.s_order_time" min-view="date" view="date" format="YYYY-MM-DD">
								-
							<input type="datetime" style="width:auto;display:inline-block;" class="form-control" date-time ng-model="info.e_order_time" min-view="date" view="date"  format="YYYY-MM-DD">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-4">
							<input type="button" class="btn btn-primary6" ng-click="query()" id="query" value='查询'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
			<div class="ibox-title">
					<h5>超级推订单信息表</h5>
					<!--<div ibox-tools></div>-->
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<div class="gridStyle" ui-grid="orderGrid" ui-grid-pagination ui-grid-selection ui-grid-resize-columns></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
</div>