<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#/service/addService">主页</a></li>
            <li><a>黑名单</a></li>
            <li class="active"><strong>黑名单回复</strong></li>
        </ol>
    </div>
</div>

<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn"
     ng-controller="blackHandleDetailCtr">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>黑名单再次处理</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商户编号：</label>
                                <span class="col-sm-10" ng-bind="record.merchantNo"></span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商户名称：</label>
                                <span class="col-sm-10" ng-bind="record.merchantName"></span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">触犯风控规则：</label>
                                <span class="col-sm-10" ng-bind="record.riskDealTemplateNo"></span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">所属代理商编号：</label>
                                <span class="col-sm-10" ng-bind="record.oneAgentNo"></span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">所属代理商名称：</label>
                                <span class="col-sm-10" ng-bind="record.oneAgentName"></span>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label">触犯风控规则信息：</label>
                                <div class="col-sm-5 "><label  ng-bind="record.riskDealMsg"></label></div>

                            </div>
                            <div class="form-group" >
                                <label class="col-sm-1 control-label" ></label>
                                <div class="col-sm-11">
                                    <div style=" border-bottom: 1px solid #999999;"></div>
                                </div>
                            </div>
                            <div ng-show="dealReplyRecords.length >=2">

                                <div class="form-group" >
                                    <label class="col-sm-2 control-label" ng-if="dealReplyRecords[dealReplyRecords.length-2].replierType=='0'" >商户处理:</label>
                                    <label class="col-sm-2 control-label" ng-if="dealReplyRecords[dealReplyRecords.length-2].replierType=='1'" >代理商处理:</label>
                                    <div class="col-sm-10">
                                        <div ng-repeat="item in dealReplyRecords[dealReplyRecords.length-2].filesList">
                                            <div class="templateStyle">
                                                <div style="margin-top:20px">
                                                    <div style="width: 250px; padding: 0; margin:0; box-sizing: content-box; height: 150px; border: 1px solid #eee;"
                                                         class="col-img">
                                                        <a href="{{item.imgUrl}}"  fancybox rel="group">
                                                            <img width="250px" height="150px" ng-src="{{item.imgUrl}}"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"  ng-if="dealReplyRecords[dealReplyRecords.length-2].replierType=='0'"></label>
                                    <label class="col-sm-2 control-label"  ng-if="dealReplyRecords[dealReplyRecords.length-2].replierType=='1'"></label>
                                    <div class="col-sm-10">
                                    <textarea class="form-control" rows="6" cols="15" readonly
                                              ng-bind="dealReplyRecords[dealReplyRecords.length-2].replyMsg"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" ></label>
                                    <div class="col-sm-10">
                                      <p 
                                                   ng-if="dealReplyRecords[dealReplyRecords.length-2].replierType=='0'" >商户处理时间: <span ng-bind="dealReplyRecords[dealReplyRecords.length-2].replyTime "></span></p>
                                      <p 
                                                   ng-if="dealReplyRecords[dealReplyRecords.length-2].replierType=='1'" >代理商处理时间: <span ng-bind="dealReplyRecords[dealReplyRecords.length-2].replyTime "></span></p>
                                  
                                            
                                    </div>
                                </div>

                            </div>
                            <div ng-show="dealRecord.riskDealMsg!=(record.riskDealMsg)">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">平台风控回复:</label>
                                    <div class="col-sm-10">
                                            <textarea class="form-control" rows="4" cols="15" readonly
                                                      ng-bind="dealRecord.riskDealMsg"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10"><p
                                            >回复日期:<span ng-bind="dealRecord.createTime"></span></p>
                                    </div>
                                </div>
                                <div style="clear: both; border-bottom: 1px solid #999999; margin-bottom: 20px;"></div>
                            </div>
                           <!-- <div class="form-group" >
                                <label class="col-sm-1 control-label" ></label>
                                <div class="col-sm-11">
                                    <div style=" border-bottom: 1px solid #999999;"></div>
                                </div>
                            </div>-->
                                <div class="form-group" >
                                    <label class="col-sm-2 control-label" ng-if="replyRecord.replierType=='0'" >商户处理:</label>
                                    <label class="col-sm-2 control-label" ng-if="replyRecord.replierType=='1'" >代理商处理:</label>
                                    <div class="col-sm-10">

                                        <div ng-repeat="item in replyRecord.filesList">
                                            <div class="templateStyle">
                                                <div style="margin-top:20px">
                                                    <div style="width: 250px; padding: 0; margin:0; box-sizing: content-box; height: 150px; border: 1px solid #eee;"
                                                         class="col-img">
                                                        <a href="{{item.imgUrl}}"  fancybox rel="group">
                                                            <img width="250px" height="150px" ng-src="{{item.imgUrl}}"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" ></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="6" cols="15" readonly
                                              ng-bind="replyRecord.replyRemark"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                <p
                                        ng-if="replyRecord.replierType=='0'">商户处理时间:<span ng-bind="replyRecord.createTime"></span> </p>
                                <p
                                        ng-if="replyRecord.replierType=='1'">代理商处理时间:<span ng-bind="replyRecord.createTime"></span> </p>
                                </div>
                            </div>
                            <div ng-show=" deal.riskDealMsg != null ">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"  >平台风控最后回复:</label>
                                    <div class="col-sm-10 checkbox">
                                        <textarea class="form-control" rows="4" cols="15" readonly ng-bind="deal.riskDealMsg"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" ></label>
                                    <div class="col-sm-10">
                                     <p>回复日期: <span ng-bind="deal.createTime"></span> </p></div>
                                    </div>
                                </div>

                            </div>

                                </div>
                            <div class="form-group" >
                                <div class="col-lg-12" style="padding: 30px; ">
                                    <div style="margin-left:100px;font-size: large">
                                        <a ng-show="dealReplyRecords.length >=2" ng-click="openReplyModal()">查看更多回复记录></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 200px">
                                <div class="col-lg-12" style="padding: 30px; ">
                                    <a class="btn btn-primary11" style="color:#fff; background: #3baaff;padding: 7px 29px 7px 29px;border-color: #3baaff;" ui-sref="riskControlManagement.twiceBlackHandle({orderNo:record.origOrderNo})">继续处理</a>
                                    <!--
                                                                                    <a style="margin-left: 20px" class="btn btn-primary4"
                                                                                       ui-sref="riskControlManagement.handle" id="btnSubmit2">返回</a>
                                    -->
                                </div>
                            </div>
                            </div>
                        </div>
                        <div style="height: 30px;"></div>
                        <div id="replyModal" class="modal fade form-horizontal" tabindex="4" role="dialog">
                            <div class="modal-dialog" style="height:800px;width: 1200px">
                                <div class="modal-content">
                                    <form class="form-horizontal" name="horizontalCard" novalidate>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                &times;
                                            </button>
                                            <h3 class="modal-title">历史回复</h3>
                                        </div>
                                        <div class="modal-body" style="overflow-y: auto;height: 700px;">
                                            <div ng-repeat="item in dealReplyRecords">
                                                <div class="form-group" >
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">平台风控回复:</label>
                                                        <div class="col-sm-10 checkbox">
                                                                <textarea class="form-control" rows="4" cols="15"
                                                                          readonly
                                                                          ng-bind="item.dealMsg" ></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label"></label>
                                                        <div class="col-sm-10"><p
                                                                >回复时间:<span ng-bind="item.dealTime "></span></p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group" >
                                                    <label class="col-sm-2 control-label" style="text-align: right" ng-if="item.replierType=='0'">商户处理:</label>
                                                    <label class="col-sm-2 control-label" style="text-align: right" ng-if="item.replierType=='1'">代理商处理:</label>
                                                    <div class="col-sm-10">
                                                        <div ng-repeat="item1 in item.filesList">
                                                            <div class="templateStyle">
                                                                <div style="margin-top:20px">
                                                                    <div style="width: 250px; padding: 0; margin:0; box-sizing: content-box; height: 150px; border: 1px solid #eee;"
                                                                         class="col-img">
                                                                        <a href="{{item1.imgUrl}}"  fancybox rel="group">
                                                                            <img width="250px" height="150px"
                                                                                 ng-src="{{item1.imgUrl}}"/>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label" ng-if="item.replierType=='0'"></label>
                                                    <label class="col-sm-2 control-label" ng-if="item.replierType=='1'"></label>
                                                    <div class="col-sm-10 checkbox">
                                                        <textarea class="form-control" rows="6" cols="15" readonly
                                                                  ng-bind="item.replyMsg"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"
                                                           ></label>
                                                    <div class="col-sm-10">
                                                    <p
                                                           ng-if="item.replierType=='0'">商户处理时间:<span ng-bind="item.replyTime"></span></p>
                                                    <p
                                                           ng-if="item.replierType=='1'">代理商处理时间:<span ng-bind="item.replyTime"></span></p>
                                                    </div>
                                                </div>
                                                <div class="form-group"  ng-if="$index!=dealReplyRecords.length-1">
                                                    <label class="col-sm-1 control-label" ></label>
                                                    <div class="col-sm-11">
                                                        <div style=" border-bottom: 1px solid #999999;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-group{
         overflow: hidden;
    }
    .control-label{
         text-align: right;
    }
</style>